[2021-01-19 19:17] joshrabinowitz commented on #640
Is there a way git-secret itself will create extra blank lines in mapping.cfg?

Or is this just protecting against user errors when writing mapping.cfg manually (which is highly discouraged)?

[2021-01-19 21:39] otosky commented on #640
I'll have to double check what produced the extra newline artifact in the first place.  I only noticed the issue after a coworker committed some code to a shared repo that had added some entries to the mapping.cfg file.

I'll poke around to see whether I can reproduce the error from `git-secret` itself.  I don't think he would have had any reason to explicitly alter the cfg file, but it could very

[2021-01-24 23:48] pedroos opened #642 "Non-ASCII filename files are not added if core.quotepath is on"
What are the steps to reproduce this issue?
-------------------------------------------
1. Set Git to print non-ASCII file names in quoted octal notation: `$ git config --global core.quotepath on`
1. Create a file with a non-ASCII filename: `$ touch É.txt`
2. Try to add the file to git-secret: `$ git-secret add É.txt`

What happens?
-------------
`$ git-secret: abort: file not found: É.txt`

What

[2021-01-25 02:03] pedroos opened #643 "Newline not added to .gitignore entry on add"
What are the steps to reproduce this issue?
-------------------------------------------
1. Add multiple files to git-secret

What happens?
-------------
- The .gitignore entries created don't have newlines between them (thus the entries don't work)

What were you expecting to happen?
----------------------------------
- Newlines between .gitignore entries inserted by git-secret

Any other comments

[2021-01-27 07:30] sandylaw commented on #642
`git config --global core.quotepath false`

[2021-01-30 15:48] joshrabinowitz commented on #643
Hello, @pedroos

Thank you very much for reporting this issue, and for your patch.

We will take a look at it soon and likely integrate your suggestion. If you wanted to submit a PR, that would be welcome too!

[2021-01-30 16:11] joshrabinowitz commented on #642
Hello @pedroos

Thank you for reporting this issue; I was able to replicate it easily from your example.

As described at https://git-scm.com/docs/git-config, `core.quotePath true` is the default, which means that `git-secret` will likely have issues with any filenames with  "'unusual' characters in the pathname" unless the user configures `git` to set `core.quotePath false`.

So the question is,

[2021-01-31 15:40] pedroos commented on #642
My use case was of plain text files, instead of programs (where I'd stick to ASCII filenames). I don't know if this type of file is in the scope of git-secret, but I can see how this is GIT's problem instead.

[2021-02-04 01:32] dkrutsko opened #646 "Bintray is going away"
According to [this blog post](https://jfrog.com/blog/into-the-sunset-bintray-jcenter-gocenter-and-chartcenter), Bintray is being retired May 1st. I believe this project will be affected as some of your artifacts, like RPM, are being stored there.

[2021-02-04 06:54] sobolevn commented on #646
Oh, bad news 😢

[2021-02-06 16:50] bunkiedc opened #647 "git-secret/src/_utils/_git_secret_tools_linux.sh has wrong call to function for a variable assignment"
What are the steps to reproduce this issue?
-------------------------------------------
1. …The problem occurs when using the -P option to git secret hide
2. …
3. …

What happens?
-------------
…causes an error to be thrown to the screen when it fails to execute the variable assignment

What were you expecting to happen?
----------------------------------
…not to complain

Any logs, error output,

[2021-02-08 15:00] joshrabinowitz commented on #647
@bunkiedc thank you for this issue report.
I will take a look in the next few days and probably submit a PR to fix this.
Can you retest with Busybox after I make the proposed change?

[2021-02-08 15:17] joshrabinowitz commented on #647
@bunkiedc can you please test #648

[2021-02-08 15:20] bunkiedc commented on #647
Hi Josh.  I'm not using busybox, just the -P option, and it failed onthat line.

-----Original Message-----
From: Josh Rabinowitz <notifications@github.com>
To: sobolevn/git-secret <git-secret@noreply.github.com>
Cc: David Crespi <bunkiedc@aol.com>; Mention <mention@noreply.github.com>
Sent: Mon, Feb 8, 2021 7:00 am
Subject: Re: [sobolevn/git-secret] git-secret/src/_utils/_git_secret_tools_linux.s

[2021-02-08 15:23] joshrabinowitz commented on #647
@bunkiedc it failed with my change, or without it?
Can't tell if you tested #648

[2021-02-08 16:04] bunkiedc commented on #647
Hi Josh,I haven't tested your change... I'm not using busybox, just Ubuntu cmd line.It failed on that line regardless of using busybox or not, once the -P is invoked.
Your change looks okay to me.  If you want me to try it with my environment, I cando that later today.

-----Original Message-----
From: Josh Rabinowitz <notifications@github.com>
To: sobolevn/git-secret <git-secret@noreply.github.co

[2021-02-08 16:29] joshrabinowitz commented on #647
@bunkiedc yes please do, thank you

[2021-02-08 19:00] bunkiedc commented on #647
Josh,The patch works great!thanks for your work!!
best,       dave

-----Original Message-----
From: Josh Rabinowitz <notifications@github.com>
To: sobolevn/git-secret <git-secret@noreply.github.com>
Cc: David Crespi <bunkiedc@aol.com>; Mention <mention@noreply.github.com>
Sent: Mon, Feb 8, 2021 8:29 am
Subject: Re: [sobolevn/git-secret] git-secret/src/_utils/_git_secret_tools_linux.sh has wrong c

[2021-02-09 18:51] ikhomyakov opened #649 "Do we really need the sha-256 hashes in mapping.cfg"
It appears that sha-256 hashes in `.gitsecret/paths/mapping.cfg` are more a hindrance than help:

1. They are never used by any other git-secret commands.
2. They increase the likelihood of merge conflicts. `.gitsecret/paths/mapping.cfg` changes every time when any secret file changes, and therefore one extra file to worry about during commits and merges.
3. This verification mechanism appears to

[2021-02-09 19:10] hurricanehrndz commented on #649
@ikhomyakov

It has been a while since I have taken a look at the codebase. This feature was originally introduced to resolve the following #107

I am assuming today you are using git filters, if that is the case I do not see the need to keep the hashes.

[2021-02-09 19:13] hurricanehrndz commented on #649
PS really sorry for bringing up such an old commit and how bad my commit messages were in the past. Ewee.

[2021-02-09 19:55] ikhomyakov commented on #649
Thanks for the pointers! This is perfect -- I think I understand the issue now and why the hashes were introduced. Let me process this information a bit and I will get back .

[2021-02-09 20:00] ikhomyakov commented on #649
By the way, we are not using using filters, we are using git-secret in a manual mode, i.e. running git-secret commands manually.

[2021-02-09 20:01] hurricanehrndz commented on #649
No worries. At the time that was the most elegant solution, I could come up with. There may be a better approach today, but that would require getting caught with a lot of changes.

[2021-02-09 21:19] joshrabinowitz commented on #649
@hurricanehrndz I'm here to answer any questions!!!!

[2021-02-09 23:02] ikhomyakov commented on #649
We just realized that the workaround that I described earlier doesn't work. Thanks for the clarifications provided by @hurricanehrndz (issues #107 and #92). I have removed the workaround description so that other folks wouldn't fall for the same trap.

[2021-02-10 00:00] ikhomyakov commented on #649
Thanks guys. Now I understand why the hashes were introduced in the first place and how they are used by `git-secret hide -m` to encrypt only only those secret files that were modified -- it is a needed feature and after all the implemented solution with hashes in mapping.cfg appears to be quite elegant and does the job and the potential issues it introduces (items #2 and #3 in the original issue

[2021-02-10 01:04] hurricanehrndz commented on #649
Yes the solution you proposed will work, there is a potential for secret leakage so that will need to be taken into consideration.

I will pin something back soon, so that we ensure secrets do not get leaked.

Otherwise, I think it is a sensible approach and I know of other tools that do it in the manner.

[2021-02-10 02:41] ikhomyakov commented on #649
@hurricanehrndz, could you clarify what potential secret leakage you are referring to?

If we were to implement @kingpong's proposal, I would enhance it a little bit roughly as follows:
1. Calculate sha-256 of the plaintext (if plaintext exists): **h1**. If plaintext doesn't exist, then Skip the rest.
2. Decrypt the ciphertext (if it exists and if the user has the private key) and Calculate sha-25

[2021-02-10 02:52] hurricanehrndz commented on #649
Something similar to this issue is a potential depending on the implementation. I think as long as the permissions are set correctly on temp files and an appropriate umask is set, you will be golden.

https://github.com/ryantm/agenix/issues/1

[2021-02-10 02:56] ikhomyakov commented on #649
@hurricanehrndz, please note that the enhanced solution does not use any temporary files.

[2021-02-10 02:59] hurricanehrndz commented on #649
@ikhomyakov

My apologies, I totally glanced over the updated proposal. Looks good!

[2021-02-12 16:51] ikhomyakov commented on #649
If no one objects, I will close this issue because the benefits do not seem significant enough to warrant this change.

However, if you guys would like to go this route and try to simplify git-secret even more, here are two more questions:

2) **Do we really need mapping.cfg?** Extension ".secret" is special anyway. Why not pick up the secret files by simply traversing the file tree by extension?

[2021-02-17 22:47] FanchenBao commented on #563
I was having the same issue on macOS Catalina 10.15.6 with `git-secret` 0.3.3. Prompted to enter pass phrase after calling `git secret reveal`, but then it just hangs. The issue is resolved by ... close the current shell and open a new one. The equivalent of blowing into an Atari cartridge.

[2021-02-22 18:10] #649 closed

[2021-03-04 17:21] ratijas commented on #566
I think it would be best to add such pattern to the template `.gitignore` file: either full `*~` or narrowed down `.gitsecret/keys/**/*~`.

[2021-03-15 07:30] gdsotirov commented on #498
I though of the same and I found this issue :-) The note you [added in the README](#499) @joshrabinowitz appears on the [project page](https://github.com/sobolevn/git-secret), but not on [the project site](https://git-secret.io/). It would be good to have it on both, because I believe this is important information.

[2021-03-15 18:44] bunkiedc opened #651 "routine _add_ignored_file changed from echo to printf - forgot to include \n (newline)."
What are the steps to reproduce this issue?
-------------------------------------------
1. …git secret add filename
2. …
3. …

What happens?
-------------
…file names in .gitignore are all put back to back on a single line... ie no cR/LF

What were you expecting to happen?
----------------------------------
…Each file should end up on a single line

Any logs, error output, etc?
-------------------

[2021-03-15 21:21] joshrabinowitz commented on #651
hello @bunkiedc and thank you for this bug report.

This is a duplicate of #643, and @pedroos has worked up a fix in PR #645

Would it be possible for you to test using PR #645 and confirm that this fixes the problem for you?

If so I'll go ahead and merge that PR in and close these two issues.

[2021-03-15 21:25] joshrabinowitz commented on #643
@pedroos I'm planning to merge this soon. If you could add a test showing it works as expected that would be great!

[2021-03-15 22:25] pedroos commented on #643
@joshrabinowitz, Hi, sorry, I won't be able to contribute this test.

[2021-03-15 22:53] bunkiedc commented on #651
Hi Josh,The patch that @pedroos posted in #643 is exactly the same that I didin my version here, which works great.  I've tried it on two different machines.

-----Original Message-----
From: Josh Rabinowitz ***@***.***>
To: sobolevn/git-secret ***@***.***>
Cc: David Crespi ***@***.***>; Mention ***@***.***>
Sent: Mon, Mar 15, 2021 2:21 pm
Subject: Re: [sobolevn/git-secret] routine _add_ignored_fi

[2021-04-07 18:32] joshrabinowitz opened #652 "document that we try to avoid force-pushes, because they are more confusing than useful generally"
If there's a reason to force-push, then it's totally cool.
Also we generally 'squash-merge' PRs when merging them, so PRs show up in master branch as a single commit anyway

[2021-04-07 18:32] joshrabinowitz commented on #652
wrong project

[2021-04-07 18:32] #652 closed

[2021-04-07 20:55] emacdona commented on #136
I see this is still open. I ran into it today. Initialized git secret on my mac, gpg version: 2.2.27, but can't reveal secrets on our CI/CD server: Ubuntu 16.04 (xenial); gpg version: 2.1.11.

Are there any plans to implement a fix? And is there any documentation for the export/import of keys? In the meantime, I may try this docker workaround.

Thanks!

[2021-04-07 22:34] joshrabinowitz commented on #136
I think the fix is to use `armor` format keys instead of the binary ones (See #623).
Actually fixing the problem with binary keys is very hard.

[2021-04-07 22:34] joshrabinowitz commented on #136
That's good input about documenting how to export and import keys, I'll add a ticket about that @emacdona

[2021-04-12 14:31] Fouppy commented on #646
Any plans to move packages somewhere else?

[2021-04-12 18:59] StephenMP commented on #646
Bintray finally bit the dust, we switched to installing from source which works; however, may be good to look at getting a debian package hosted somewhere?

[2021-04-12 19:06] joshrabinowitz commented on #646
@Fouppy / @StephenMP  Do you (or other users of git-secret) have suggestions about which package hosting service we should consider?

[2021-04-13 13:00] dkrutsko commented on #646
As a stopgap measure, why not just host repository files directly on GitHub through their releases feature?

[2021-04-13 14:23] Neamar commented on #646
Agreed, hosting on Github would be a good way to fix the issue :)

[2021-04-13 20:51] joshrabinowitz commented on #646
@sobolevn can you make this change?

[2021-04-13 21:32] sobolevn commented on #646
Yes! 👍

[2021-04-14 08:10] MathiasPius opened #653 "Request for clarification: Access to historical secrets after revocation"
I wasn't able to find an answer to this question on the website or the documentation, and was not able to decipher definitively one way or the other from the source code, so I pose my question here:

What, if any, measures does git-secret take to prevent post-revocation access to historical secrets in the git history?

Assuming a user has access to a public repository, has been included in the key

[2021-04-14 09:28] sobolevn commented on #653
Hi! @MathiasPius this is a great question!

Indeed, we don't have any might to revoke things that was once granted.
So, all granted secrets must be re-newed if you remove someone from a trusted key-ring.

It is surely must be in the "killperson" command docs.

[2021-04-14 10:31] MathiasPius commented on #653
Thanks for the quick reply!

The documentation of [git-secret-killperson](https://git-secret.io/git-secret-killperson) says the following:

... Which is technically true for the files as they exist at the HEAD of the repository, but I believe it could benefit from a clarification regarding historical secrets, although I'll admit I'm not entirely sure of a formulation. Perhaps an addendum like this

[2021-04-14 10:56] sobolevn commented on #653
👍

[2021-04-14 13:38] #653 closed

[2021-04-20 22:12] jcrben commented on #136
See also https://github.com/sobolevn/git-secret/issues/631

[2021-04-23 17:30] jradxl opened #655 "Why is there a "hyphen" missing from some of your documentation?"
What are the steps to reproduce this issue?
-------------------------------------------
1. … Read the documentation, and realise there is a difference between
git-secret init
AND
git secret init

What happens?
-------------
Complete confusion to a first time user.

What were you expecting to happen?
----------------------------------
Your command is "git-secret"

Any logs, error output, etc?
-----

[2021-04-26 16:12] 030 opened #656 "forbidden while trying to download https://dl.bintray.com/sobolevn/deb/git-secret_0.3.3_all.deb"
Since today, it does not seem to be possible to download the git-secret debian packages from bin tray anymore.

[2021-04-26 16:51] cyril94440 commented on #656
Same happening here! All CI/CD down :(

[2021-04-26 16:58] 030 commented on #656
Could the debian packages be moved to the releases section of [github](https://github.com/sobolevn/git-secret)?

[2021-04-26 17:15] sobolevn commented on #656
Looks like GitHub cannot store `deb` releases the same way BinTray did.

There are different tools to emulate it: https://github.com/rpatterson/github-apt-repos
But, it does not seem good enough.

[2021-04-30 16:39] Neamar commented on #646
Hi!

![image](https://user-images.githubusercontent.com/536844/116726291-5d204b80-a9e3-11eb-8ddb-96b46d39df41.png)

Bintray is going away in a couple hours, and the current installation procedure is still using it. Is there any other methode that can be used?

[2021-04-30 16:48] sobolevn commented on #646
I have reached GitHub engineers and consulted their docs, GitHub releases cannot be used as an alternative for Bintray yet. Because it does not provide `apt`-compatible interface.

There's https://packagecloud.io/l/apt-repository
But, I will need more time to research it.

[2021-04-30 17:11] Neamar commented on #646
I see. Otherwise, can we host the actual binary (without apt) to be downloaded as a release?

For instance, just hosting the .deb file? This way users can `dpkg -i` the file.

[2021-04-30 17:16] sobolevn commented on #646
I guess that in our case it would be easier to host just a text file, because `git-secret` is written in `bash`, so it can be as easy as just dropping a single text file into `$PATH`.

This is, of course, a temporary fix, utill we can fully move to a new hosting provider.

[2021-04-30 17:19] dkrutsko commented on #646
@sobolevn in the meantime, maybe the repository packages can just be stored in GitHub's release infrastructure? We can, for example, download the RPM and install it locally on our systems.

[2021-05-02 14:19] venux92 commented on #656
any workaround?
I'm having the same issue: `The repository 'https://dl.bintray.com/sobolevn/deb git-secret InRelease'` is not signed

[2021-05-02 18:05] sobolevn commented on #656
I have attached `deb` release here: https://github.com/sobolevn/git-secret/releases/tag/0.4.0.alpha1

Please, check that it is valid and signed properly.
Sorry for the fuzz! I am communicating with several providers, there are no free options at the moment.

Any ideas are welcome 🙂

[2021-05-02 18:10] sobolevn commented on #656
Let's move to https://github.com/sobolevn/git-secret/issues/646

[2021-05-02 18:10] #656 closed

[2021-05-02 18:10] sobolevn commented on #646
I have attached deb release here: https://github.com/sobolevn/git-secret/releases/tag/0.4.0.alpha1

Please, check that it is valid and signed properly.
Sorry for the fuzz! I am communicating with several providers, there are no free options at the moment.

Any ideas are welcome 🙂

[2021-05-02 20:35] gombosg commented on #646
@sobolevn is this alpha safe to package in Fedora/EPEL? Or should I wait for the final?

[2021-05-02 23:42] dkrutsko commented on #646
Would you be able to attach the rpm as well please?? It'll be good enough until a suitable alternative can be found. I'm also wondering if GitHub itself can be used as a repository for debian and rpm as well. Since it's just a file structure at the end. Not sure if GitHub would be too happy about that though.

[2021-05-03 08:28] sobolevn opened #657 "New CI"
Here's my plan:
- Moving from `travis` to GitHub Actions, bacuse `travis` does not work anymore
- Removing `kitchen`, it is overly complex - I don't have any experience with it
- Removing `ansible`, it is used by `kitchen`
- Dropping `ruby` support, currently we use `ruby` for four reasons: `kitchen` (will be dropeped), `fpm` (can be replaced with native `deb` / `rpm` package builders), `ronn` (ca

[2021-05-03 08:51] sobolevn commented on #646
Done! https://github.com/sobolevn/git-secret/releases/download/0.4.0.alpha1/git-secret-0.4.0.alpha1-1.noarch.rpm

[2021-05-03 10:07] sobolevn commented on #657
I am also going to use `docker` as much as possible for CI / dev-tooling, so no more local `gem` install or anything.

[2021-05-03 10:21] sobolevn commented on #657
Steps:
- At first, I am going to make tests and lint pass on GitHub pages
- Next, I will check build tooling, like `ronn` for manuals
- Finally, I will work on releases

[2021-05-03 11:30] Levino commented on #646
I think the docs should be updated. I am struggling a little bit on how exactly to fix this...

[2021-05-03 13:06] dkrutsko commented on #646
@Levino So instead of adding a repo and installing the package through the package manager, you're going to download the `*.deb` or `*.rpm` file and use the package manager to initiate a local install. So something like `sudo dpkg -i /path/to/file.deb` or `sudo yum localinstall /path/to/file.rpm`

[2021-05-03 13:20] venux92 commented on #646
@dkrutsko so you mean we can't do something like this anymore?
[code]

Why trying to understand why I was getting
`Failed to fetch https://github.com/sobolevn/git-secret/releases/tag/0.4.0.alpha1/dists/git-secret/InRelease  Clearsigned file isn't valid, got 'NOSPLIT' (does the network require authentication?)`

Does this mean we don't need to verify the signature anymore? 🤔

[2021-05-03 13:35] sobolevn commented on #646
@venux92 because GitHub sadly does not support `apt` repositry interface, so @dkrutsko is right. You have to manually download `git-secret` with `wget` or whatever and then use `dpkg -i`.

My ETA on new hosting provider is the end of this week. Right now I am wondering if Artifactory will work for us.
https://jfrog.com/pricing/

[2021-05-03 13:42] dkrutsko commented on #646
We've been using Artifactory (self-hosted) since September of last year, it's a fantastic product but the licensing isn't the cheapest thing out there. Their open source version is free but limited to a single repository. I guess you're looking at their hosted solution though, right? I was going to say if you're self hosting you might be able to just set up two Artifactory free Artifactory instanc

[2021-05-03 14:22] sobolevn commented on #646
Looks like it is possible 🤔
<img width="1280" alt="Снимок экрана 2021-05-03 в 17 22 11" src="https://user-images.githubusercontent.com/4660275/116888424-242ae580-ac34-11eb-8409-10f265a6b622.png">

[2021-05-03 14:39] dkrutsko commented on #646
@sobolevn Yeah the limitation is with the self-hosted version, not the cloud version, unless they changed something. For the GPG key, you may also want to add it as a `.gpg` file as part of the release so we can simply download it to perform a manual GPG check.

Also, according to [this comment](https://github.com/tetratelabs/getenvoy/issues/196#issuecomment-829238231), JFrog pushed back the date

[2021-05-03 19:52] sobolevn commented on #646
Oh wow, Artifactory even has Alpine repos!
<img width="938" alt="Снимок экрана 2021-05-03 в 22 51 34" src="https://user-images.githubusercontent.com/4660275/116925710-3754aa00-ac62-11eb-9328-878efb0d96f8.png">

[2021-05-03 20:37] sobolevn commented on #646
It works!
<img width="752" alt="Снимок экрана 2021-05-03 в 23 35 55" src="https://user-images.githubusercontent.com/4660275/116930362-5b1aee80-ac68-11eb-8fd4-a4d8370361e9.png">

Try it out (this is still alpha and may change):

[code]

[2021-05-04 07:41] pgaxatte commented on #646
I'm having an issue with jfrog's artifactory on ubuntu 18.04 when running `apt-get update` after adding the repo:
[code]

[2021-05-04 07:42] pgaxatte commented on #646
Looking at the repo, it is expected since only debian releases are created.

[2021-05-04 09:28] sobolevn commented on #646
@pgaxatte what distro are you using? Ubuntu?

[2021-05-04 10:01] #657 closed

[2021-05-04 11:59] p-schneider commented on #646
I think due to a recent change in the folder structure of the repository the releases you would now hat to use a repository like this:
`deb https://gitsecret.jfrog.io/artifactory/git-secret-deb buster main`

So for now you can edit your `/etc/apt/sources.list` once more and replace `...git-secret main` with `...buster main`.

I know it worked when @sobolevn originally posted the new repository set

[2021-05-04 13:51] sobolevn opened #659 "New releases"
I am working on new automated releases right now.

Here's the plan:
1. We will trigger releases on tags like `v*`
2. GitHub Actions will run three jobs: deb, rpm, apk
3. All three jobs will be executed with a single `docker` image I am building, it is based on https://github.com/jordansissel/fpm/blob/master/Dockerfile Looks like that it is capable of producing all three packages
4. Next, we will u

[2021-05-04 13:57] sobolevn commented on #659
Local problems:
- I cannot make Artifactory to sign my `apk` release for some reason
[code]
- Alpine does not have `all` architecture, so we would need to cover popular ones individually, list: http://dl-cdn.alpinelinux.org/alpine/v3.13/main/
- Reindex calls is different for each platform 😒

[2021-05-04 14:13] sobolevn commented on #659
Solved, by using new RSA key pair, created by: `abuild-keygen -a -i`
Public key:

[code]

[2021-05-04 14:43] hpolonskaya commented on #646
How to get git-secret  version Ubuntu 20.04?

[2021-05-04 15:06] p-schneider commented on #646
Normally wait for this ticked to be closed and a official/updated instruction is available in the readme. -> https://git-secret.io/installation
But for now you can do this:
[code]
_If at some point a subfolder "focal" is created in https://gitsecret.jfrog.io/artifactory/git-secret-deb/dists/ you could then edit your `/etc/apt/sources.list` file to use that (by replacing `...git-secret-deb buster m

[2021-05-04 15:14] hpolonskaya commented on #646
Thank you it's breaking our Ci/cd

[2021-05-04 16:00] joshrabinowitz opened #660 "debian-gnupg1 tests actualy test with gnupg2"
See https://github.com/sobolevn/git-secret/runs/2499278113, which says it's for " docker-ci (debian-gnupg1) ", but shows
[code]

Oops, mixed up git and gnupg. Closing.

[2021-05-04 16:01] #660 closed

[2021-05-04 16:13] joshrabinowitz commented on #631
I think this may fix #136

[2021-05-04 18:58] #646 closed

[2021-05-04 19:08] sobolevn commented on #646
New installation docs is now live: https://git-secret.io/installation

It should just work for `deb` and `rpm` releases. Please, make sure to report any problems.
At this point, I treat them as bugs!

[2021-05-05 07:23] 030 commented on #646
@sobolevn Just followed the new instructions for deb and it seems to install 0.4.0 on Ubuntu:

[code]

Could you confirm whether that is correct?

[2021-05-05 07:35] p-schneider commented on #646
Yes, that's correct.
Yesterday the version was `0.4.0.alpha1`, and ubuntu thinks `0.4.0` is older/lower than `0.4.0.alpha1`.
So for those having yesterday's `0.4.0.alpha1` version installed the upgrade (or, as ubuntu would say, downgrade) to `0.4.0` could be done by this command: `sudo apt install git-secret=0.4.0`

[2021-05-05 07:38] sobolevn commented on #646
Yes, this is correct. `0.4.0` is the latest version.

[2021-05-05 22:58] TAnas0 opened #665 "Broken installation using Bintray APT repository (403 Forbidden)"
What are the steps to reproduce this issue?
-------------------------------------------
1. Visit https://dl.bintray.com/sobolevn/deb

This endpoint is referenced in here as an installation method: https://github.com/sobolevn/git-secret/blob/19941f91f42b95ea3b003a499618ebe629e0433e/docs/_posts/2021-05-05-git-secret.md#L96

What happens?
A `Forbidden 403` error response

What were you expecting to h

[2021-05-06 08:29] sobolevn commented on #665
Thanks! I have missed this one!

[2021-05-06 08:36] sobolevn commented on #665
Closed by https://github.com/sobolevn/git-secret/commit/295a4eeb4f8708f35f0200557cc976cb124079a6

[2021-05-06 08:36] #665 closed

[2021-05-06 10:17] sobolevn commented on #659
Ok, only GitHub releases are left! 👍

[2021-05-06 11:43] sobolevn commented on #659
This is what I got from `github_generate_changelog`:

[code]

# Changelog

## [Unreleased](https://github.com/sobolevn/git-secret/tree/HEAD)

[Full Changelog](https://github.com/sobolevn/git-secret/compare/v0.4.0.alpha1...HEAD)

**Closed issues:**

- Broken installation using Bintray APT repository \(403 Forbidden\) [\#665](https://github.com/sobolevn/git-secret/issues/665)
- debian-gnupg1 tests a

[2021-05-06 11:58] sobolevn commented on #659
Ok, now full test:
1. I will remove existing `deb`/`rpm`/`apk` packages for several minutes
2. I will publich `v0.4.0` tag
3. It should trigget the whole release process
4. Profit!

[2021-05-06 12:20] joshrabinowitz commented on #642
@sobolevn do you think we should try to address this issue?

[2021-05-06 12:38] joshrabinowitz commented on #659
I think you also have to click on 'create release' on the v0.4.0 tag here?
https://github.com/sobolevn/git-secret/tags

[2021-05-06 12:50] sobolevn commented on #642
I think that a piece of docs should be enough.

[2021-05-06 12:52] sobolevn commented on #659
@joshrabinowitz it will happen auto-magically by https://github.com/sobolevn/git-secret/blob/master/.github/workflows/release.yml#L29-L42

But, we are out of rate-limits, because of my testing suite. I will release packages now: https://github.com/sobolevn/git-secret/actions/runs/816873670

And re-run this job in an hour: https://github.com/sobolevn/git-secret/runs/2518292516?check_suite_focus=tru

[2021-05-06 16:52] sobolevn commented on #659
Done! https://github.com/sobolevn/git-secret/releases/tag/v0.4.0

Release CI: https://github.com/sobolevn/git-secret/actions/runs/817584719

The release process is fully automated now. I hope that it will be reliable! 👍
Happy to answer any questions.

[2021-05-06 16:52] #659 closed

[2021-05-06 18:16] mrampant-nist commented on #655
aren't they both the same command?

[2021-05-06 19:13] sobolevn commented on #655
I would appreciate a fix, we should refer to `git-secret` as `git-secret` 🙂

[2021-05-06 19:51] jonjensen commented on #631
I mentioned this in a pending PR already - https://github.com/sobolevn/git-secret/pull/661#discussion_r627719375 - but I prefer the current behavior of storing as binary by default. Seems like --armor would be a nice user-configurable option, but binary seems the better default. Has anyone mentioned actual problems with storing binary blobs in Git as git-secret has always done before?

[2021-05-06 21:18] jonjensen commented on #515
@sobolevn I'm interested in this and went to look at the git-secret-rust repo today and GitHub says it has been deleted. Did that work move somewhere else, or did you decide not to continue with it?

[2021-05-06 21:26] sobolevn commented on #515
I have decided to discontinue the project, bacause I didn't have enought time. @jonjensen I would be glad to contribute to your fork!

[2021-05-06 21:42] jonjensen commented on #515
@sobolevn Thanks for the info. I know about time challenges too. :smiley:

[2021-05-07 08:28] sobolevn commented on #659
brew: https://github.com/Homebrew/homebrew-core/pull/76809

[2021-05-09 09:10] giulianop opened #666 "Failed to fetch https://dl.bintray.com/sobolevn/deb/dists/git-secret/InRelease 403 Forbidden [IP: 3.66.199.110 443]"
What are the steps to reproduce this issue?
-------------------------------------------
1. `sudo apt update && sudo apt upgrade -y`

What happens?
-------------
I cannot update my system due to a permission error when fetching git-secret latest upgrade.

What were you expecting to happen?
----------------------------------
Just update the package.

Any logs, error output, etc?
--------------------

[2021-05-09 09:43] sobolevn commented on #666
Yes, Bintray is down. Please see our new install script: https://git-secret.io/installation

[2021-05-09 09:43] #666 closed

[2021-05-09 09:51] giulianop commented on #666
Oh, thanks. Didn't know.

[2021-05-18 14:05] arran-nz commented on #633
Thanks for the solution @joshrabinowitz ! Here's a quick summary for the one's who land here and want a quick answer.

---
## Remove a duplicate key
If a key is present multiple times, you will receive the following output when using `killperson`

[code]

To solve this, run the following:

[code]

[2021-05-19 07:34] sobolevn commented on #515
Btw, `rust` now has this https://crates.io/crates/openpgp-ca

[2021-05-20 08:13] sobolevn opened #670 "Enable dependabot"
What do we need?
1. Ruby deps here: https://github.com/sobolevn/git-secret/tree/master/docs
2. Docker updates in our release / test envs
3. Github Actions updates

[2021-05-20 08:42] sobolevn commented on #670
It is working: https://github.com/sobolevn/git-secret/blob/master/.github/dependabot.yml

<img width="926" alt="Снимок экрана 2021-05-20 в 11 41 26" src="https://user-images.githubusercontent.com/4660275/118947779-56d91b80-b960-11eb-88fa-aab54b66b0aa.png">

Next, I will probably need to fix how `docker`-based checks are executed, because we don't really need the latest version in most cases.

[2021-05-20 13:58] kuvaldini opened #672 "git-secret: abort: cannot find decrypted version of file:"
What are the steps to reproduce this issue?
-------------------------------------------
1. init, tell, hide, add, commit, push      on Mac with git-secret 0.4.0, gpg (GnuPG) 2.2.19 libgcrypt 1.8.5
2. clone, gpg --import, git-secret reveal on ubuntu:latest in docker with git-secret 0.4.0, gpg (GnuPG) 2.3.1, libgcrypt 1.9.3

What happens?
-------------
[code]

What were you expecting to happen?
----

[2021-05-20 16:30] sobolevn commented on #672
@kuvaldini thanks.

Looks like this condition does not work for you: https://github.com/sobolevn/git-secret/blob/master/src/commands/git_secret_reveal.sh#L68

Some questions:
1. Are you sure that `.git` and `.gitsecret` folders are inside the container?
2. Are you sure that encrypted files are there as well?

[2021-05-20 16:59] sobolevn commented on #672
Is your docker filesystem writtable?
What happens when you try `reveal -F`?

[2021-05-21 07:44] kuvaldini opened #673 "Reveal different secrets for different keys/environments"
Imagine given several environments on CI. Every env has own key to reveal git-secret.
It would be great if git-secret decrypts different secrets according to the input key.

I think it is possiple to implement using different git-secret instances/folders

[2021-05-21 07:58] sobolevn commented on #672
@kuvaldini can you please submit a reproducable `Dockerfile` example?

[2021-05-21 08:09] sobolevn commented on #673
You can use different secret dirs via `SECRETS_DIR` env var. So, each secret dir would have different secrets and different permissions.

For example:
- `.gitsecret.dev`
- `.gitsecret.ci`
- `.gitsecret.prod`

If you want to use the same secret database, but just revealing different files based on some external logic - then use `git secret reveal $FILENAME`

Does this solve your problem?

[2021-05-21 11:52] kuvaldini commented on #673
Yes, it does. But need additional external logic. And need to keep several git-secret instances. The only bad thing that consumer should keep in mind from which folder he should take secrets - lets try everyone! ;)

[2021-05-21 11:52] #673 closed

[2021-05-21 13:33] kuvaldini commented on #672
I think i know what happened - i told about the secret after if was added and hidden.
[code]
In docker
[code]

I just reinitialized git-secret but this time I `git-secret-tell` before adding a secret. And all works fine.

[2021-05-21 17:02] sobolevn commented on #672
Good that it is solved now! 👍

[2021-05-21 17:02] #672 closed

[2021-05-21 17:04] kuvaldini commented on #672
But error message still is not obvious, even for its author ;)

[2021-05-23 02:12] samothx opened #674 "git secret reveal - password input stalls"
What are the steps to reproduce this issue?
-------------------------------------------
1. call `git secret reveal` with no options
2. enter password and press enter on password prompt

What happens?
-------------
nothing, password prompt stays visible, no linefeed after entering password and the program only terminates after pressing ctl c.

What were you expecting to happen?
--------------------

[2021-05-23 08:33] sobolevn commented on #674
@joshrabinowitz I remember that something like that had already happened.

[2021-05-23 22:40] joshrabinowitz commented on #674
This sounds a lot like #97 and/or #503.
Might this be related to some sort of `pinentry` issue?

[2021-05-31 01:40] FanchenBao commented on #674
I suddenly got hit with this problem as well. So I closed the terminal and opened up a new one, and the problem was gone.

[2021-05-31 02:39] FanchenBao opened #675 "Cannot use `gpg --import private_key.gpg` directly in GitHub Actions as directed by the doc"
What are the steps to reproduce this issue?
-------------------------------------------
1. Follow the documentation to create a private key and put it in GitHub's secrets with the name `GPG_PRIVATE_KEY`
2. Use this minimum reproducible yaml to set up GitHub Actions

[code]
3. Trigger GitHub Actions

What happens?
-------------
It seems like `gpg --import` requires command line interaction, which G

[2021-05-31 06:59] sobolevn commented on #675
@FanchenBao yes, sure! Please send a PR.

[2021-05-31 20:28] vctrsmelo opened #676 "My colleagues can't execute killperson"
What are the steps to reproduce this issue?
-------------------------------------------
1. git secret init
2. git secret tell any-key-mail@any.com
3. git secret killperson any-key-mail@any.com

What happens?
-------------
[code]

What were you expecting to happen?
----------------------------------
`killperson` command to work as expected.

Any other comments?
-------------------
It is happening i

[2021-06-01 07:17] sobolevn commented on #676
@vctrsmelo do you include `.gitsecret/` folder into your `git`?

[2021-06-01 13:39] vctrsmelo commented on #676
@sobolevn the `.gitsecret/` folder is created inside the `git` project folder when we execute `git secret init`.

My colleague tried deleting this `.gitsecret/` folder then executing `git secret init` again. This command apparently initializes git secret as expected, but the problem persisted when she called `tell` then `killperson` (the `tell` works, but `killperson` doesn't).

[2021-06-01 13:48] FanchenBao commented on #675
@sobolevn Sure thing.

[2021-06-07 08:15] 030 opened #678 "--no-cache option missing while installing apk package"
https://git-secret.io/installation

[code]

[2021-06-07 08:28] sobolevn commented on #678
@030 can you please add `--no-cache` here? https://github.com/sobolevn/git-secret/blob/master/utils/apk/install.sh

[2021-06-07 08:41] 030 commented on #678
@sobolevn PR has been created.

[2021-06-07 19:55] kevincox opened #680 "Document Encryption Implementation"
It is very hard to trust a tool without documentation on the implementation. Would it be possible to publish a document talking about how the encryption is performed and the intended security properties?

For example git-crypt provides at least some basic information here: https://github.com/AGWA/git-crypt#security. Although they are still missing information about how keys are shared.

[2021-06-07 21:20] joshrabinowitz commented on #676
Those errors are all coming from `gpg` and `gpg-agent`; I think this issue is  also probably related to at least one of the following:  the environment, the particular keys, and/or the email addresses used.

Can you try running the commands after setting  `SECRETS_VERBOSE=1` , like this? It will turn off the --quiet option when invoking `gpg`:

[code]

If you continue to have issues, if you could

[2021-06-08 07:09] sobolevn commented on #680
@kevincox Hi! Thanks for raising this.

I am not sure how `git-crypt` works, but this tool is just a wrapper around `gnupg`.
We can add a link to their docs. Will it be good enough?

[2021-06-08 21:56] vctrsmelo commented on #676
Thanks for the answer, @joshrabinowitz.

Unfortunately, we could not get any other message than the one presented above.

As we are working in a remote context, it's hard even for me to test with them, as `git-secret` works as expected on my computer (even after removing and reading the keys, the same process they did). I tried even sending a (test) private key to her, but nothing worked, unfortun

[2021-06-08 21:56] #676 closed

[2021-06-09 00:50] kevincox commented on #680
I think there is value to documenting how gnupg is called. I love that you are reusing a trusted tool but just using gnupg isn't enough to ensure safety.

The main question I have in mind now is how the secrets are managed. This affects how people are added and removed. Is a single shared secret used, and add/remove is just encrypting a copy of that secret for them? Or does each file have its own

[2021-06-09 13:50] joshrabinowitz commented on #676
Sorry we were unable to debug this with you; this is a pretty unusual situation and we didn't get enough data to replicate.

[2021-06-09 13:58] srvreeswijk opened #681 "--armour option should be given at te beginning of the gpg command"
What are the steps to reproduce this issue?
-------------------------------------------
1. gpg --export your.email@address.com --armor > public-key.gpg

What happens?
-------------
gpg gives a error:
gpg: Note: '--armor' is not considered an option

What were you expecting to happen?
---------------------------------
I expected the export to succeed and create a rsa ascii public key

Any logs, err

[2021-06-09 14:18] joshrabinowitz commented on #681
@srvreeswijk can you submit a PR that fixes this?

[2021-06-09 14:28] 030 commented on #678
@sobolevn Thank you for merging the PR. Could you indicate when the changes will appear on https://github.com/sobolevn/git-secret/blob/master/utils/apk/install.sh?

[2021-06-09 14:30] 030 commented on #656
Related https://github.com/sobolevn/git-secret/issues/646

[2021-06-09 14:32] 030 commented on #646
Related https://github.com/sobolevn/git-secret/issues/656

[2021-06-09 14:38] srvreeswijk commented on #681
No problem: https://github.com/sobolevn/git-secret/pull/682

[2021-06-09 17:15] #681 closed

[2021-06-09 20:10] 030 commented on #678
I just saw that it has been changed on the website.

[2021-06-09 20:10] #678 closed

[2021-06-15 09:44] Tenzer opened #684 "Reconsider "killperson" command name"
As a person who just had to offboard a colleague who is terminally ill, having to enter a `killperson` command to remove their access to encrypted secrets leaves a very bad taste in my mouth.

Would you consider changing the command to be `removeperson`, `removeaccess` or similar which hopefully should be less offensive, and possibly keep `killperson` as an invisible alias?

[2021-06-15 09:49] sobolevn commented on #684
Yeah, I think we should totally add a more pleasant and himane alias.

P.S.

Sorry to hear that...

[2021-06-15 10:32] Tenzer commented on #684
Happy to hear you agree.

I've made a PR in #685 to rename it to `removeperson`.

[2021-06-16 07:31] #684 closed

[2021-06-24 18:50] joshrabinowitz commented on #643
Closed by #645

[2021-06-24 18:50] #643 closed

[2021-06-26 13:25] #651 closed

[2021-06-26 13:26] #647 closed

[2021-06-26 13:27] sobolevn commented on #630
`--armor` is now supported! Thanks!

[2021-06-26 13:27] #630 closed

[2021-06-26 13:27] #624 closed

[2021-06-26 13:27] #622 closed

[2021-06-26 13:29] #598 closed

[2021-06-26 13:30] sobolevn commented on #631
Done!

[2021-06-26 13:30] #631 closed

[2021-06-26 13:30] #627 closed

[2021-06-26 13:30] #610 closed

[2021-06-26 13:31] #484 closed

[2021-06-26 13:32] #409 closed

[2021-06-26 13:32] #404 closed

[2021-06-26 13:32] #418 closed

[2021-06-26 13:33] #157 closed

[2021-06-26 13:33] #194 closed

[2021-06-26 13:33] #195 closed

[2021-06-26 13:33] #235 closed

[2021-06-26 13:33] #259 closed

[2021-06-26 13:33] #241 closed

[2021-06-26 13:33] #173 closed

[2021-06-26 13:34] #100 closed

[2021-06-26 13:36] #168 closed

[2021-06-26 13:39] #367 closed

[2021-06-26 13:58] #420 closed

[2021-06-26 14:00] #591 closed

[2021-06-26 14:00] #569 closed

[2021-06-26 14:00] #558 closed

[2021-06-26 14:00] sobolevn commented on #554
Done!

[2021-06-26 14:00] #551 closed

[2021-06-26 14:01] #546 closed

[2021-06-26 14:01] sobolevn commented on #542
Done!

[2021-06-26 14:01] #542 closed

[2021-06-26 14:02] sobolevn commented on #599
Great idea! We will include this into `0.5.0`

[2021-06-26 14:16] joshrabinowitz commented on #554
@sobolevn There's lots of gpg commands that still aren't shown in verbose mode, such as in `src/_utils/_git_secret_tools.sh`, and showing more would make it easier to help people when debugging issues.

I suggest we reopen this issue, because there are several gpg commands run that are not shown in verbose mode.

[2021-06-26 14:17] #618 closed

[2021-06-26 14:23] sobolevn opened #690 "Exclude `*.1` and `*.7` files from `git diff` and GitHub diff"
It is really hard to navigate in commits likes this one: https://github.com/sobolevn/git-secret/commit/0bcce874222f6b90cab615137e7ee9f6b1706145

Because, there are a lot of changes in `*.1` files.

The same is about PRs: https://github.com/sobolevn/git-secret/pull/661/files

We need to hide this with the help of https://github.com/github/linguist/blob/master/docs/overrides.md

[2021-06-26 14:35] #690 closed

[2021-06-26 15:59] joshrabinowitz opened #692 "have verbose mode show more output from gpg, to help people understand and debug git-secret"
Related to #554

when in verbose mode, let's have git-secret show more output from gpg (by using `-v` and/or avoiding `-quiet`, etc) where possible, so users see what's going on more under the hood

This will help people understand how git-secret works, and debug issues.

[2021-07-01 10:55] shirakaba commented on #638
@StephenMP Thanks for addressing this issue. Until this PR gets merged, I don't suppose there's a way for me to manually (e.g. via standard shell commands) force the removal of a duplicate person in the keyring? I'm on macOS 12.0 Beta, with `git` version 2.28.0 and of course have both `zsh` and `bash` available.

[2021-07-01 13:46] joshrabinowitz opened #699 "document how git-secret uses user's keyring and the git-secret repo keyring to secure and provide access to secrets, so users understand how the keyrings work and can fix situations like #638"
See #553 / and #638; See also #680; it is possible for people to operate on the git-secret keyring if needed (although it is discouraged).

Edit: See also #746 where people seem to be using private keys with git-secret

[2021-07-01 13:54] joshrabinowitz commented on #638
@shirakaba @StephenMP @sobolevn

Just a heads up - git-secret creates a gpg keyring (using gpg) in your repo's `.git-secret` directory. It should be possible (although discouraged!) to use gpg to manipulate this key ring directly manually and resolve this issue.

I've created issue #699 to document more about the keyring used by the git-secret repo, and I've also commented on #638. Thank you for y

[2021-07-08 16:10] joshrabinowitz opened #701 "upgrade copy of bats-core that is checked into the git-secret source code, so we're using latest (released) bats-core 1.3"
See https://github.com/bats-core/bats-core/tags

vendor/README.md from git-secret indicates that bats-core 1.3 was brought into the tree, but technically bats-core 1.3 wasn't released until after the code was re-imported

 (1.3 was officially released on May 8th; bats-core was imported into git-secret on May 3rd)

Perhaps @sobolevn has input?

[2021-07-08 16:18] sobolevn commented on #701
@joshrabinowitz `bats@1.3.0` was released on March 3rd, not May 🙂
<img width="353" alt="Снимок экрана 2021-07-08 в 19 17 42" src="https://user-images.githubusercontent.com/4660275/124956905-2f7a0300-e021-11eb-9212-5ac5a3e608b4.png">

And `git-secret@0.4.0` was released two month later on May 8th.
It should be fine! 👍

[2021-07-08 16:18] #701 closed

[2021-07-08 16:32] joshrabinowitz commented on #701
Oh I see, mixed up March and May! You are correct.

[2021-07-12 19:24] joshrabinowitz opened #702 "document how git's core.quotepath config affects git-secret and filenames"
Completion of this ticket will let us close #642

[2021-07-23 18:59] basejump commented on #515
FWIW, the main reason we use and like git-secret is because it is just bash. with bash as only dependency it takes an alpine image from 2.7MB to 3.5MB, so the total size cost of this and its bash dep is under 1MB, plus it dirt simple to install via curl as there is no compiled binary to figure out like others. granted gnupg is kind of heavy but thats needed anyway. and thats another big benefit is

[2021-08-02 15:02] 030 opened #705 "What is the purpose of .gitsecret/keys/crls.d/?"
Is .gitsecret/keys/crls.d/ required? Would it be possible to add this file to the gitignore by default when git secret is run?

[2021-08-02 16:12] sobolevn commented on #705
https://www.gnupg.org/documentation/manuals/gnupg/Dirmngr-Configuration.html

[2021-08-03 07:14] 030 commented on #705
Could it be added to the gitignore by default?

[2021-08-03 08:07] sobolevn commented on #705
Some more reasearch needed before I can answer this question 🙂

[2021-08-04 09:42] dudulasry commented on #672
Did you manage to find a solution? I'm also experiencing this problem.

[2021-08-04 14:38] joshrabinowitz commented on #672
I looked into this briefly, and I think the cause of the confusing error message is that we don't check for the  encrypted version of the file before trying to `reveal` it, because normally if gpg has an issue decrypting a file it will yield an error message.

However, it looks like if you try to decrypt a non-existing file, that's not considered an error by gpg.

I think the solution to this is t

[2021-08-04 14:40] joshrabinowitz opened #706 "improve error messaging if git-secret cannot find decrypted version of file, or file was not added with git-secret"
See [#672 ](https://github.com/sobolevn/git-secret/issues/672#issuecomment-892714549)

Also, enhancing `git-secret`'s `verbose` mode (see #692) could help people understand and debug this more easily.

[2021-08-19 19:05] SadriG91 opened #710 "git secret cat not working when cd'ed to subdir"
What are the steps to reproduce this issue?
-------------------------------------------
1. git secret init
2. git secret tell my@email.com
3. git secret add file
4. git secret hide
5. git secret cat file

(Note added by @joshrabinowitz : the steps above are not sufficient to replicate this bug. See my comment below for steps to replicate.)

What happens?
-------------
decrypt_message failed: No su

[2021-08-19 20:07] sobolevn commented on #710
Are you sure that you don't have any other files named `file` in the root of your repo? Seems like a path / name conflict to me.

You can always submit a failing test: https://github.com/sobolevn/git-secret/blob/master/tests/test_cat.bats
It would be a great help! 👍

[2021-08-20 04:09] joshrabinowitz commented on #710
I think I understand what this is about. There's a bug with `git secret cat`

The hint is where OP talks about `git secret cat` using  `repo/file.secret instead repo/path/to/file.secret`.

To replicate:

[code]
The same problem can exist in `cd subdir; git secret reveal file.txt` but is probably seen less because you don't have to pass `file.txt` to `reveal` (just calling `git secret reveal` will

[2021-09-06 15:09] Repox opened #720 "Can't reveal or cat with keys without passwords"
What are the steps to reproduce this issue?
-------------------------------------------
1. Execute `git secret cat secret-content.txt.secret`
2.  Look at the `Enter passphrase: ` prompt

What happens?
-------------
Prompting for password. Will reveal secrets if I just press enter.

What were you expecting to happen?
----------------------------------
Not asking for password, since my keys are with

[2021-09-06 15:23] sobolevn commented on #720
Hi! Can you please clarify:

Do you have `gpg` keys without password? Or do you have `gpg-agent` that stores the password for you?

[2021-09-06 15:26] Repox commented on #720
I have keys without passwords.

I'm being prompted to provide my password for the key I'm using and by just pressing enter I can decrypt the secret.

[2021-09-06 15:28] sobolevn commented on #720
But, do you have `gpg-agent` set up?

[2021-09-06 15:31] Repox commented on #720
Not for testing, I've ensured the gpg-agent is stopped by issuing `gpgconf --kill gpg-agent` before trying to reveal my secret.

[2021-09-06 16:05] sobolevn commented on #720
Ok, I will ask differently 🙂

When you work with any `gpg` commands that require an access to your secret key, `gpg` will ask you to enter your password (it does not really matter here how many chars you have: 0 or X). But, when you have `gpg-agent` set up properly, it can store the "password information" for you. So, `gpg` will not prompt you directly.

So, what happens when:
1. You try to use `g

[2021-09-06 21:27] Khouderchah-Alex commented on #515
Good points @basejump. Worth noting that rust-lang maintains official OCI images including for alpine [0]. Makes it easy to do multi-stage builds (e.g. for distroless [1]). By default, rust binaries can be large, but generally building with something like the config below followed by `strip "$BIN"` will result in fairly compact binaries.

For alpine specifically, musl might cause some headaches, b

[2021-09-07 06:45] Repox commented on #720
Took me a while, but I actually found that I somehow managed to create two keys with an empty passphrase instead of _no_ passphrase, which I have no idea how I managed. Editing the keys and issuing `passwd` to change the passwords allowed me to remove the passphrases and everything worked.

I'll close the issue.

[2021-09-07 06:45] #720 closed

[2021-10-15 08:47] bennycode opened #722 "Makefile install error 127 when running MINGW64"
What are the steps to reproduce this issue?
-------------------------------------------
1. Open [Git Bash](https://gitforwindows.org/) (MINGW64) on Windows 10 Pro
2. Run `git clone https://github.com/sobolevn/git-secret.git git-secret`
3. Run `cd git-secret`
4. Run `make build`
5. Run `PREFIX="/usr/local" make install`

What happens?
-------------

Error 127 shows up:

[code]

What were you expect

[2021-10-15 11:08] sobolevn commented on #722
Ok, then the problem is in `build`, not in `git-secret` 🤔

For now, you can just replace `make build` with `make git-secret`. But, I will provide a fix right now! 👍

[2021-10-15 14:16] bennycode commented on #722
Hi @sobolevn and thank you for taking immediate action. Unfortunately, I still cannot install `git-secret`.

Here is what I did:

**1. Running `git pull`:**

[code]

**2. Running `make git-secret`:**

[code]

**3. Running ` make build`:**

[code]

**4. Running `PREFIX="/usr/local" make install`:**

[code]

Am I holding it wrong? 🤔

[2021-10-15 16:49] sobolevn commented on #722
Thanks a lot, @bennycode! Would you be interested in helping us setting up windows CI? 🙏

[2021-10-19 16:18] #722 closed

[2021-10-19 16:35] sobolevn commented on #722
Awesome! Happy to help! 👍

[2021-10-21 09:53] bennycode commented on #722
After checking the [test setup](https://github.com/sobolevn/git-secret/blob/master/.github/workflows/test.yml) I saw that it requires a [Docker image](https://github.com/sobolevn/git-secret/tree/master/.ci/docker-ci) for Windows which has build tools (i.e. MinGW + GCC) installed and can run scripts from the [Makefile](https://github.com/sobolevn/git-secret/blob/master/Makefile).

Here is a draft P

[2021-12-05 21:23] panslava opened #739 "Getting "partial length invalid for packet type 20" error in github actions"
What are the steps to reproduce this issue?
-------------------------------------------
1. Create new key locally
2. Export secret file, paste it contents to github secrets
3. Add the next action

[code]

What happens?
-------------

On the "Reveal secrets step"  getting error:
[code]

What versions of software are you using?
----------------------------------------
**Operating system:** (`uname -

[2021-12-05 22:20] sobolevn commented on #739
Can you reproduce this locally with keys that `crazy-max/ghaction-import-gpg@v4` generate? Or is github specific?

[2021-12-05 23:25] panslava commented on #739
That happened not only with `crazy-max/ghaction-import-gpg@v4` but also when I imported key using

[code]

And I've tested locally -- deleted my personal private and public key, so git secret uses the one created for github actions, and `git secret reveal` worked fine locally

[2021-12-21 11:36] aviz commented on #739
This happens to me too. only in github actions..

[2021-12-21 11:39] sobolevn commented on #739
@aviz do you also use `crazy-max/ghaction-import-gpg@v4`?

[2021-12-24 10:29] 030 opened #741 "How to deal with git-secret in conjunction with multiple repositories?"
Are there any tools that are capable of managing multiple git-secret repositories at once. For example, somebody of our team will leave and two new members will join. This implies that we have to remove one gpg key and add two new gpg keys. Currently, we have over more than 20 repositories with git-secret enabled. What options are available to automate this?

[2021-12-24 23:00] sobolevn commented on #741
You can try https://github.com/asottile/all-repos

[2021-12-27 00:32] TribuneX opened #742 "SHA256 mismatch with brew install"
What are the steps to reproduce this issue?
-------------------------------------------
1. Run `brew install git-secret`

What happens?
-------------
Install interrupts with the following error message:
[code]

What were you expecting to happen?
----------------------------------
Successful install

What versions of software are you using?
----------------------------------------
macOS 12.0.1
Home

[2021-12-27 07:19] sobolevn commented on #742
@TribuneX please report this here: https://github.com/Homebrew/homebrew-core/blob/master/Formula/git-secret.rb

It is a packaging issue. Thank you!

[2021-12-27 07:19] #742 closed

[2021-12-28 09:35] n4oah commented on #739
This happens to me too...

[2021-12-28 10:00] n4oah commented on #739
I changed the repository gnupg version to 2.2.33 and it was solved.

[2021-12-28 13:55] joshrabinowitz commented on #739
Yes thank you for this comment. I thought this looked like a gnupg version mismatch issue; this confirms it.

[2021-12-28 15:03] joshrabinowitz commented on #136
See also #739 which appears to be a gnupg version interoperability issue too.

[2021-12-30 19:03] joshrabinowitz commented on #710
@sobolevn I've been looking into fixing this but am not sure where to make what change (I do understand the issue, though).

Can you be provide guidance on how you'd like to see this bug fixed? Like what functions should be changed, and what code changes should be added?

[2022-01-04 10:56] bstoss commented on #676
Hello
Iam facing the same issue right now but in our situation no one can remove any person ... its a bit weird i have to say.
The killperson command is trying to remove keys from the .gitsecret/keys folder but there as well secret keys.

When listing the public keys, everything looks fine, but when listing the secret keys i get some errors
`
gpg --homedir .gitsecret/keys -k
pub   ed25519 2021-06-

[2022-01-04 12:24] bstoss opened #746 "killperson throws error deleting keys with 'utf-8' emails on US-ASCII configured system"
What are the steps to reproduce this issue?
-------------------------------------------
1. install git-secret as documented
2. import public key from another person
3. git secret tell <mail>
4. hide and reveal files with the other person
5. git secret killperson <mail>

What happens?
-------------
I get an error from gpg that i have to delete the secret key at first.
[code]

What were you expectin

[2022-01-04 12:49] jorritvdven commented on #746
I am facing the same problem.

### Software versions:
**Operating system:** (`uname -a`) …
Darwin Jorrits-MacBook-Pro.local 21.2.0 Darwin Kernel Version 21.2.0: Sun Nov 28 20:28:54 PST 2021; root:xnu-8019.61.5~1/RELEASE_X86_64 x86_64

**`git-secret` path:** (`which git-secret`) …
/usr/local/bin/git-secret
(/usr/local/bin/git-secret -> ../Cellar/git-secret/0.4.0/bin/git-secret)

**`git-secret` vers

[2022-01-04 13:00] bstoss commented on #746
I created on a differnt mac a new project and faced a difference that could be releated to the issue.
In the folder `.gitsecret/keys` are more files now.

S.gpg-agent
S.gpg-agent.browser
S.gpg-agent.extra
S.gpg-agent.ssh

This files are not existing on my main project.
I have no idea why they don't exist. I tried to  reproduce this issue but on every clone and machine iam doing all the stuff, iam

[2022-01-09 03:40] agowa338 opened #749 "Add git hooks"
Please add git hooks to via smude and clean as well as textdiv to allow working with the secret files within git.

Also having the decrypted files ignored by git entirely is bad because that way a git clean can unintentionally remove changes. Also a git diff won't show that the file changed and one can easily loose important work.

I'd recommend to git ignore the *.secret files and use git filters

[2022-01-12 19:49] joshrabinowitz commented on #746
ok, there's different issues happening in different examples above. The common theme is that `git secret killperson` tends to surface issues with git-secret keyrings.

To @bstoss:
One:
* in your first example you show gpg giving the error: `gpg: conversion from 'utf-8' to 'US-ASCII' failed: Illegal byte sequence`
* This is probably why you can't remove the key (which I presume has utf-8 characters

[2022-01-15 19:54] #710 closed

[2022-01-16 13:01] TribuneX opened #752 "Add Alfred.preferences file / bundle"
What are the steps to reproduce this issue?
-------------------------------------------
1. Installed git-secret
2. Created a new git repo `git init` & `git secret init`
3. Copied the file [Alfred.preferences](https://www.alfredapp.com) into the new git repo
4. Encrypting the Alfred.preferences file with `git secret add`

What happens?
-------------
[code]

What were you expecting to happen?
------

[2022-01-16 16:47] sobolevn commented on #752
So, what is it? A folder? Or a single file?

[2022-01-16 20:29] TribuneX commented on #752
Its called `Alfred.alfredpreferences`. I actually behaves like a bundle, so you can open it with the finder or navigate into it with `cd`. Storing it in a `git` repo looks like this (not my repo): https://github.com/haranrk/alfred-preferences.

Adding all files of a given folder including files within a subfolder should work? Since the man-page only mentions a list of files for `git secret add [fi

[2022-01-16 21:20] sobolevn commented on #752
So, it is a folder 🙂

Then, you have to use `git secret add` on individual files inside it.

[2022-01-17 13:02] joshrabinowitz opened #754 "get git-secret versions updates on current modern distributions"
According to <https://github.com/sobolevn/git-secret>, git-secret is at 0.2.* (not the current 0.4.0) in several major current distributions, including:

* debian 12/unstable
* EPEL 8
* FreeBSD Ports

It would be good to get these packages updated to the last released version of git-secret

[2022-01-17 13:51] joshrabinowitz opened #755 "upgrade copy of bats-core that is checked into the git-secret source code, so we're using latest (released) bats-core 1.5"
This is similar to #701, but upgrading to bats-core 1.5, not 1.3

[2022-01-17 14:30] joshrabinowitz opened #756 "automate github actions testing on windows platform"
See also #722, which surfaced a problem installing git-secret on windows with MinGW.
Perhaps this will be easier now that github actions appears to have better support for windows?

Edit: See
https://www.msys2.org/docs/ci/
https://github.com/msys2/setup-msys2
https://github.com/actions/virtual-environments#available-environments

[2022-01-17 14:43] #638 closed

[2022-01-17 15:25] joshrabinowitz commented on #675
See also #699

@FanchenBao it would be great if you submitted a PR for this!

[2022-01-17 21:10] FanchenBao commented on #675
@joshrabinowitz PR just submitted for this issue. I apologize for putting this on the back burner for loooong time.

[2022-01-17 22:08] #675 closed

[2022-01-17 22:20] FanchenBao commented on #739
The `gpg` version mismatch problem and its work-around has been documented on the latest PR #758

[2022-01-24 21:58] joshrabinowitz opened #760 "make sure ubuntu and brew versions of git-secret interoperate, because we've seen a report that they didn't"
In #758 's changes, @FanchenBao wrote about a current (2022-01-17) interoperability issue between OSX's Brew setup of git-secret, and "latest Ubuntu", this quotes him below:

[2022-01-24 22:10] joshrabinowitz commented on #760
@FanchenBao , what version of Ubuntu are you using?

According to https://packages.ubuntu.com/search?keywords=gnupg , it looks like Ubuntu 21.04 and 21.10 currently use gnupg 2.2.20; 20.04 (the LTS version) uses gnupg 2.2.19

Can anyone replicate that there is an interoperability issue between gnupg on (some) Ubuntu's and brew?

[2022-01-24 22:14] joshrabinowitz opened #761 "fix intermittent random failures running self-tests on github actions"
On Alpine we sometimes see:

https://github.com/sobolevn/git-secret/runs/4929067871?check_suite_focus=true#step:3:128

[code]

[2022-01-24 23:03] FanchenBao commented on #760
The Ubuntu I was using was from [GitHub Actions's `ubuntu-latest`](https://github.com/actions/virtual-environments#available-environments), which is 20.04. And I can confirm that the latest `gnupg` version there is 2.2.19.

[2022-01-25 13:53] joshrabinowitz commented on #754
Is there a good web tool where we can search what version of git-secret is bundled in various distros? (Ideally it would cover RH, debian, Ubuntu, arch, alpine, brew, etc)

[2022-01-25 13:54] joshrabinowitz commented on #761
We saw this three times in a row on 1/25/2022, then it stopped recurring; let's see if it intermittently pops up again

[2022-01-25 13:54] sobolevn commented on #754
https://repology.org/project/git-secret/versions is the only one I know :think

[2022-01-25 14:31] joshrabinowitz commented on #760
@FanchenBao above you're saying `ubuntu-latest` installs 2.2.19; in your original text about this (above) you said `apt-get install gnupg points to version 2.2.20`.

But I'm more concerned with this overall gnupg interoperability issue that surfaces occasionally.

@sobolevn , do you think that we should specifically recommend that people use "matching" versions of gnupg, like perhaps all `2.2.*` o

[2022-01-25 15:07] sobolevn commented on #760
Maybe we can even get `gnupg` version that was used for encryption and warn user that their version does not match it?

[2022-01-25 16:12] FanchenBao commented on #760
@joshrabinowitz In the doc, I was referring to the most up-to-date Ubuntu, which has `gnupg` version 2.2.20. I was trying to be more general, not specific to the case of GitHub Actions. Apparently the `ubuntu-latest` used by GitHub Actions is not the most up-to-date Ubuntu.

@sobolevn I think that is a great idea, as it will produce clear error message when decryption fails due to the mismatch of

[2022-01-25 16:14] sobolevn commented on #760
I have no idea if this is actually possible 🤔

[2022-01-25 16:17] sobolevn commented on #760
But, even if it is not possible we can write `VERSION` file with `gpg` version.

[2022-01-25 16:19] FanchenBao commented on #760
Yes, that will work. I think we can update the `VERSION` file each time user run `git secret hide`, and verify against `VERSION` each time user run `git secret cat` or `git secret reveal`.

[2022-01-25 16:39] sobolevn commented on #760
@FanchenBao do you want to give this a spin? 🙂
PR is very welcome!

[2022-01-25 16:45] FanchenBao commented on #760
Sure thing

[2022-02-01 00:35] sobolevn opened #763 "Centos CI fails"
[code]

Link: https://github.com/sobolevn/git-secret/runs/5008069437?check_suite_focus=true

[2022-02-01 19:26] joshrabinowitz commented on #763
I think the solution is to move to AlmaLinux or RockyLinux,
or to replace the mirrorlist in the appropriate config file.

See:
https://stackoverflow.com/questions/70926799/centos-through-vm-no-urls-in-mirrorlist/70933992
which refers to:
https://www.centos.org/centos-linux-eol/

[2022-02-01 19:48] sobolevn commented on #763
Thanks for the info! I will drop it for now.

[2022-02-01 20:10] #763 closed

[2022-02-02 13:33] joshrabinowitz opened #765 "replace Centos github action with rocky linux"
See https://github.com/gantsign/ansible_role_minikube/pull/75/files

Follow up to #763 and #764

[2022-02-04 21:51] nmilcoff opened #767 "Unable to install using rpm"
What are the steps to reproduce this issue?
-------------------------------------------
1. Try installing package via rpm, as instructions mention: `wget https://raw.githubusercontent.com/sobolevn/git-secret/master/utils/rpm/git-secret.repo -O git-secret-rpm.repo`

What happens?
-------------
…
Installation will fail with a 403 Forbidden error, when trying to access https://gitsecret.jfrog.io/ui/n

[2022-02-04 22:02] github-actions[bot] opened #768 "release-ci on Fri Feb 04 2022"
Details: https://github.com/sobolevn/git-secret/actions/workflows/release-ci.yml

[2022-02-04 22:04] #768 closed

[2022-02-04 22:05] github-actions[bot] opened #769 "release-ci failure on Fri Feb 04 2022"
Details: https://github.com/sobolevn/git-secret/actions/workflows/release-ci.yml

[2022-02-04 22:09] #769 closed

[2022-02-04 22:13] sobolevn commented on #767
@nmilcoff are you using Centos? If so, looks like it is deprecated. Our Fedora `rpm` build works just fine.

[2022-02-04 22:16] nmilcoff commented on #767
I'm using Alpine (also I must admint I'm not an expert in linux). Could this be a jfrog issue otherwise?

This is what I have in my yml:

[2022-02-04 22:30] sobolevn commented on #767
If you are using Alpine, you should use `.apk`, not `.rpm`.

Our Alpine release CI passes: https://github.com/sobolevn/git-secret/runs/5073459202?check_suite_focus=true

But, it was failing indeed. Maybe some server probelms. Please, report back if you have any problems in the future!

[2022-02-04 22:30] #767 closed

[2022-02-07 13:01] nmilcoff commented on #767
Unfortunately I can't in the Alpine version we use. However I definitely think it was something jfrog related, it started working again later that day.

Thanks a lot for your quick replies, and for this amazing tool!

[2022-02-20 23:12] joshrabinowitz commented on #761
We haven't seen this for almost a month, closing.

[2022-02-20 23:12] #761 closed

[2022-02-22 18:10] joshrabinowitz commented on #674
I seem to remember this could happen if one changed from `root` to another user using `sudo` and THEN interacted with gnupg. Can anyone confirm/deny?

[2022-02-22 18:10] #674 closed

[2022-02-22 18:14] joshrabinowitz commented on #746
I think we should document the possibility of getting this error (`conversion from 'utf-8' to 'US-ASCII' failed: Illegal byte sequence`), and its resolution, in the docs for `removeperson`, and then close this issue

[2022-02-27 13:39] joshrabinowitz opened #786 "automate packaging for arch linux"
We have automated _testing_ on `arch`, now let's automate building `git-secret` package for `arch`.
See notes in #785

[2022-02-27 15:01] #746 closed

[2022-03-06 22:35] joshrabinowitz commented on #752
closing because this is resolved

[2022-03-06 22:35] #752 closed

[2022-03-14 06:19] simkimsia opened #789 "bug: auto add multiple files to .gitignore file doesn't break into more than 1 newline in 0.4.0"
What are the steps to reproduce this issue?
-------------------------------------------
1. attempt to add more than 1 file before git ignore it `git secret add <file1> <file2>`
2. then `git secret hide`

What happens?
-------------
Then the .gitignore will add the file1 and file2 but on the same line.

![CleanShot 2022-03-14 at 14 03 25](https://user-images.githubusercontent.com/245021/158115286-9

[2022-03-14 16:22] sobolevn commented on #789
Oh wow, thank you for your support! ❤️‍🔥
And of course, for your bug report.

I like this idea, but there are several problems:
1. I live in Russia, right now we have temporary problems with international payments due to western sanctions. For example, GitHub Sponsors and OpenCollective do not work, because PayPal has blocked all Russian accounts (including mine). We will figure something out. For

[2022-03-14 16:29] sobolevn opened #790 "git-secret.io domain might be lost"
I got this email recently from NameCheap, where `git-secret.io` was registered.
<img width="549" alt="Снимок экрана 2022-03-14 в 19 23 21" src="https://user-images.githubusercontent.com/4660275/158216380-2ce62cbc-ac78-4080-b828-6517dcf03f52.png">

Later I got this one:
<img width="539" alt="Снимок экрана 2022-03-01 в 20 13 20" src="https://user-images.githubusercontent.com/4660275/158216550-23524d

[2022-03-15 01:41] simkimsia commented on #790
Sorry to hear this

[2022-03-15 01:48] simkimsia commented on #789
I wasn't aware of you based in Russia

I'm aware of the sanctions and sorry to hear about how it affects you

I sincerely hope the war ends soon

[2022-03-16 13:53] joshrabinowitz commented on #790
it would be a shame to actually lose the domain name, for multiple reasons.
 Perhaps the domain name can be transferred to another trusted entity for the time being?

[2022-03-16 14:25] joshrabinowitz commented on #789
I see what's going on.

The fix for this issue, ac3b77a5bc5ece2dad6860a35436a517d99a64fa, was applied after the 0.4.0 release.

Seems like a good reason to make a new release as mentioned in #777

[2022-03-16 14:39] joshrabinowitz opened #792 "add tests so we don't regress #789"
we should have tests that confirm that .gitignore looks as expected before and after `add` (and maybe after other actions)

[2022-03-16 15:23] joshrabinowitz opened #794 "automate one test to run with SECRETS_TEST_VERBOSE=1 enabled, so we can see verbose test outputs regularly"
This will make it easier to debug issues using just Github Actions.

[2022-03-17 13:44] joshrabinowitz commented on #789
@simkimsia wrote:

Hey @simkimsia , I wrote you a message on your twitter account to discuss support options.
Please write me back there, maybe we can work something out!

[2022-03-17 13:51] simkimsia commented on #789
I don't see your message on Twitter strangely

How else can I reach you @joshrabinowitz

[2022-03-17 13:59] simkimsia commented on #789
Try email

Use the last 6 letters of my GitHub Nick
Append with AT
Oppoin dot com

I'll delete this once I see ur email

@joshrabinowitz

[2022-03-18 14:12] bperel opened #795 "[question] How "risky" is it to use the "-m" argument with "git secret hide"?"
The [git-secret hide documentation](https://git-secret.io/git-secret-hide) states that if using `git-secret -m`:

What does the documentation mean about "it’s possible to create a state"? Does it mean as a malicious user? I would like to know how risky it is to use `git-secret hide -m`, as currently it's a bit annoying that all files are re-encrypted each time `git-secret hide` is run: if I forget

[2022-03-19 15:55] joshrabinowitz commented on #795
If you don't encrypt all the hidden files when you use `hide`, _and you've added or removed keys from your git-secret repo's keychain_, then you can have some hidden files that are decryptable by a different set of users than others. Consider this scenario:

1) start new git-secret repo
2) add one user's (userX) public key to git-secret repo's keychain using `tell`
3) add one file (A.txt) to be en

[2022-03-19 15:57] joshrabinowitz commented on #795
Also in the case you're showing, the second _encrypted file_ will have changed (encrypted) contents, even if the unencrypted version has not, because git doesn't track the unencrypted files -- which is the whole point of git-secret.

[2022-03-19 20:57] joshrabinowitz commented on #789
did you get my email?

[2022-03-20 01:12] simkimsia commented on #789
Yes josh

Sorry I was busy with other stuff

I’m going to a client place to restart servers

I will respond by end of my day in greater detail  Monday tomorrow

On Sun, 20 Mar 2022 at 4:57 AM, Josh Rabinowitz ***@***.***>
wrote:

--

KimSia ***@***.***

[2022-03-21 08:32] bperel commented on #795
Thank you very much for this explanation, appreciated.
If I understand what you wrote correctly, it's reasonable to hide with `-m` when the following conditions are fulfilled within a commit:
- Secret files are neither added nor removed, only modified
- No git-secret user is being added or removed

Is that correct?

[2022-03-21 12:26] simkimsia commented on #789
Replied and also set up a test public repo to ask my questions. thank you

[2022-03-21 13:30] bperel commented on #795
Thanks a lot :-)

[2022-03-21 13:30] #795 closed

[2022-03-21 14:00] joshrabinowitz opened #796 "make tests faster on OSX"
Tests are significantly slower on MacOS/Github Actions than other platforms. I suspect it's some because of some timeout default. This ticket is to make changes so tests are similar speed on MacOS/Github as other platforms.

[2022-03-21 15:32] joshrabinowitz commented on #749
This seems like a major change in how git-secret operates, and will confuse long time users.
Also I'm loathe to force use of git filters.

`git diff` not being able to show changes in unencrypted files is by design, otherwise git would have to know the contents of the decrypted files.

[2022-03-23 18:13] #789 closed

[2022-03-23 18:13] #792 closed

[2022-03-24 20:47] kevholmes opened #801 "403 Errors when attempting to download git-secret from gitsecret.jfrog.io"
What are the steps to reproduce this issue?
-------------------------------------------
1. Attempt to download .deb package from Artifactory at <https://gitsecret.jfrog.io/ui/native/git-secret-deb/>

What happens?
-------------
[code]

What were you expecting to happen?
----------------------------------
A 200-level OK and a .deb package.

Any logs, error output, etc?
----------------------------

[2022-03-24 20:59] nylo-andry opened #802 "Cannot Install git-secret in alpine Docker container"
What are the steps to reproduce this issue?
-------------------------------------------
1. `docker run -it alpine sh`
2. Once in the container, I followed the instructions in the Installation page for alpine: https://git-secret.io/installation

What happens?
-------------
During the installation process, even though the public key was downloaded, we get a `permission denied` error.

What were you

[2022-03-24 21:25] kevholmes commented on #802
This is a dupe of #801

[2022-03-24 22:04] sobolevn commented on #802
It fails indeed: https://github.com/sobolevn/git-secret/runs/5683848011?check_suite_focus=true

[2022-03-24 22:06] sobolevn commented on #802
Looks like a problem with JFrog.

[2022-03-25 12:47] joshrabinowitz commented on #802
This appears resolved:
https://github.com/sobolevn/git-secret/runs/5685088863?check_suite_focus=true

[2022-03-25 12:47] #802 closed

[2022-03-25 12:47] joshrabinowitz commented on #801
resolved as per #802

[2022-03-25 12:47] #801 closed

[2022-03-25 13:10] joshrabinowitz commented on #755
See also #803

[2022-03-28 11:37] paslandau opened #806 ""gpg: can't connect to the agent: IPC connect call failed" error in docker alpine on shared volume"
I try to build an alpine docker image that contains `git-secret` and can be used to encry/decrypt files in a codebase that is shared with the host system.

When running `git secret killperson` in the container within the shared folder, the error

[code]

is shown. It does not appear when `git secret` is used in a non-shared folder.

![git-secret-error](https://user-images.githubusercontent.com/774

[2022-03-28 16:10] joshrabinowitz opened #810 "make it clear which test is verbose and which is not in the test github action"
Currently we run the osx tests in verbose, and non-verbose modes, but it's not apparent from the github actions page which are verbose. For example https://github.com/sobolevn/git-secret/actions/runs/2047514629 shows this:

<img width="377" alt="Screen Shot 2022-03-28 at 12 08 39 PM" src="https://user-images.githubusercontent.com/699993/160440870-eca51a03-424e-4346-b54b-442faa39e89f.png">

If it's

[2022-03-29 21:50] eigood commented on #39
This isn't clear to me; "not ignored" doesn't necessarily mean to run "git add .gitsecret".  And if after running "git secret init", the files need to be checked in to the repo, then this tool should do just that.

[2022-03-29 21:53] eigood commented on #39
Oh, I see, I'm running 0.2.3(older debian install); the latest documents this in a clearer fashion.  My original point of git secret init adding the files still seems to make sense tho.

[2022-03-30 20:34] joshrabinowitz commented on #806
I haven't dug in yet but when  you mention this:

Which makes it sound like it might be a permissions or file/directory ownership issue; perhaps which is keeping `gpg-agent` from starting.

Can you try running the whole example with the env `SECRETS_VERBOSE=1` ? This might offer some hints.

[2022-03-31 06:40] paslandau commented on #806
Just added more info on the host system (sry for omitting before):

Mentioning this, because in this setup the permissions are not transferred from the host system (instead, they are `0777` by default which can also not be changed, see https://stackoverflow.com/a/66390200 - thus I don't believe it's a permission issue)

Unfortunately no additional info:

[code]

But: I revealed that the same error

[2022-03-31 06:52] paslandau commented on #806
Short follow up:

I checked the running `gpg-agents` via `ps aux` and noticed, that an agent is started for `/tmp` but not for `/shared` (after running e.g. `git secret tell`)

[code]

Killing and restarting it works:

[code]

Trying the same in the `/shared` folder fails with

[code]

[2022-03-31 07:33] paslandau commented on #806
I believe I understand the issue now - though I'm not sure if/how this can be solved by `git secret`, because it requires adding some additional files to the `--home-dir` of the `gpg-agent` in order to change the socket location.

Here's my understanding of the issue:

- `gpg` needs an `gpg-agent` for some (?) things
- the agent is started implicitly through a `gpg` command somewhere (?) within `g

[2022-03-31 13:18] joshrabinowitz opened #811 "reconsider our use of `--no-permission-warning` because sometimes it is hiding actual permission problems"
many times when git-secret is interacting with gnupg, we use the `--no-permission-warning` option.

We periodically see issues which are related to permissions and I suspect that some of these issues could be spotted earlier by git-secret not using `--no-permission-warning`

This also relates to possibly setting permissions more carefully and/or the user's `umask`

[2022-04-01 00:48] #794 closed

[2022-04-01 12:36] joshrabinowitz opened #813 "reconsider directions about adding other users to git-secret repo"
In
https://github.com/sobolevn/git-secret/blob/master/man/man7/git-secret.7.md#usage-adding-someone-to-a-repository-using-git-secret
we say:

#### Usage: Adding someone to a repository using git-secret
* Get their gpg public-key
* Import this key into your gpg keyring (in ~/.gnupg or similar) by running gpg --import KEY_NAME.txt
* (more steps follow)

Is this good advice? Should we also be telling

[2022-04-01 12:40] joshrabinowitz commented on #790
if we expect this to occur, we should remove mentions and links to that domain from the docs and source and replace them with ones we expect to keep working, and then make a new git-secret release

[2022-04-01 18:45] sobolevn commented on #813
I think importing public keys is fine **if** you remove it afterwards!
Very good catch! 👍

[2022-04-01 19:35] #811 closed

[2022-04-01 23:03] joshrabinowitz opened #815 "ensure github action non-verbose osx test doesn't show verbose output"
The osx non-verbose test is showing verbose output
See https://github.com/sobolevn/git-secret/runs/5795672768?check_suite_focus=true

[2022-04-02 15:01] #815 closed

[2022-04-02 15:16] #813 closed

[2022-04-10 14:44] joshrabinowitz commented on #806
I'm not exactly clear what your use case is; I can't quite figure out what problem you're trying to solve.
What are you trying to accomplish in the alpine VM?

[2022-04-10 15:06] paslandau commented on #806
I try to reduce the amount of tools that each individual dev in a team needs to set up locally as much as possible. We use `docker` to provide the local development infrastructure and I try to set up `git-secret` and `gpg` in a container that shares the codebase with the host system. With this setup, everybody can use `git-secret` "through docker".

I'll release a longer article on the exact setup

[2022-04-11 11:41] joshrabinowitz opened #826 "fix man output in tests to not contain unprintable chars or terminal escape sequences"
See https://github.com/sobolevn/git-secret/pull/825#pullrequestreview-937323391
and https://github.com/sobolevn/git-secret/pull/825#issuecomment-1094415562

[2022-04-15 16:33] joshrabinowitz commented on #806
Please explain your use case much more simply.

Your example is so removed from the normal case of 'add a user's public key to a git-secret repo's keychain and let them decrypt/encrypt secrets until their key changes or they should no longer have access' that I can't understand out how you intend to use git-secret in real life. For example, in your examples above, there is one keypair that can enc

[2022-04-17 21:35] #739 closed

[2022-04-18 12:05] #171 closed

[2022-04-18 12:06] #266 closed

[2022-04-18 16:01] joshrabinowitz opened #833 "clean should only remove files currently hidden"
`git secret clean` and `git secret hide -c` remove all files ending in `.secret`. They should only remove encrypted files considered secret, i.e. having been added by `add`. All the clean/delete code (including `remove -c`) should be revisited.

[2022-04-19 20:55] joshrabinowitz opened #834 "if passed files, clean options to git-secret commands should only delete the corresponding files"
When looking into #833, I discovered that

* `git-secret-hide -c file.txt` will remove all unencrypted version of hidden files, even though filename are specified - this should be fixed
* `git-secret-hide -d file.txt` will remove all encrypted versions of hidden files, even though filename specified - this should be fixed

* `git-secret-remove -c file.txt` works as expected; the -c (clean) option

[2022-04-19 21:14] #706 closed

[2022-04-19 21:14] #833 closed

[2022-04-20 12:53] joshrabinowitz commented on #834
@sobolevn maybe you would like to chime in with details of how you think `delete` and `clean` options should work in corner cases

[2022-04-20 14:16] joshrabinowitz opened #835 "add documentation about how to resolve 'not a tty' automation issues"
See #502

[2022-04-21 23:56] joshrabinowitz opened #838 "add msys2 support to git-secret"
Currently using MSYS2 (https://www.msys2.org/) on Windows, we get

[code]

[2022-04-22 00:28] #838 closed

[2022-04-22 01:53] joshrabinowitz opened #840 "fix tests on windows using msys2"
Most tests pass, but these fail like this:

[code]

[2022-04-22 05:07] redouane-dev commented on #563
Same issue on macOS. Running on a new terminal works.

[code]

[2022-04-22 12:41] joshrabinowitz commented on #563
This is not a random phenomenon, something is causing gnupg (not git-secret) to hang on the passphrase. I think this can be caused by sudo-ing from root to a normal user and then using git-secret. It would be good if we could enumerate the cases that can make this happen.

[2022-04-22 13:07] joshrabinowitz commented on #563
That sounds like a terminal sync problem (I'm not sure the correct language to use). I've never seen that exact behavior.

This is good data though, let's figure out what conditions cause gnupg to hang waiting for the passphrase

[2022-04-22 20:10] joshrabinowitz opened #843 "document installing on windows in more detail"
Continues on work in #837

[2022-04-22 22:49] joshrabinowitz opened #844 "fix tests on windows using cygwin"
This is the error we get now:

[code]

[2022-04-23 12:46] joshrabinowitz commented on #406
I believe it is necessary; many tests fail if we do not stop `gpg-agent` between tests.
We currently use a ps and kill combo (which fails on some windows systems and doesn't work on `busybox`, other methods seen include:
 * gpgconf --kill gpg-agent (only works on some modern versions of gnupg)
 *  gpg-connect-agent reloadagent /bye  (not tried)
 (both of the above are mentioned at https://superuse

[2022-04-23 12:51] joshrabinowitz commented on #406
closing because yes, it is necessary to stop `gpg-agent` between tests

[2022-04-23 12:51] #406 closed

[2022-04-23 12:53] joshrabinowitz commented on #409
This issue has been replaced by #756

[2022-04-24 03:46] joshrabinowitz opened #846 "enable testing on windows with wsl"
part of #756

[2022-04-24 03:54] #846 closed

[2022-04-24 17:16] joshrabinowitz opened #850 "figure out why github tests intermittently fail on alpine"
Occasionally (maybe 15% of the time) we see this on Alpine:

[code]

Recent examples 4/24/2020:
https://github.com/sobolevn/git-secret/runs/6148029869?check_suite_focus=true
https://github.com/sobolevn/git-secret/runs/6148223376?check_suite_focus=true

I think this may have to do with not successfully stopping `gpg-agent` but I don't know

Happened again today on 4/25/2020:
https://github.com/sobo

[2022-04-24 17:36] joshrabinowitz commented on #843
@bennycode feel free to submit a PR continuing on with the existing windows install docs

[2022-04-24 18:26] #455 closed

[2022-04-24 18:27] joshrabinowitz commented on #455
resolved

[2022-04-24 18:57] joshrabinowitz opened #851 "fix numbering of steps in 'Adding someone to a repository using git-secret' section of man/man7/git-secret.7.md"
The block quote example seems to make it so we have two `1)` sections

[2022-04-24 19:03] joshrabinowitz commented on #699
I think we can close this now, we have documented the two keyrings pretty well.

[2022-04-24 19:03] #699 closed

[2022-04-24 19:09] joshrabinowitz commented on #670
Closing, we have dependabot enabled.

[2022-04-24 19:09] #670 closed

[2022-04-24 19:10] joshrabinowitz commented on #692
We definitely show more in verbose mode now, and it has assisted in people understanding and debugging git-secret. Closing.

[2022-04-24 19:10] #692 closed

[2022-04-24 19:11] joshrabinowitz commented on #756
Now that we are testing on windows with WSL this is technically done.

[2022-04-24 19:11] #756 closed

[2022-04-24 19:19] #640 closed

[2022-04-24 19:23] joshrabinowitz commented on #582
This has been unupdated in over 2 years, closing.

[2022-04-24 19:23] #582 closed

[2022-04-25 12:22] paslandau commented on #806
Hey @joshrabinowitz,

sorry for the late reply and the confusion. Here's where I was coming from (probably helpful for context): I was writing a blog post about **using `git-secret` in a dev team that uses `docker` to run the application locally**. It's now finally published at https://www.pascallandau.com/blog/git-secret-encrypt-repository-docker/

In this setup I believe it's quite common to **s

[2022-04-25 16:23] bennycode commented on #638
I can confirm that the issue is fixed in "git secret 0.5.0-alpha1". I had an email 4x in the list (`git secret whoknows`) and removed all keys by calling `git secret removeperson <email>` 4x. Afterwards, I added the latest key of that person and executed `git secret tell` to have a clean list of people who know the secrets.

[2022-04-26 17:28] joshrabinowitz commented on #850
@sobolevn

[2022-04-27 16:01] joshrabinowitz commented on #790
@sobolevn has this been resolved?

[2022-04-27 19:55] sobolevn commented on #790
Nope 😢

[2022-04-27 21:06] joshrabinowitz commented on #566
Reopening, we should document more about this and/or handle it appriopriately in `.gitignore`

[2022-04-27 21:10] joshrabinowitz commented on #676
I now believe this was a permissions issue that stopped gpg-agent from starting

[2022-04-27 21:18] joshrabinowitz commented on #636
Fixed as per #638

[2022-04-27 21:18] #636 closed

[2022-04-27 21:20] joshrabinowitz commented on #136
the causes and implications of this and related issue are pretty well documented. Closing this

[2022-04-27 21:20] #136 closed

[2022-04-27 21:21] joshrabinowitz commented on #228
this is well documented and outside the scope of what git-secret targets

[2022-04-27 21:21] #228 closed

[2022-04-27 21:22] joshrabinowitz commented on #319
git-secret is now in alpine

[2022-04-27 21:22] #319 closed

[2022-04-27 21:28] #655 closed

[2022-04-27 21:29] joshrabinowitz commented on #515
assuming this isn't happening, closing

[2022-04-27 21:29] #515 closed

[2022-04-28 18:27] cjoster opened #857 "Revoked key seen as duplicate when trying to add user to tell list"
When enumerating keys, revoked keys should be skipped unless forced in some other manner. Since you can only search for keys by email, there is no way to uniquely specify the non-revoked key.

What are the steps to reproduce this issue?
-------------------------------------------
1. Have an old revoked key with your email address.

[code]

2. Attempt to `git secret tell`

[code]

What happens?
---

[2022-04-28 21:33] cjoster commented on #857
Please don't merge yet. This results in revoked keys getting added to the keyring, which isn't the end of the world but I'd like it to be cleaner.

[2022-04-29 13:10] joshrabinowitz opened #859 "Use gnupg terminology more consistently, and conform to gnupg expected operations"
See https://davesteele.github.io/gpg/2014/09/20/anatomy-of-a-gpg-key/

May relate to "my keyring has multiple keys" issues

[2022-04-29 20:31] joshrabinowitz opened #860 "write short documentation explaining the structure of the git-secret code, so new developers can get going quickly"

[2022-04-29 22:37] joshrabinowitz opened #861 "link to gnupg FAQ somewhere in the documentation"
Gnupg FAQ explains a lot about Gnupg, and we should consider linking to it in the docs.
The FAQ is here: https://www.gnupg.org/faq/gnupg-faq.html

[2022-05-06 12:24] damienbutt opened #862 "Managing use across multiple machines (one user, multiple GPG keys with same email)"
Hi all,

I have just started using git-secret and have come up against a slight issue I am not sure how to solve.

I have set up git-secret on one machine, added my key, added secrets and hidden secrets etc... all worked as expected.

Using a different machine, I wanted to pull down the repo and access the secrets. I have GPG set up on the other machine. I tried to add myself from that machine but

[2022-05-06 16:20] joshrabinowitz commented on #862
Hello and thank you for your note.

The design of git-secret assumes each email address is associated with one gnupg key. There are plans to allow keys to be specified by fingerprint, please see #268. If you have the ability to help us move towards this goal, your contributions are welcome!

As of now you'll need to make sure each unique key is associated with a unique email address for use with g

[2022-05-06 21:35] cycloss opened #863 "gpg: cannot open '/dev/tty': No such device or address"
I'm attempting to use git-secret within a github action, but I'm getting the error:

[code]

The command i'm using in the action is:

[code]

What's strange is that I've had this working in the past, but i've not encountered the error. I tried to use `-f`, but that doesn't help. Any ideas as to why I might be getting this error?

[2022-05-07 13:35] joshrabinowitz commented on #863
I'm pretty sure this means that gpg is trying to get user input from the terminal but is unable (because it's being run in a git action).

Can you put git-secret into verbose mode by setting SECRETS_VERBOSE=1 in your environment variables (or pass -v to each git-secret command) and re-posting the results?

[2022-05-07 13:41] joshrabinowitz commented on #863
you don't say which version of git-secret you're using; if you can try with the latest `master` branch you may get better error messaging too

[2022-05-07 16:36] cycloss commented on #863
@joshrabinowitz apologies. Completely my fault. I was referencing the wrong environment variable and so I guess `tty` was being opened as `gpg` was asking for the password to be re-entered.

[2022-05-07 16:36] #863 closed

[2022-05-10 08:10] dkonopka commented on #760
This is something really needed, because in terms of users with macOS, and CI/CI on Ubuntu there is no way to configure git-secret properly with different versions of gpg.. :(

[2022-05-10 20:17] joshrabinowitz commented on #862
Closing as dup of #268

[2022-05-10 20:17] #862 closed

[2022-05-10 20:18] joshrabinowitz commented on #857
Closing, this is (mostly) a dup of #268

[2022-05-10 20:18] #857 closed

[2022-05-10 20:21] joshrabinowitz commented on #741
This also seems pretty easy to script locally on your systems.
Planning to close this ticket in a couple weeks unless there is more input.

[2022-05-10 20:24] joshrabinowitz commented on #705
This is briefly documented at https://www.gnupg.org/documentation/manuals/gnupg/Dirmngr-Configuration.html , which says that this directory is used to store  "cached CRLs" (certificate revocation lists).

I think this directory will only be present if you have revoked certificates.
This should be documented in the git-secret docs.

[2022-05-10 21:24] joshrabinowitz commented on #268
I have a recommendation for implementation:

* Because of all the reasons described above, the idea is to internally always use fingerprints to describe keys.
* Also because of reasons described above, when the user specifies a key by email address, we avoid using gnupg to match the email to keys, and instead use our own code to match email address to keys.

[2022-05-10 21:32] #333 closed

[2022-05-10 21:59] joshrabinowitz commented on #760
See
https://packages.ubuntu.com/search?keywords=gnupg
and
https://formulae.brew.sh/formula/gnupg

[2022-05-10 22:00] joshrabinowitz commented on #629
See also #268

[2022-05-11 07:20] 030 commented on #705
@joshrabinowitz perhaps gitsecret needs to add so more entries to the .gitignore automatically to ensure that these directories will not be comitted accidentally.

[2022-05-12 19:51] dkonopka commented on #760
@joshrabinowitz its tricky thing, because installing git-secret via brew, then installing gnupg@2.2 it's not working for me (even older version installed, git-secret is using a newer one) or maybe I don't know how to do it properly :)

[2022-05-12 21:59] joshrabinowitz commented on #760
@dkonopka can you please try uninstalling git-secret and gnupg using brew, then installing gnupg at the desired version from brew, then installing git-secret from brew too? Please let us know if this installs the expected versions and works.

I appreciate this report and feedback, I haven't had a chance to try this on an osx/brew system yet. Thank you!

[2022-05-13 15:14] joshrabinowitz commented on #760
Hm you didn't show uninstalling the latest version of gnupg. Are you sure it wasn't still lingering around?

Also look at the env var that lets you specify a particular path to gpg (I forget the var name right now sorry)

[2022-05-13 15:19] dkonopka commented on #760
@joshrabinowitz edited my previous comment, I just properly reinstalled gpg, by adding brew cleanup :)

[2022-05-13 15:21] joshrabinowitz commented on #760
So this is resolved for you? Looks like you're getting 2.2.xx version of gnupg

[2022-05-15 11:29] paslandau opened #864 "https://gitsecret.jfrog.io/ returns 403 Forbidden"
When trying to install git secret in alpine [as outlined in the docu](https://git-secret.io/installation#alpine-systems--apk-package) via

[code]

The installation fails with
[code]

Seems like a general error for the whole `jfrog.io` domain:

[code]

[2022-05-15 14:11] joshrabinowitz commented on #864
Thank you for this report. Looks like an issue with jfrog. @sobolevn can you investigate

[2022-05-16 00:23] github-actions[bot] opened #865 "release-ci failure on Mon May 16 2022"
Details: https://github.com/sobolevn/git-secret/actions/workflows/release-ci.yml

[2022-05-16 06:01] sobolevn commented on #864
Related: https://github.com/sobolevn/git-secret/issues/865

[2022-05-16 06:02] sobolevn commented on #864
Looks like JFrog is down:
<img width="764" alt="Снимок экрана 2022-05-16 в 9 01 45" src="https://user-images.githubusercontent.com/4660275/168528915-013a9b1c-aab3-43ff-aa0b-431ab1239069.png">

[2022-05-16 06:02] sobolevn commented on #864
For now, you can try to use source installation if possible.

[2022-05-16 06:44] paslandau commented on #864
Installation from source works. For alpine I use:

[code]

[2022-05-16 09:55] michaelaubert commented on #864
Thanks to @paslandau above, I modified my Bitrise Ubuntu for Android with:

apt-get update

[code]
and that seems to be working fine
not optimal but it unblocked my team for now

[2022-05-16 13:19] dkonopka commented on #760
@joshrabinowitz yup, it is finally working for me (however versions are a bit different):

MacOS (dev environment):
[code]

Ubuntu (ci environment)
[code]

[2022-05-16 13:24] sobolevn commented on #864
It works now, looks like JFrog is up again! https://github.com/sobolevn/git-secret/actions/runs/2332179759

[2022-05-19 07:12] joshrabinowitz commented on #850
we haven't seen this for a while, closing

[2022-05-19 07:12] #850 closed

[2022-05-25 04:43] tamtmh opened #868 "All files are revealed but decrypted files are not displayed when I excute with github action"
What are the steps to reproduce this issue?
-------------------------------------------
1. test.yml
[code]

What happens?
-------------------------------------------
- this action was run successfully and give notice "All 2 files are revealed" but decrypted files are not displayed
![Screen Shot 2022-05-25 at 11 35 19](https://user-images.githubusercontent.com/46368726/170180665-b81628f9-4f8a-4ae8-

[2022-05-25 13:51] joshrabinowitz commented on #868
I think it's showing the names of the encrypted files it decrypted. Can you add code to check if the decrypted files are present?

[2022-05-27 08:35] cattapan opened #869 "How do I rotate my key?"
My gpg key is expiring in due course. I created a new key, with same e-mail address of my expiring one. I want to add my new public key to git-secrets, but when I use git-secret tell <my-email>, it errors out with "git-secret: abort: 2 keys found in gpg user keyring for: <my-email>".

What are the steps to reproduce this issue?
-------------------------------------------
1. Create new gpg key pair

[2022-05-27 11:50] joshrabinowitz commented on #869
This is because git-secret does not understand the concept of one email being associated with multiple keys; this has caused multiple different problems for users.

Our proposed solution is for git-secret to allow keys to be specified by fingerprint, see #268.

For now the easiest solution is to remove the expired key from your personal keyring. Please let us know if this works for your scenario.

[2022-05-27 12:16] joshrabinowitz opened #870 "add documentation to `git-secret` and `tell` that explains problem with multiple keys for one email address, how to work around, and the long-term solution"
We keep getting issues related to git-secret's assumption that each email address is associated with one key. (#869, #857, #862, #636, #633, #552, and others)

If we're not going to have #268 implemented soon, we should document this problem and how to work around it, in the docs.

We can change these docs to talk about using fingerprints once `git-secret` supports their use.

[2022-05-27 13:12] DragosRomaniuc commented on #868
I have the same issue @tamtmh.
Did you find the solution?

Thanks.

[2022-05-27 13:24] joshrabinowitz commented on #868
There is a bug in older versions of `git-secret` that causes `git-secret` not to issue any error in some cases if it's unable to decrypt the secrets. Please try again with the latest master branch of git-secret and let us know if this resolves your issues, @DragosRomaniuc and @tamtmh

[2022-05-27 13:27] joshrabinowitz commented on #868
Also, using the verbose `-v` option in the _latest versions of git-secret_ should show details about what is happening with `gnupg` to cause those files not to be decrypted.

[2022-05-27 13:29] DragosRomaniuc commented on #868
@joshrabinowitz  Thanks. I tried it with latest version but now i get this error:

git-secret: abort: cannot find decrypted version of file: **<secret>**

How can i solve this ? Thanks a lot.

[2022-05-27 13:49] DragosRomaniuc opened #871 "git-secret: abort: cannot find decrypted version of file:"
What are the steps to reproduce this issue?
-------------------------------------------
1. In github actions
2.
          sudo sh -c "echo 'deb https://gitsecret.jfrog.io/artifactory/git-secret-deb git-secret main' >> /etc/apt/sources.list"
          wget -qO - 'https://gitsecret.jfrog.io/artifactory/api/gpg/key/public' | sudo apt-key add -
          sudo apt-get update && sudo apt-get install -y

[2022-05-27 13:55] joshrabinowitz commented on #871
Thank you for this bug report. Can you please try with the current master branch and `-v` with every git-secret command to use verbose mode, this should provide info about what's going on.

[2022-05-27 14:13] DragosRomaniuc commented on #871
@joshrabinowitz I did, git secret reveal -v outputs the same log.
[code]

[2022-05-27 16:27] joshrabinowitz commented on #871
Thanks again for following up.

According to the best docs I could find on the subject (<https://lists.gnupg.org/pipermail/gnupg-devel/2005-December/022559.html>), (paraphrased):

* Exit code 0 means 'success' (although we've seen versions of gnupg where you can get a 0 exit code but the expected files are not decrypted)
* Exit code 1 means 'any error due to the actual data processing'
* Exit code

[2022-05-27 16:36] joshrabinowitz opened #872 "document gnupg exit codes, so people can debug decryption issues better"
See <https://github.com/sobolevn/git-secret/issues/871#issuecomment-1139775392>

Occasionally there are situations where it would be useful for people to understand the exit codes gnupg returns, for debugging.

Adding these docs to `git-secret` (and `reveal`) docs might help users figure out unusual issues.

[2022-05-27 16:51] joshrabinowitz opened #873 "match email addresses with '<>' when possible so we mitigate #268"
we could first try matching email addresses with `<>`, and fallback to old matching `<>`-less matching (and issue a warning) if we "have" to.

[2022-05-28 08:02] cattapan commented on #563
The same just happened to me now.  Happy to provide more logs if needed

[code]

[2022-05-28 14:00] joshrabinowitz commented on #563
@cattapan thank you for this issue report. Your particular problem is not specific to git-secret, and instead is particular to gnupg.

If you google "gpg: signal Interrupt caught ... exiting" you can see this is a recurring issue people have with gnupg. Is it the case that gnupg is hanging on `Enter passphrase`? Are you typing cntl-C to cause the 'signal Interrupt caught' message from gnupg? Is th

[2022-05-28 14:47] paslandau opened #874 "Misleading error message "git-secret: abort: not in dir with git repo""
Since `v2.35.2` `git` will check if the issuer of a command is the owner of the parent directory of the `.git` directory. (FYI: I believe the fix was also backported to earlier git versions). See https://github.blog/2022-04-12-git-security-vulnerability-announced/ (mitigates `CVE-2022-24765`):

See also https://www.pascallandau.com/blog/git-secret-encrypt-repository-docker/#the-git-permission-issu

[2022-05-30 00:05] joshrabinowitz commented on #433
Relates to #874 and #431

[2022-05-31 13:26] geissebn opened #878 "Installation fails under Alpine"
What are the steps to reproduce this issue?
-------------------------------------------
1. Start new Alpine instance (`docker run -it alpine:latest`)
2. Follow installation guide at https://git-secret.io/installation#alpine-systems--apk-package

What happens?
-------------
`apk add --update --no-cache git-secret` fails with

[code]

What were you expecting to happen?
------------------------------

[2022-05-31 13:38] sobolevn commented on #878
JFrog 🤦

[2022-06-01 06:34] geissebn commented on #878
Well, how can we mitigate this issue?

[2022-06-01 06:46] sobolevn commented on #878
The only thing I can recommend for now: use source installation.
I am trying to fix JFrog right now.

[2022-06-01 06:49] sobolevn commented on #878
Or try direct download: https://gitsecret.jfrog.io/artifactory/git-secret-apk/all/main/armv7/git-secret-0.4.0.apk

[2022-06-01 06:52] sobolevn commented on #878
Hm, this is strange. Looks like we have a different problem:
- Our release CI works for Alpine15: https://github.com/sobolevn/git-secret/actions/runs/2419777805
- Update to Alpine16 fails with the same error you have: https://github.com/sobolevn/git-secret/pull/876

So, maybe something is change in 15 -> 16 alpine migration?

[2022-06-01 06:56] sobolevn commented on #878
@joshrabinowitz I think we can try to release 0.5.0 on new alpine releaser.
It might solve this problem 🤔

[2022-06-01 19:04] sobolevn commented on #878
Yes, on 2.06 🎉

[2022-06-04 12:17] joshrabinowitz commented on #878
On 2.06 of what @sobolevn

[2022-06-04 12:23] joshrabinowitz commented on #878
Should we be filing an issue with jfrog? It seems this is a jfrog issue; can anyone confirm or deny

[2022-06-04 18:28] sobolevn commented on #878
On 5.06 😞
Don't have any time this week.

[2022-06-05 09:03] sobolevn commented on #878
New release (`0.5.0`) is published.

[2022-06-05 09:04] sobolevn commented on #878
But, it seems that our CI still fails for Alpine 3.16: https://github.com/sobolevn/git-secret/runs/6743924484?check_suite_focus=true#step:3:70

[2022-06-05 09:05] sobolevn commented on #878
I will contact JFrog, maybe there's something they can do on their side 😞

[2022-06-06 16:54] joshrabinowitz opened #881 "release 0.5.1 for all platforms except alpine, so we can pass self-tests with the release"
Idea:  remove support for alpine packages from git-secret and release 0.5.1; then when we resolve the alpine issue(s) we release a new 0.5.2
@sobolevn

[2022-06-06 16:56] joshrabinowitz commented on #878
Any movement on this? I propose we reach out to alpine (or jfrog?) experts for advice about what is going wrong with alpine builds.
See also #881

[2022-06-06 17:37] joshrabinowitz commented on #878
they being JFrog?

[2022-06-06 17:49] sobolevn commented on #878
Yeap, support chat

[2022-06-06 20:55] joshrabinowitz commented on #806
Hello, @paslandau

Thanks for following up.

You present an unusual use case, but it's an important one perhaps, and you do present a reasonable solution to the problem.

If you submit a PR, we will consider it for inclusion.
Alternately it may make sense to release the needed code as a git-secret "external plugin":  https://git-secret.io/plugins

[2022-06-06 21:24] joshrabinowitz commented on #453
I don't see this getting implemented; closing.

[2022-06-06 21:24] #453 closed

[2022-06-07 20:04] sobolevn commented on #878
https://www.jfrog.com/confluence/display/JFROG/Known+Issues#KnownIssues-ExistingKnownIssues

[2022-06-10 16:26] joshrabinowitz commented on #868
it would be helpful to see the output from using `bash -x` to run `git-secret` as described in #594

I also suspect some hints about what's going wrong would show up if `git-secret`'s `-v` options was used to show output from gnupg commands

Also please check that your `.gitignore` and `.gitsecret/paths/mapping.cfg` files look sane.

[2022-06-10 17:00] joshrabinowitz opened #883 "arch tests fail with github actions"
The error we get: ( See https://github.com/sobolevn/git-secret/runs/6834863889?check_suite_focus=true#step:3:223 )

downloading required keys...
:: Import PGP key 0F65C7D881506130, "Maxime Gauduin <alucryd@archlinux.org>"? [Y/n]
checking package integrity...
error: zstd: key "95220BE99CE6FF778AE0DC670F65C7D881506130" is unknown
:: Import PGP key 95220BE99CE6FF778AE0DC670F65C7D881506130? [Y/n]
:: F

[2022-06-10 18:35] joshrabinowitz opened #885 "don't assume file handle 5 is free"
Re: https://github.com/sobolevn/git-secret/pull/783/files (although code now uses file descriptor 5)

See for example https://stackoverflow.com/questions/41603787/how-to-find-next-available-file-descriptor-in-bash

[2022-06-10 19:26] #883 closed

[2022-06-11 14:20] joshrabinowitz commented on #881
@sobolevn I've removed apk building from the release process for now, can you release 0.5.1 which should pass all self-tests now

[2022-06-11 15:12] joshrabinowitz opened #887 "allow warnings and errors when using gnupg to decrypt files, because we do for encryption, and sometimes the output of decryption provides hints as to what went wrong"
See #868, which I think would be mitigated if we always showed the output from gnupg when performing decryption (not just in verbose mode)

[2022-06-12 13:44] joshrabinowitz commented on #878
This is also basically a dup of #801 and #802

[2022-06-12 13:47] joshrabinowitz commented on #851
reopening, this is not fixed

[2022-06-12 13:58] joshrabinowitz opened #890 "have git-secret-cat return non-zero exit code if files cannot be decrypted, because currently it always returns 0 for success"
We don't look at or return the exit code from gnupg when we do `git secret cat filename.txt`.
We think this does _not_ effect `git secret changes` but should confirm

[2022-06-12 14:11] joshrabinowitz commented on #890
this is not true, `git-secret-cat` does return non-zero error code with a bad filename

[2022-06-12 14:11] #890 closed

[2022-06-12 17:56] #887 closed

[2022-06-12 18:12] joshrabinowitz opened #891 "show error from git if it cannot locate repo"
As per #874,
if`git rev-parse --is-inside-work-tree` fails in _is_inside_git_tree(),
we could show the error message returned.

[2022-06-12 18:13] joshrabinowitz commented on #874
Closing. The error message has been improved,
 and the suggestion to showing any error message from git has been moved to #891

[2022-06-12 18:13] #874 closed

[2022-06-12 18:42] #851 closed

[2022-06-12 18:42] joshrabinowitz commented on #851
fixed

[2022-06-12 18:51] joshrabinowitz opened #893 "help users avoid problems using different versions of gnupg with git-secret repos"
As per #760, we could help users avoid issues when mixing different versions of gnupg on the same repo.

@sobolevn suggests writing a '.gitsecret/VERSION file with gpg version', and @FanchenBao adds that 'we can update the VERSION file each time user run git secret hide, and verify against VERSION each time user run git secret cat or git secret reveal.'

[2022-06-12 18:53] joshrabinowitz commented on #760
* it is confirmed that at this point the default Ubuntu and Brew packages of gnupg do not interoperate well,
* we have documented the issue and how to install matching versions in the docs.
* We also moved suggested code changes to track the versions of gnupg used to #893

[2022-06-12 18:53] #760 closed

[2022-06-17 15:53] joshrabinowitz opened #894 "Fix backticks in installation.md"
Typo at line:
[code]

[2022-06-17 18:31] #894 closed

[2022-06-24 09:43] rvanbutselaar commented on #878
Any updates on this, or should we move to Debian / Red Hat based Docker images?

[2022-06-24 20:04] sobolevn commented on #878
It does not work :(
https://github.com/sobolevn/git-secret/runs/7047920383?check_suite_focus=true
There's nothing I can do (except finding new Alpine repo host).

[2022-06-25 11:36] joshrabinowitz commented on #878
we recommend you move to source-based installations for Alpine until this is resolved

[2022-07-07 16:56] qortex opened #897 "Missing newline after adding a filename to gitignore"
What are the steps to reproduce this issue?
-------------------------------------------
1. `git secret add anyfile`
2. filename is appended to gitignore file but with no newline at the end

What happens?
-------------
No newline is appended at the end of the gitignore added filename.

Thus, running `git secret add` once again corrupts gitignore file

What were you expecting to happen?
------------

[2022-07-07 17:11] qortex commented on #897
Sorry, fixed in v0.5.0 by #645 didn't realize.

[2022-07-07 17:11] #897 closed

[2022-07-19 07:33] ochanism opened #903 "`reveal` command is failed in the sub directory"
https://github.com/sobolevn/git-secret/pull/751
This PR produced this issue.

- How to reproduce
[code]

The file path should be `/home/jayden/Workspace/opensource/test/aaa.secret` instead of `/home/jayden/Workspace/opensource/test/subdir/aaa.secret`.

[2022-07-19 07:33] sobolevn opened #904 "New apk registry"
Here are some other projects that offer apk package registries.
Required features:
- It must be free (because I cannot pay for any western services, because of the unlawful sanctions). Or it can be hosted in Russia or any other friendly country, in this case I will be able to pay for them some reasonable price
- API access
- Public download link, something similar to what we have right now
- Secur

[2022-07-19 08:00] ochanism commented on #903
@sobolevn
I've made a patch for this bug.
https://github.com/ochanism/git-secret/commit/306fa6fc67d4fd9ea731dca43a987c89a700f080

If this is acceptable, I'll make a PR.

[2022-07-19 08:04] sobolevn commented on #903
Please, do :)

[2022-07-19 08:34] ochanism commented on #903
Please review this PR: #905
I hope it would be released asap because I've been suffering from this bug. :smile:

[2022-07-24 19:11] joshrabinowitz opened #910 "simplify/rewrite `getting started` docs in CONTRIBUTING.md, because they are more complex than necessary"
What are the steps to reproduce this issue?
-------------------------------------------
1. …
2. …
3. …

What happens?
-------------
…

What were you expecting to happen?
----------------------------------
…

Any logs, error output, etc?
----------------------------
(If it’s long, please paste to https://ghostbin.com/ and insert the link here.)

Any other comments?
-------------------
…

What versi

[2022-07-28 17:26] joshrabinowitz opened #916 "get `arch` builds working again, because they are not"
See https://github.com/sobolevn/git-secret/runs/7564903813?check_suite_focus=true

Ends with:

[code]

[2022-08-01 15:53] francisATgwn opened #918 "cannot preserve permissions on the secret file"
What are the steps to reproduce this issue?
-------------------------------------------
1. mkdir test; cd test
2. git init
3. git secret init
4. git secret tell REDACTED
5. touch password
6. chmod 600 password
7. echo REDACTED >password
8. git secret add password
9. git secret hide -P

What happens?
-------------
[code]

What were you expecting to happen?
----------------------------------
The enc

[2022-08-01 16:06] joshrabinowitz commented on #918
Thank you for this report. We will investigate and let you know the result.

[2022-08-07 18:16] k-le commented on #135
Hi all! I just encountered this issue again, today, 08/07/22, after running `git secret init`.

Here's the terminal output:
[code]

I don't have a fix for this but just wanted to post that it's an issue that I am encountering again.

[2022-08-07 19:19] joshrabinowitz commented on #135
confirmed regression on current `master` branch

[2022-08-07 20:11] joshrabinowitz commented on #918
I cannot replicate this issue on macOS Big Sur.

This functionality is also automatically tested on github actions with macOS Big Sur version `11.6.7 (20G630)`.

@francisATgwn Can you please post what macOS version you're using?

Also can you please confirm you're using the stock version of `stat` by posting the output of `which stat`?

[2022-08-07 20:17] joshrabinowitz commented on #135
Even though I closed this ticket some time ago, I don't think this actually was ever fixed for the case of spaces in parent directories (we did fix the case of spaces in filenames or directories in the git-secre repo).

I'm not sure how to fix the underlying problem which is an issue with quoting in the gawk code

[2022-08-08 11:35] francisATgwn commented on #918
@joshrabinowitz MacOS 12.5. Please see info about stat above, under `Any other comments?`

[2022-08-08 14:17] joshrabinowitz commented on #918
Ah, I see. git-secret expects OSX's version of `stat`. I think the fix is for git-secret to always use the OSX provided version of stat on OSX.

[2022-08-08 18:05] joshrabinowitz commented on #918
@francisATgwn can you please re-test with the code in PR #920

[2022-08-08 18:49] francisATgwn commented on #918
That does resolve the error message, but it doesn't really seem to preserve permissions very well. Maybe I'm not expecting the right behavior from `git secret add -P`.

The encrypted file has the same permissions as the secret file. That's not what I want preserved. I would expect that `git secret reveal` in a collaborator's git clone would produce the same permissions on the untracked, unecrypted

[2022-08-09 17:43] joshrabinowitz commented on #918
I believe `git` only tracks the `executable` bit of the permissions. `git-secret` cannot change (reasonably) this behavior in `git`

[2022-08-09 17:48] #918 closed

[2022-08-09 20:15] joshrabinowitz commented on #918
once the files are take a round-trip through git, that's all that is preserved.
But the `-P` options to `hide` and `reveal` do change the perms to match the corresponding file on your local system.

[2022-08-14 00:25] github-actions[bot] opened #921 "release-ci failure on Sun Aug 14 2022"
Details: https://github.com/sobolevn/git-secret/actions/workflows/release-ci.yml

[2022-08-23 08:50] cybex-dev opened #925 "[feature-request] Recognize current path when revealing file(s)"
**_not a bug._, Feature / aesthetic request**

What are the steps to reproduce this issue?
-------------------------------------------
1. `git-secret add functions/.runtime.confg`
2. `rm functions/.runtime.confg`
3. `cd functions`
4. `git-secret reveal`

What happens?
-------------
Failed to detect file(s) at path inside of repo.

What were you expecting to happen?
--------------------------------

[2022-08-30 14:40] joshrabinowitz commented on #916
how popular are the arch packages? DO we want to maintain this?

[2022-08-30 14:53] joshrabinowitz opened #927 "add docs about how to add tag to github to create a release"
We don't document how to add the tag to create the release - one missing piece

[2022-09-05 22:24] joshrabinowitz commented on #135
This is because (at the very least) the gawk scripts used in git-secret can't handle spaces in parent directory names.

To replicate:

[code]

[2022-09-05 22:45] joshrabinowitz commented on #135
@hurricanehrndz it looks like you're the original author of the awk code that git-secret depends on and is causing issues here.
Can you possibly take a look and fix?

[2022-09-06 02:38] joshrabinowitz opened #930 "reconsider using github_changelog_generator for CHANGELOG-RELEASE.md, because our manually created changelog is a lot better"
In .ci/github_release_script.sh  , we use github_changelog_generator to make a changelog.

I'm not positive where these changelogs wind up, but I have seen them in the wild

I suggest we should use our manually generated CHANGELOG.md instead, because the dependabot commits have long comments that have nothing to do with git-secret proper and make it difficult to see the actual changes version to v

[2022-09-06 02:45] joshrabinowitz commented on #930
@sobolevn can you explain what's going on here?
Digging more it looks like it's commented-out in https://github.com/sobolevn/git-secret/blob/master/.github/workflows/release-ci.yml

[2022-09-14 08:43] kmkacpermajor opened #933 "Can't set SECRETS_DIR"
What are the steps to reproduce this issue?
-------------------------------------------
1. Install git-secret through apt
2. Pull git repository with different .gitsecret directory
3. Try modifing SECRETS_DIR (with or without export)
4. Use any git-secret command

What happens?
-------------
Error appears: .gitsecret does not exist. abort.

What were you expecting to happen?
----------------------

[2022-09-14 09:44] sobolevn commented on #933
Hi! The version you are using is quite outdated. Right now the last version is `0.5.0`
Can you please update your version and check that the error is gone?

[2022-09-14 09:51] kmkacpermajor commented on #933
Error is gone, everything is working as expected. Thanks

[2022-09-14 09:51] #933 closed

[2022-09-14 16:32] joshrabinowitz commented on #930
I don't think this is being used any more according to my recent spelunk through the code

[2022-09-20 19:54] richarddd commented on #868
Im having the same issue:
`cannot find decrypted version of file: {FILENAME}`

[2022-09-20 20:17] DragosRomaniuc commented on #868
Hey Richard. I think i solved this by making sure I have the same GPG version on both encrypting and decrypting sides. In my case Local vs Github Actions.

[2022-09-21 20:58] richarddd commented on #868
That solved it!

[2022-09-21 21:01] richarddd opened #938 "Use age rather than gpg"
Simpler and more modern :)

https://github.com/FiloSottile/age

[2022-09-21 21:47] sobolevn commented on #938
You can use any compatible tool. See `SECRETS_GPG_COMMAND`

[2022-09-21 21:47] #938 closed

[2022-09-29 13:12] heyask commented on #563
I'm using m1 mac Monterey and iterm2. I had same situation too.
I couldn't type passphrase. At first, I was confused.
but I clicked `Key Icon` next to the `Enter passphrase` text, password window was open.

See my capture.

![enter_passphrase](https://user-images.githubusercontent.com/13181635/193040288-0e2e4975-83cb-4281-8391-5afa7560dbc7.gif)

[2022-10-03 13:10] keisukeYamagishi opened #939 "When building a CI/CD environment with `Bitrise` by Swift, what is the ideal way to set up an `email` address and `password`?"
What happens?
-------------
When building a CI/CD environment with  `Bitrise` by Swift, what is the ideal way to set up an `email` address and `password`?

What were you expecting to happen?
----------------------------------
We thought it would be easy to build an environment.

Any logs, error output, etc?
----------------------------
(If it’s long, please paste to https://ghostbin.com/ and inser

[2022-10-03 14:44] joshrabinowitz commented on #939
Hello @keisukeYamagishi

I am not famiiar with Bitrise by Swift, but there are instructions for using git-secret with at least one CI/CD system.
What have you tried with Bitrise, and what went wrong?
Have you seen the CI/CD docs at https://git-secret.io/#commands ?

[2022-10-03 15:41] keisukeYamagishi commented on #939
@joshrabinowitz
Thank you for response
I want to dencrypted an encrypted file, but I feel like I need to add my password and bitrise email address to git-secret to do it?
If so, which email address should I use in Bitrise?
Also, is it possible to use another user's settings as they are?
We would appreciate it if you could also tell us.

[2022-10-04 00:28] keisukeYamagishi commented on #939
Please tell me CI/CD page URL

[2022-10-04 00:41] keisukeYamagishi commented on #939
@joshrabinowitz

regarding bellow descreption

What value should I pass?
どのような値を渡すべきですか？
説明を願います。

[2022-10-04 09:08] keisukeYamagishi commented on #939
I would like to export a private key using the following command, but I would like to know how to pass the password as an argument.
[code]

[2022-10-05 00:37] #939 closed

[2022-10-05 01:08] keisukeYamagishi opened #941 "I cannot create a secret key in the Bitrise CI/CD environment."
What happens?
-------------
Your timed method does not create a CI/CD
environment.
Is there any way to get around this?
We look forward to hearing from you.

https://github.com/sobolevn/git-secret/blob/master/man/man7/git-secret.7.md

What were you expecting to happen?
----------------------------------
…

Any logs, error output, etc?
----------------------------
(If it’s long, please paste to htt

[2022-10-07 02:20] #941 closed

[2022-10-07 02:21] keisukeYamagishi commented on #941
No response for a long time, close.

[2022-10-07 02:35] keisukeYamagishi opened #942 "`git-secret: abort: problem decrypting file with gpg: exit code 2` at the Bitrise"
What happens?

I saw the composite mind of the file using git-secret in the xcode-13.4.x environment on bitrise.

[code]

What were you expecting to happen?
----------------------------------
I thought decrypt it

[2022-10-07 12:58] joshrabinowitz commented on #942
The way git-secret works is that secrets are encrypted using the public keys of the permitted users, and then git-secret needs one of those users matching private keys to decrypt the secrets.

So in your example, you'll need to put one of the private keys of the users that were used to encrypt the files onto your CI system so the files can be decrypted.

Typically you'll export a private key from

[2022-10-09 06:31] keisukeYamagishi commented on #942
@joshrabinowitz
Thank you for your help㊗️㊗️㊗️
I have tried it the way you mentioned.
I got success㊗️㊗️㊗️

It was only three lines.
Thanks again.
[code]

[2022-10-09 06:39] #942 closed

[2022-10-24 00:41] github-actions[bot] opened #945 "release-ci failure on Mon Oct 24 2022"
Details: https://github.com/sobolevn/git-secret/actions/workflows/release-ci.yml

[2022-10-25 00:37] github-actions[bot] opened #946 "release-ci failure on Tue Oct 25 2022"
Details: https://github.com/sobolevn/git-secret/actions/workflows/release-ci.yml

[2022-10-27 14:23] p-baum opened #949 "Wont install on Alpine"
What are the steps to reproduce this issue?
-------------------------------------------
1. run alpine: docker run -it alpine:3.15 sh
1. Install deps: apk add git make
2. follow the manual installation instructions at https://git-secret.io/installation

What happens?
-------------
$ make build
make: bash: No such file or directory
make: *** [Makefile:18: build] Error 127

What were you expecting to

[2022-10-27 15:06] p-baum commented on #949
I have resorted to manually downloading the apk from https://gitsecret.jfrog.io/artifactory/git-secret-apk/latest-stable/main/x86_64/git-secret-0.5.0.apk, copying to the image and installing with `apk add --allow-untrusted --no-cache git-secret-0.5.0.apk`

[2022-10-27 15:22] joshrabinowitz commented on #949
Thanks for this report

It looks like you don't have 'bash' installed which is causing the build failure.
Can you install bash and see if the make build process works then please?

[2022-11-10 14:04] verenya opened #951 "Interview partners for research about communication in GitHub projects wanted"
Hi. My name is Verena Ebert, and I am a PhD student at the University of Stuttgart in Germany.
A few months ago, I have examined 90 GitHub projects to see what communication channels they use and how they write about them in the written documents, for example README or wiki. If you are interested in the previous results, you can find them here:
https://arxiv.org/abs/2205.01440
Your project was one

[2022-11-10 14:37] sobolevn commented on #951
I am really sorry, but I don't have time right now for this :(

[2022-11-10 14:37] #951 closed

[2022-11-10 15:30] joshrabinowitz commented on #951
@sobolevn would you like me to take this on?

[2022-11-10 16:30] sobolevn commented on #951
@joshrabinowitz you if you have time - why not :)

[2022-11-10 18:22] sowbug commented on #508
Commenting on this closed issue because the behavior seems to be covered by the original issue description.

I'm unable to `git secret tell` an email address with two keys, one of which is disabled. I'm running 0.5.0. Is this expected?

If I `gpg --edit-key` for the disabled key, underneath the primary key it says `*** This key has been disabled`, which according to the gpg manual means "A disable

[2022-11-12 00:25] github-actions[bot] opened #952 "release-ci failure on Sat Nov 12 2022"
Details: https://github.com/sobolevn/git-secret/actions/workflows/release-ci.yml

[2022-11-18 22:23] andreineculau commented on #55
This is such a strong sentence. It would be beneficial to understand why it will never be implemented. Because of technical constraints? Because it doesn't align with the goals of git-secret? Because it brings down say security? Because "I say so"? All of those and more are valid. Highly appreciated if there's a followup some day 🙌

[2022-11-29 21:43] #921 closed

[2022-11-29 21:43] #945 closed

[2022-11-29 21:43] #952 closed

[2022-11-29 21:44] #946 closed

[2022-11-29 21:47] joshrabinowitz commented on #55
The encryption model used by git-secret depends on gnupg, which in turn expects to use public/private key pairs, and _optionally_ passwords.

To make the keys optional and requiring passwords would require a completely different encryption model.