[2016-03-14 18:15] absorber opened #4 "Suggestion: Use https://asciinema.org/ for preview."
First of all, interesting project!

I would suggest the following for the preview instead of a gif:
https://github.com/asciinema/asciinema/

You can start, stop and in the web-player even adjust speed (using the `<` and `>` keys).

[2016-03-14 18:54] sobolevn commented on #4
Thank you for your interest, I will remove this gif anyway, because it's slow. I will have a look at the `asciinema`. You are welcome submit a PR to the `develop` branch.

[2016-04-03 22:08] juliosueiras opened #6 "Is there a compatibility issue with GnuPG 2.X ?"
## Info

using zplug for adding git-secret

[code]

Error message

[code]

**Even though I had done that**
## Tests

[code]

P.S. do you need the full test detail?

[2016-04-03 22:34] juliosueiras commented on #6
**UPDATE:** Did a test under a docker container with `gpg 1.4.18` and all test pass
Testing under a gpg2 container right now

[2016-04-03 23:00] juliosueiras commented on #6
**UPDATE 2:** GnuPG 2 test all pass , so is probably my computer at fault

[2016-04-04 06:46] sobolevn commented on #6
Adding `gpg2` into `.travis.yml` is a good idea, will see why it fails.

[2016-04-10 08:14] sobolevn opened #12 "Tests are failing with the `SECRETS_GPG_COMMAND=gpg2`"
I have managed to repeat the issue from #6

[code]

The fix will be released soon.

[2016-04-10 11:36] sobolevn commented on #4
Released in https://github.com/sobolevn/git-secret/pull/13

[2016-04-10 11:36] #4 closed

[2016-04-10 11:36] sobolevn commented on #12
Fixed in https://github.com/sobolevn/git-secret/pull/13

[2016-04-10 11:36] #12 closed

[2016-05-09 22:34] Clancey opened #14 "All commands give this exception: .gitsecret folder is ignored. abort."
I have a standard .gitignore, if its empty everything works. But when I use the following it completly breaks git secret.
# Autosave files

*~
# build

[Oo]bj/
[Bb]in/
packages/
TestResults/
# globs

Makefile.in
*.DS_Store
*.sln.cache
*.suo
*.cache
*.pidb
*.userprefs
*.usertasks
config.log
config.make
config.status
aclocal.m4
install-sh
autom4te.cache/
*.user
*.tar.gz
tarballs/
test-results/
Thumb

[2016-05-09 22:37] Clancey commented on #14
I think I realized the issue, its the empty lines that causes the issue. If I remove all empty lines it works.

[2016-05-09 23:03] sobolevn commented on #14
thanks for the feedback. I will try to fix it asap.

[2016-05-10 14:12] sobolevn commented on #14
@Clancey sorry, but I can not recreate your issue. What's your setup?

OS? bash/zsh/etc?

What have I tried:
1. Did the init process
2. Created `.gitignore` with empty lines and comments
3. Added files, removed them, everything worked

[2016-05-10 17:52] Clancey commented on #14
OSX, standard bash/terminal.
I already had a repo with a gitignore and prior commits.
I was unable to do "git secret init"

[2016-05-10 20:41] sobolevn commented on #14
What's the exact error message?

[2016-05-10 20:45] Clancey commented on #14
I just tried it on a different repo, and I cannot replicate it anymore.

[2016-05-10 20:47] sobolevn commented on #14
Well, if you ever find out - let me know. Thanks, anyway!

[2016-05-11 00:31] kbrownlees commented on #6
I just hit this on my arch box, the issue for me was that by default gpg now generates pubring.kbx not pubring.gpg so the check for SECRETS_DIR_KEYS_PUBRING was failing. From https://www.gnupg.org/faq/whats-new-in-2.1.html there is fallback behaviour so this will only be an issue for a secret directory first created by gpg > 2.1.

Changing the variable to use pubring.kbx appears to work fine, but

[2016-05-11 07:48] sobolevn commented on #6
@kbrownlees thanks, now it's clear what to fix.

[2016-05-12 11:59] sobolevn commented on #6
Information for the reference:

[code]

The error was with `pubring.kbx` filename.

[2016-05-13 12:14] vsalex opened #15 "Replace video in main page with something, that will not be move user to other page"
For example you can replace it by gif image. Same as here: https://github.com/nvbn/thefuck. Or maybe there are some other options.

[2016-05-13 12:15] sobolevn commented on #15
I suggest: asciinema.org

[2016-05-13 12:35] #15 closed

[2016-05-13 22:11] mettjus opened #18 "Automatically add file to .gitignore on git secret add"
It would be convenient if files where automatically added to `.gitignore` when `git secret add <file>` is run.

[2016-05-13 22:17] sobolevn commented on #18
Well, I thought about this feature. I guess it can be implemented as an option-flag.

[2016-05-13 22:23] mettjus commented on #18
It could be. I just can't think of a case when you wouldn't want the file to be added to `.gitignore`. The only advantage I can think of is that keeping the command more dummy (as in this case) leaves more responsibility to the user and doesn't make assumptions which could turn out wrong.

[2016-05-13 22:26] mettjus commented on #18
I would rather add it as a global configuration option.

[2016-05-13 22:38] sobolevn commented on #18
I got your point. Will experiment with different approaches today.
Anyway it is important to test the filename to be already ignored. To prevent doubling. Because in my workflow I just add `*.secret` to the `.gitignore` and that's all.

[2016-05-13 22:53] mettjus commented on #18
From what I can see you already do the check with `_check_ignore` and store the list of unignored files in `not_ignored`. It would probably only need to loop over the entries and append them to `.gitignore` instead of aborting in case length is `> 0`.
Not sure I understand why you add `*.secret` to `.gitignore`; aren't `*.secret` files the ones that should be version controlled?
Btw I forked the r

[2016-05-13 23:11] sobolevn commented on #18
Ummm, yeah... Never mind about that files' extension stuff.

You are absolutely right about the loop. Thanks for your effort!

[2016-05-14 11:14] #18 closed

[2016-05-14 15:10] mettjus commented on #18
Well and quickly done! ;)

[2016-05-14 17:18] mettjus opened #21 "Add diff command"
Here again with another proposal :)

Given that secret files are .gitignored it is not clear how to detect if any of them were modified (`git diff` obviously doesn't work).
It would be very nice to be able to run `git secret diff [paths-to-files]` (or similar) to see what changes were made to a secret file (or all of them if no file paths where specified).

It could run a `git secret reveal` to tm

[2016-05-14 21:46] sobolevn commented on #21
Great!

[2016-05-19 09:08] sobolevn opened #22 "Fish plugin"
Since `git-secret` is a bash tool it is convenient to have it a plugin for your favourite shell. Right now `git-secret` does support only `zsh`-styled plugins suchs as `oh-my-zsh`, `zgen` and `antigen`.

So, the task is:
- [ ] ensure that `git-secret` works on `fish` shell (I guess it is possible to modify `Travis` build to run tests on different shells)
- [ ] write `fish`-styled plugins for `fish

[2016-05-20 15:21] gretel commented on #22
@sobolevn using `git-secret` as *pre-commit* hook on *fish* without missing anything or having issues.

[2016-05-20 22:58] sobolevn opened #23 "When trying to remove file with `/` in path `sed` command fails"
What are the steps to reproduce this issue?
-------------------------------------------
1. Init everything, create file `test/content.txt`
2. Properly add it: `git secret add test/content.txt`
3. Try to remove: `git secret remove test/content.txt`

What happens?
-------------

What were you expecting to happen?
----------------------------------
File must be removed from `gitsecret` index.

What v

[2016-05-20 23:09] sobolevn opened #24 "Add option to `reveal` command to always overwrite the existing files without asking"
`gpg` asks something about overriding the existing files when calling `reveal`.

I guess, that `-f` (force) flag will do the thing.

[2016-05-20 23:11] sobolevn opened #25 "Documentation update for `brew`"
`git-secret` is now available to be installed with `brew` without `tap`. And now has options.
This needs to be stated in the docs.

[2016-05-20 23:13] sobolevn opened #26 "seo tag for Jekyll"
Since new github feature is released, this needs to be added to the `gh-pages` branch: https://help.github.com/articles/search-engine-optimization-for-github-pages/

[2016-05-25 17:31] sobolevn commented on #24
I have implemented it already in: https://github.com/sobolevn/git-secret/commit/8206de7ebb5a85a328445a63669cb9cdfb69d056

If you would like to help, it is kindly welcome!
Current objectives are:
- https://github.com/sobolevn/git-secret/issues/21
- https://github.com/sobolevn/git-secret/issues/22

[2016-05-26 13:45] transcedentalia commented on #24
Do you have any plans to merge the develop branch to the master soon?

[2016-05-26 14:21] sobolevn commented on #24
Yes, probably on sunday.

[2016-05-26 15:23] transcedentalia commented on #24
Thanks.

[2016-05-29 11:18] #23 closed

[2016-05-29 11:18] #24 closed

[2016-05-29 11:21] sobolevn commented on #21
Well, I have implemented this feature in the current release.

[2016-05-29 11:21] sobolevn commented on #24
@transcedentalia done!

[2016-05-29 11:34] #26 closed

[2016-05-29 11:34] #25 closed

[2016-05-29 11:35] sobolevn commented on #25
Done in https://github.com/sobolevn/git-secret/pull/29

[2016-05-30 11:33] tjarvstrand opened #30 "Can't remove secrets in subdirectories"
Thanks for reporting an issue! Please make sure you click the link above to view the issue guidelines, then fill out the blanks below.

What are the steps to reproduce this issue?
-------------------------------------------
1. git secret add dir/file
2. git secret remove dir/file

What happens?
-------------
```sed: can't find label for jump to `ile/d'```

What were you expecting to happen?
------

[2016-05-30 14:59] sobolevn commented on #30
Thanks for your feedback. Could please check if the `0.2.0` version fixes it?
Here's the original issue: https://github.com/sobolevn/git-secret/issues/23

[2016-06-04 09:56] sobolevn commented on #30
Does [v0.2.0](https://github.com/sobolevn/git-secret/releases/tag/v0.2.0) solves your issue?

[2016-06-06 11:33] sobolevn commented on #30
Closing as fixed.

[2016-06-06 11:33] #30 closed

[2016-06-07 07:38] Tensho commented on #14
I have the same problem. I don't quite understand why should I commit `.gitsecret`.

[2016-06-07 08:04] sobolevn commented on #14
`.gitsecret` folder contains all the logic files to make the program work. It actually contains:
1. public keys used for encryption
2. path mappings, which files you want to track (encrypt and decrypt)

So, if this folder is missing the whole app will crash. To prevent this kind of errors, there's a special warning which says that this folder can't be ignored.

If you find it confusing, I can sugg

[2016-06-07 08:38] Tensho commented on #14
No, I think it's rather expressive. It's personally my problem, that I haven't understood it properly. I'm not enough fluent with PGP algo and GPG tool, but I thought that we don't need to push pub key, because everyone who should know it from my team is able to retrieve from the some kind of world-wide PKI server, I guess. So the only reason to do in a such way... If you work in closed private ne

[2016-06-10 08:00] velimir0xff opened #32 "README misses step of 'manual' installation - build"
What are the steps to reproduce this issue?
-------------------------------------------
1. `$ git clone https://github.com/sobolevn/git-secret.git git-secret`
2. `$ cd git-secret`
3. `$ sudo PREFIX="/usr/local" make install`

What happens?
-------------
[code]

What were you expecting to happen?
----------------------------------
[code]

[2016-06-10 09:31] sobolevn commented on #32
Oh, indeed. The `make build` step is missing. Thank you!

[2016-06-12 11:51] sobolevn opened #33 "`temp/somedir` is not cleaned after `make test`"
What are the steps to reproduce this issue?
-------------------------------------------
1. `make test`

What happens?
-------------
`temp/somedir/file_to_hide3` is still there.

What were you expecting to happen?
----------------------------------
`temp/somedir/file_to_hide3` is not expected to stay there.

What versions of software are you using?
----------------------------------------
**`git-se

[2016-06-12 14:41] sobolevn opened #34 "When `commit.gpgsign` is set to `true` `git-secret-changes` breaks tests"
What are the steps to reproduce this issue?
-------------------------------------------
1. `git config commit.gpgsign true`
2. `make test`

What happens?
-------------
The password prompt appears.

What were you expecting to happen?
----------------------------------
Tests should pass.

What versions of software are you using?
----------------------------------------
**Operating system:** OS X 10.

[2016-06-12 14:50] sobolevn opened #35 "`make install` copies `.ronn` files into the manuals folder"
What are the steps to reproduce this issue?
-------------------------------------------
1. `make install`

What happens?
-------------
1. It just copies the whole folder with `.ronn` files inside. This line is the cause: https://github.com/sobolevn/git-secret/blob/master/utils/install.sh#L34

What were you expecting to happen?
----------------------------------
2. Only `git-secret-*.1` should be c

[2016-06-12 14:50] #21 closed

[2016-06-12 19:15] sobolevn opened #36 "Updating the `gh-pages` theme"
Right now, the default `gh-pages` theme is purple:

<img width="1280" alt="2016-06-12 22 14 05" src="https://cloud.githubusercontent.com/assets/4660275/15993333/07b7880a-30eb-11e6-9c4b-407ba20a7a23.png">

It needs to be updated to fit the new logo, which is orange.

[2016-06-14 19:12] sobolevn opened #38 "Add `CentOS` to the containers list in `.docker/rpm`"
It is just pretty much the same as `fedora` one.
It is also needed to add it to the `.tavis.yml` to be tested.

[2016-06-16 19:41] sobolevn commented on #38
See: https://github.com/sobolevn/git-secret/blob/develop/.docker/rpm/fedora/Dockerfile
And: https://travis-ci.org/sobolevn/git-secret/builds/138178890

[2016-06-23 12:06] awesomefireduck opened #39 "put `.gitsecret` in version control?"
The usage guide currently does not mention at all if the `.gitsecret` directory should be put in version control or not.

Perhaps it would be a good idea to mention that?

[2016-06-23 12:55] sobolevn commented on #39
Hi, thanks for your feedback!

Well, as I see it is quite a common question: https://github.com/sobolevn/git-secret/issues/14#issuecomment-224208945

I will put the note into the readme.

[2016-06-25 22:24] sobolevn opened #40 "windows support"
Right now `git-secret` does not support `windows` operating systems. But the architecture is suitable to handle it.

I have never actually worked with `windows`. And I have neither time nor will to get starting.

What are the limitations?
What frameworks/external programs does it require to run `bash` on `windows`?
Is it even possible?
How many tests do pass right now (if any)?

I would highly app

[2016-06-28 19:57] varunagrawal opened #41 "Great Job!"
Hey.
I was basically going to implement the same project using `gpg` for managing all my secret data for a repository, until I found this. Thanks for all the hard work creating this project.

Cheers,
Varun.

[2016-06-28 20:16] sobolevn commented on #41
Thanks! Glad you liked it.

[2016-06-28 20:16] #41 closed

[2016-07-02 14:24] sobolevn commented on #36
Now it way more cooler!

<img width="1277" alt="2016-07-02 17 24 18" src="https://cloud.githubusercontent.com/assets/4660275/16540812/dbca8eba-4079-11e6-83a3-57b83c826978.png">

[2016-07-02 14:24] #36 closed

[2016-07-10 12:26] #32 closed

[2016-07-10 12:44] #34 closed

[2016-07-10 12:44] #33 closed

[2016-07-10 12:44] #35 closed

[2016-07-10 12:44] #39 closed

[2016-07-28 21:32] adius opened #43 "Git secret search"
I'm missing a search command. Somthing in the spirit of:

[code]

What do you think? 😊

[2016-07-29 07:01] sobolevn commented on #43
Hey, thanks for the feedback!
Could you be more specific? What king of data you would like to search? Keys only?

P.S. I didn't know about `ag` before. This tool seems cool.

[2016-07-30 10:43] sobolevn opened #44 "gh-pages"
Right now `urls` to documentation are generated with date, which changes.
But cool `URI`s [don't change](https://www.w3.org/Provider/Style/URI.html).

There's a solution proposed here: http://stackoverflow.com/questions/27099427/jekyll-filename-without-date

[2016-08-19 07:29] yngvark opened #45 "Cannot install the deb package"
What are the steps to reproduce this issue?
-------------------------------------------
1. Run the installation for the deb package:
[code]

What happens?
-------------
[code]

What were you expecting to happen?
----------------------------------
git-secret to be installed

Any logs, error output, etc?
----------------------------
When running `sudo apt-get update`, I get the following:
`E: Failed

[2016-08-19 08:07] sobolevn commented on #45
Thanks for the report. Will solve.

[2016-08-20 10:33] sobolevn commented on #45
Hm, I guess `bintray` is broken. I have created a support-request.

For now, please, use different installation types.

[2016-08-20 12:54] sobolevn commented on #45
Wow, that was a hard one.

Thank you for your report. The problem is fixed now.
I am going to write new docs and upload them pretty soon (today or tomorrow).

[2016-08-21 13:38] #44 closed

[2016-08-21 13:39] sobolevn commented on #44
It works fine now: https://sobolevn.github.io/git-secret/git-secret-whoknows

[2016-08-21 13:40] sobolevn commented on #45
@yngvark see if this helps https://sobolevn.github.io/git-secret/#installation

Please take note, that `deb` location has changed. You might need to remove the old one.

[2016-08-22 06:42] yngvark commented on #45
Now the installation worked fine in a ubuntu docker image, so it seems to be fixed. Thanks for fast reply and fix.

[2016-08-22 06:42] #45 closed

[2016-08-31 17:31] antmak opened #46 ""make test" is failing for `gnupg2>=2.1.0`"
I run "make test" and see error message "line 96: _get_gpg_fingerprint_by_email: command not found" . It prompts for passphrase on gpg key "user1@gitsecret.io" "user2@gitsecret.io"

Should I create gpg keys for user1 and user2? Could you mark about this in CONTRIBUTING.md ?

[2016-08-31 17:39] antmak opened #47 "Command "usage""
I do
[code]

"module", "scl" - is wrong.

I think this is due to
[code]

[2016-08-31 18:11] sobolevn commented on #46
What are your os and shell?

It should not be like this. You can have a look at `travis.yml`.

[2016-08-31 18:16] sobolevn commented on #47
Works fine for me:

Please provide your os, shell and `git-secret` version.

[2016-08-31 18:39] antmak commented on #46
{Fedora 24, Fedora 21} x86_64. bash, version 4.3.42(1)-release (x86_64-redhat-linux-gnu). gpg2.

[2016-08-31 18:41] antmak commented on #47
$ git-secret --version
0.2.1

{Fedora 24, Fedora 21} x86_64. bash, version 4.3.42(1)-release (x86_64-redhat-linux-gnu).

[2016-08-31 18:52] sobolevn commented on #46
Ok, I will have a look at it soon.

[2016-08-31 19:07] antmak commented on #46
Thx. I'll try also

[2016-09-28 13:12] vladimir4862 opened #49 "adding files from folder"
hi.
I can't hide the file in any folder in the repository (files in the root directory works fine)
I try
git secret  add folder/test.json
but i got
these files are not ignored are: folder/test.json ; abort.

but they are in .gitignore, there definitely is a line
folder/test.json

[2016-09-28 13:13] #49 closed

[2016-09-28 13:28] vladimir4862 opened #50 "adding files from folder"
## What are the steps to reproduce this issue?

git secret  add folder/test.json
## What happens?

these files are not ignored are: folder/test.json ; abort.

but they are in .gitignore, there definitely is a line
folder/test.json
## Any logs, error output, etc?

these files are not ignored are: folder/test.json ; abort.
## Any other comments?
## What versions of software are you using?

**Operati

[2016-09-28 15:13] vladimir4862 commented on #50
maybe need to add "--no-index" in this line
https://github.com/sobolevn/git-secret/blob/master/src/_utils/_git_secret_tools.sh#L131

[2016-09-28 18:27] sobolevn commented on #50
Thanks! Will test it shortly.

[2016-10-01 20:09] sobolevn commented on #50
I can not reproduce your error, this is my configuration: https://hub.docker.com/r/sobolevn/git-secret/~/dockerfile/

Steps:

Moreover, I have created a test for this error, and it works on both mac and ubuntu. See commit: https://github.com/sobolevn/git-secret/blob/904ce02cfca3e486ad588402629ded5417c6f221/tests/test_add.bats#L62

If you still suffering this error, could you please create a repo t

[2016-10-01 22:21] sobolevn commented on #46
@antmak sorry it took me so long to fix this issue.

I did a lot of research for this case. Here's what I came up with: only `install_fixture_full_key` is affected (so, only tests), because there's a breaking change in the `gnupg2` since versions `2.1.x`. Everything works just fine with the versions `2.0.x`: https://travis-ci.org/sobolevn/git-secret/jobs/164323199#L253

What kind of changes there

[2016-10-01 22:35] sobolevn commented on #47
Still can't reproduce

[2016-10-01 22:35] #47 closed

[2016-10-01 23:52] mrmachine opened #51 "How do I use git-secret when deploying to ephemeral infrastructure?"
For example, Docker Cloud. Inside the Docker image, there is no personal GPG secret key available to decrypt the secrets. All I can do to configure the image is define environment variables in a Docker Cloud stack file (YAML).

I am anticipating it will be a major PITA to ask people to export a secret key for deployment in ASCII so it can be passed through to the container via environment variable

[2016-10-02 15:27] sobolevn commented on #51
Thanks for the good question!

Short intro, I don't really have that much experience with the cloud-deployment platforms, except a little bit of `heroku` and `azure`. But they have completely different setups from container-based infrastructures.

I agree with you about the individual keys, that's not the way to do it. As it compromises a lot of private data.

I also agree with you about the chose

[2016-10-03 12:39] vladimir4862 commented on #50
yes with key '-i' it works
but without this key not working

Could you please check it
I did not create the repository. but if it is still necessary, I can do it

git version 1.9.1

[2016-10-03 15:48] sobolevn commented on #50
Can you try the latest version from the `develop` branch, please?

[2016-10-03 16:58] vladimir4862 commented on #50
ok, it's work for me.
thank you very much !

[2016-10-03 17:04] sobolevn opened #52 "travis ci build fails on osx with gpg from brew"
Here's the full information: https://travis-ci.org/sobolevn/git-secret/jobs/164669493

I guess something had changed in the `gpg` formula. This one is pretty easy to fix.

[2016-10-03 17:09] sobolevn opened #53 "Tests needs to be refactored"
There are several things to keep in mind:
- [x] testing not just status but also an `$output`
- [ ] refactor test functions to be consistent: arguments and names
- [ ] documentation for tests (just in code, maybe there's a special format for docstrings?)

[2016-10-03 17:10] sobolevn commented on #50
I will release a new version after I will fix these issues: https://github.com/sobolevn/git-secret/milestone/3

[2016-10-03 17:13] sobolevn opened #54 "change ura.al link in the readme"
Now the address is http://ura.design/

[2016-10-03 23:34] mrmachine commented on #51
We use Travis CI to build, test and push (if tests pass) a Docker image. When Docker Cloud detects a new image, it can be configured to auto-redeploy (we enable this on staging, not production). So it needs to be completely automated. No interactively asking for key/passphrase.

We don't actually need to decrypt the secrets on Travis CI to run tests or build an image. Only on staging/production. T

[2016-10-06 23:00] mrmachine opened #55 "Add a mode of operation that requires only a singular passphrase (no secret keys)?"
See also #51 for some background.

I'm deploying to ephemeral infrastructure (Docker Cloud) and currently have to jump through hoops to make `git-secret` work in a remote environment where there are no personal or machine/deployment GPG secret keys available.

Basically, I have to generate and commit a GPG secret key to my source code repository so that it is always available, so that I can decryp

[2016-10-24 08:07] sobolevn commented on #55
Thank you for your suggestion. And sorry for the long reply.
I will dig into it. For now you can try to use something like this: https://github.com/sobolevn/git-secret/blob/master/src/_utils/_git_secret_tools.sh#L210

p.s. https://transfer.sh is awesome!

[2017-01-10 12:42] rjcoelho opened #58 ""repository is broken" on git secret reveal if .git/hooks doesn't exist"
Calling `git secret reveal` on a repo that doesn't have `.git/hooks` returns error `repository is broken`. Creating an empty `.git/hooks` solves the issue.

My suggestion is to either 1) don't complain if `git secret reveal` doesn't need it, or 2) `git secret init` should create it if it doesn't exit and we will git add it to repo.

[2017-01-13 13:37] gronnbeck opened #59 "Cannot reveal secret. Password prompt fails"
What are the steps to reproduce this issue?
-------------------------------------------
1. git secret init
2. git secret tell my@email.com
3. git secret add test.txt
4. git secret hide
5. git secret reveal

What happens?
-------------
I get an error message. And nothing is decrypted / revealed

What were you expecting to happen?
----------------------------------
To get a password prompt.

Any log

[2017-01-13 13:38] gronnbeck commented on #59
I'm suspecting that gpg is wrongly installed. I used homebrew to install it.

[2017-01-13 13:41] gronnbeck commented on #59
Installed GPG from https://gpgtools.org/ helped.

[2017-01-13 13:41] #59 closed

[2017-02-04 19:58] sobolevn commented on #58
Hello, sorry for the long answer. It took me sometime to solve this issue.
This looks fair enough for me. I guess checking for the `.hooks` subfolder is to strict. So this check is removed already in the `develop` branch. See https://github.com/sobolevn/git-secret/commit/4bf48da28122bdb765057ad59440e944c287166e

Thanks for your feedback!

[2017-02-04 19:58] #58 closed

[2017-02-04 20:23] sobolevn opened #60 "Additional maintainer wanted"
Hi everyone!

I am looking for an additional maintainer for the project. I would be very nice to have someone to work with.

Requirements:
- good `bash` knowledge
- motivation
- some free time

Desirably but not necessarily:
- experience with other open-source projects
- docker experience (we have a lot of testing in docker-containers)

I would highly appreciate any help! Thanks!

[2017-02-04 20:24] sobolevn commented on #52
Closed with https://github.com/sobolevn/git-secret/commit/73526644e00dc4a04dcdf041be025544f7babcd3

[2017-02-04 20:24] #52 closed

[2017-02-04 20:29] #54 closed

[2017-02-08 23:42] sobolevn opened #61 "Add note about man command to the docs"
It is worth the mention, that `man git-secret` and `man git-secret-COMMAND` will show the information about the command and usage tips.

I guess good places to add this note would be:
1. Main documentation page
2. Command pages

[2017-02-12 19:33] timchurchard commented on #40
On Windows 10 using Windows Subsystem for Linux (Beta) (Based on Ubuntu 14.04) git-secret worked out of the box 100% test pass after installing git and build-essential.
https://msdn.microsoft.com/en-gb/commandline/wsl/install_guide

I'll try in Windows 7 VM using mingw tomorrow.  http://www.mingw.org/

[2017-02-12 19:47] sobolevn commented on #40
Wow! Thats great! Are there any ways to automate this testing?
Some kind of  Travis for Windows?

[2017-02-13 15:19] timchurchard commented on #40
I've tried using Cygwin https://cygwin.com on Windows 7 but the tests are failing, I think cygwin is having trouble with my username "First Last".  I'll continue trying.

For automated test how about http://docs.tea-ci.org -- Although I haven't used it.  It's free for open source projects.

[2017-02-13 15:25] sobolevn commented on #40
Hm, maybe https://www.appveyor.com/ is better?
I have never actually used neither of these.

As I see it, TeaCI is a fork of another project (drone.io). The master branch was not updated for 9 months for now.

[2017-02-17 10:00] msilvestre opened #63 "changes between commits"
Hi, I'm trying to extend the changes option in order to make diffs between different commit.
However, I'm having trouble in the tests, I don't understand why, but I am doing something wrong.
Can you please have a look? It is on this feature branch:

https://github.com/msilvestre/git-secret/tree/feature/changes_beetween_commits

What happens?
-------------
Test failing under test_changes.bats @test

[2017-02-17 10:19] sobolevn commented on #63
Hi! Thanks for this idea and implementation.

I really like it. But there are several issues with the code. I have posted my comments in your branch.
Could you please tell me what do you think of it.

And after that we will check your tests.

[2017-02-17 20:33] sobolevn opened #65 "Create tutorials"
By tutorials I mean some code samples that cover some use-case.
It could be located in the `gh-pages` branch.

- [ ] Add tutorials to `gh-pages`
- [ ] Update docs to show these use-cases
- [ ] Make sure they are available at the very begging of the official website

[2017-02-25 07:04] sobolevn opened #66 "Add "Version History" section to the gh-pages"
We need to add content from `CHANGELOG.md` to the main site, so it would be possible to know: what's new in a current version.

[2017-02-25 07:09] sobolevn opened #67 "Change navigation on gh-pages"
Right now it looks pretty simple.
<img width="816" alt="2017-02-25 10 06 00" src="https://cloud.githubusercontent.com/assets/4660275/23329128/3b3983fa-fb42-11e6-881d-6efcabd6ab9d.png">

But we want to provide several other options:

- Tutorials
- Version history
- Companies and projects using it
- Third-party plugins

So it won't be possible with the current nav-bar.
See related: https://github.co

[2017-02-25 07:11] sobolevn opened #68 "favicons are missing from the main site"

[2017-02-25 07:12] sobolevn opened #69 ""See also" links on the commands pages should be clickable"
Right now it is just a text.

[2017-02-25 07:14] sobolevn opened #70 ""Installation" section should be placed outside the main man file"
There's no point in storing it there: user have already installed the software.

It should also be moved somehow in the main site, maybe as a separate page.

[2017-02-25 18:35] sobolevn opened #71 "Move everything to new domain"
I have purchased http://git-secret.io

What needs to be done:
- [ ] check for any old domain references in the `develop` branch
- [ ] check for any old domain references in the `gh-pages` branch
- [ ] redirect `gh-pages` to custom domain
- [ ] change domain in the description

[2017-02-25 21:11] sobolevn opened #72 "git secret tell multiple emails"
This would be a logical enhancement to the already existing features: like `git secret add <multiple files>`, `git secret remove <multiple files>`, and `git secret changes <multiple files>`.

[2017-02-25 21:58] sobolevn opened #73 "git secret killperson multiple emails"
Right now only one person can be removed from the keychain at a time. We should fix that.

See related issue https://github.com/sobolevn/git-secret/issues/72

[2017-02-25 22:18] sobolevn commented on #53
Please, also take a note on `"user2"`. It is widely used all across the tests.
It definitely needs to be removed.

[2017-02-25 22:47] sobolevn opened #74 "_user_required had a serious bug"
What are the steps to reproduce this issue?
-------------------------------------------
1. Add user to the keychain with `git secret add` command
2. Remove user from the keychain with `git secret remove` command
3. Try to run any command that require a user to be present. It **will** run.

What happens?
-------------
A lot of bad things happen.

What were you expecting to happen?
-----------------

[2017-02-26 12:11] sobolevn opened #75 "Add alpine-linux to integration tests"
https://hub.docker.com/_/alpine/

It is quite popular, and totally different. We must be sure, that is supported.

There are several things to be done:
- create `Dockerfile` for it
- create `Travis` job to test it
- maybe additional changes will be required

[2017-02-26 15:11] sobolevn commented on #38
See this job https://travis-ci.org/sobolevn/git-secret/jobs/205525427

[2017-02-26 15:51] #50 closed

[2017-02-26 15:51] #61 closed

[2017-02-26 15:51] #69 closed

[2017-02-26 15:51] #70 closed

[2017-02-26 15:51] #71 closed

[2017-02-26 15:51] #72 closed

[2017-02-26 15:51] #73 closed

[2017-02-26 15:51] #74 closed

[2017-02-26 16:05] sobolevn opened #76 "Current development process is to complecated"
I had a point when using this process: `antigen` plugin (which was the first way to install `git-secret`) was using `master` branch for installation. No other choices.

I plan to get rid of `staging` branch. Just `master` <-> `develop`.

So, there are several advantages:
1. Easier to publish new versions, so they will not cause so much trouble and take so much time
2. Easier to handle all the proc

[2017-02-26 16:07] sobolevn opened #77 "Deprecate `antigen` plugin"
Since the new `0.2.3` it will be deprecated. And will generate a warning.
Since `0.3.0` it will be removed.

Use binary or source code releases instead.

Related: https://github.com/sobolevn/git-secret/issues/76

[2017-02-26 20:55] #66 closed

[2017-02-26 20:55] #67 closed

[2017-02-26 20:55] #68 closed

[2017-03-02 08:20] sobolevn opened #78 "Add 'security' note"
It should be stated, that security issues are important. And should not be reported in public.

[2017-03-02 08:29] sobolevn opened #79 "Improve the README.md"
There are several things that are asking to be fixed:

- [x] First of all, right now `README.md` is empty. All it has is just links to the documentation, I guess it should contain some small pieces of information about: `installation` and `usage`. Some small examples for each of those
- [ ] Add `guides` section
- [x] Fix links, some of them are now broken

Related: https://github.com/sobolevn/git-

[2017-03-03 17:15] msilvestre opened #80 "Git secret changes not showing changes"
What are the steps to reproduce this issue?
-------------------------------------------
1. create a file (echo "123" > file_to_hide)
2. add it to .gitignore
3. add it to git secret (git secret add)
4. hide file
5. reveal file
6. add something to file (echo "435" >> file_to_hide)
7. call git secret changes

What happens?
-------------
Git secret changes shows all file instead of only the change:
ch

[2017-03-03 18:41] haleyk opened #81 "Can't make a git secret repository"
What are the steps to reproduce this issue?
-------------------------------------------
First, I downloaded gpg, made an RSA key pair. Then, I ran git secret init, which said "git appears to be broken. Try git init" so I used git init and then git secret init, which seemed to worked fine.
Then,
In terminal:
1. git secret init
2. git secret tell email@email.email

What happens?
-------------
"/usr/

[2017-03-03 19:26] sobolevn commented on #81
Thanks for the detailed report! What version of `gpg` do you have? You can check that by `gpg --version`.

And also, could you please show me the output of `which git-secret`. Thanks!

[2017-03-03 19:28] sobolevn opened #82 "Add 'gpg-version' and 'git-secret path' to the issue template"
Two things I will basically always need to debug a problem:
- `gpg` version (we have known issues with that)
- `git-secret` path, so it will be also very helpful

[2017-03-03 19:39] sobolevn opened #83 "Issue when running `init` in the subfolder"
What are the steps to reproduce this issue?
-------------------------------------------
1. mkdir test && cd test
2. git init
3. mkdir subfolder && cd subfolder
4. git secret init

What happens?
-------------
`$SECRETS_DIR` is created in the current folder

What were you expecting to happen?
----------------------------------
It should be created near the `.git/` folder, but it also should generate

[2017-03-03 19:43] sobolevn commented on #80
I guess it may be a feature of the `diff` I am using underneath.
In my case it was like that:

[2017-03-03 19:58] haleyk commented on #81
I just re-installed GPG Suite and the error is no longer occurring; I must have done something wrong the first time. Thank you for your time!

[2017-03-03 20:57] #81 closed

[2017-03-04 14:06] sobolevn commented on #80
So, I found this option:

It may fix this problem. Could you please test this option? Does it suite your needs?

[2017-03-05 14:26] sobolevn opened #84 "Support `git diff` and `git log` via `.gitattributes`"
It is possible to configure standard `git` commands to use custom plugin's logic.
We need a note in the docs about that.

[2017-03-05 16:55] sobolevn opened #85 "Multiple commands not working in the subfolders"
There are multiple issues with running the commands in the subfolders.

Here are some of them:

- [x] `git secret init -i` creates `.gitignore` in the subfolder
- [x] any commands with `_user_required` do not work
- [x] there's a bug in `$GPGLOCAL`, since it relies on `$SECRETS_DIR_KEYS` which is relative

[2017-03-05 17:11] sobolevn opened #86 "Variables $SECRETS_DIR, $SECRETS_DIR_PATHS_MAPPING and so on are error-prone"
We are moving away from using `git secret` only in the root path. But these variables are used in a relative way.

This is causing errors when using `git secret` is subfolders, which is a critical bug.
All these variables must be refactored to functions. And their names should be changed.

See related: #83 #85

[2017-03-05 21:53] sobolevn commented on #22
This is no longer valid. See https://github.com/sobolevn/git-secret/issues/77

[2017-03-05 21:53] #22 closed

[2017-03-06 13:44] msilvestre commented on #80
Great! Thanks for the following up.
There was really something fishy, from 0.2.1 to 0.2.2

[2017-03-06 20:16] sobolevn opened #87 "Some tests are failing when running on pre-commit hook"
I don't know what the issue is. Maybe it is some kind of `git`-related bug.

Here's what's happening:
1. On `git commit` we run `make test` command as usual
2. It fails on every test with subdirectories
3. The problem is in `git rev-parse` command, it starts to give errors back
4. Testing manually with `make test` is not affected

As a workaround I have added `skip` condition and `$BATS_RUNNING_FR

[2017-03-08 08:21] hakgul opened #89 "Linux deb repo no longer signed"
I am having troubles with the bintray repository for git-secret. Originally noticed when the Linux Mint Update Manager was acting up and indicating a problem. Upon trying to update apt-get sources I got an error about the git-secret repo, details below.

What are the steps to reproduce this issue?
-------------------------------------------
1. open terminal
2. run sudo apt-get update

What happens

[2017-03-08 10:43] sobolevn commented on #89
Thanks for the report! Will fix this soon.

[2017-03-08 10:45] hakgul commented on #89
Excellent! Great tool by the way :)

[2017-03-13 21:01] sobolevn commented on #38
I guess it can be related to this bug: https://github.com/sobolevn/git-secret/issues/46
`gpg` version needs to be checked.

[2017-03-13 21:03] sobolevn opened #91 "Configure Dockerhub to build CentOS container"
Right now there are knows issues (https://github.com/sobolevn/git-secret/issues/38) with Centos, but it should be done anyway.

[2017-03-26 18:05] kingpong opened #92 "Feature request: "git secret hide" should only touch modified files"
It would be nice if `git secret hide` would only re-encrypt files if the underlying plaintext file has changed.

What are the steps to reproduce this issue?
-------------------------------------------
1. `git secret hide`
2. `git commit -am "save secrets"`
3. `git secret hide`
4. `git status`

What happens?
-------------
`git status` shows that git-secret-hide has rewritten all of my secret files,

[2017-03-26 18:10] sobolevn commented on #92
Thanks! That's a good idea indeed.

Do you have any free time to make a PR for this?

[2017-03-26 18:59] kingpong commented on #92
@sobolevn Yes, I might have time. I'll need to get acquainted with the code first, though. I'll try to give it a whirl this week.

[2017-03-27 01:48] kingpong commented on #92
(sorry for the long message -- just want to get this right)

There are a couple of tricky parts to this:

**Problem 1**
Due to the async nature of gpg, the person running `git secret hide` may not have access to any of the private keys capable of decrypting the original ciphertext (to know if it has changed).  When this is the case, I think we can fall back to the existing behavior of just overwri

[2017-03-27 09:17] sobolevn commented on #92
I think that this is a nice way to solve it.

Just one thing to mention. This change is quite big. And it can break stuff people are already using. I'm thinking about releasing it with `0.3.0`, not the `0.2.3`

[2017-03-27 12:48] vtermanis commented on #89
Hi @sobolevn - any idea when approximately this might be addressed?

[2017-03-27 12:51] sobolevn commented on #89
Will try to fix this today.

[2017-03-27 14:14] vtermanis commented on #89
Thank you very much!

[2017-03-27 14:35] sobolevn commented on #89
@vtermanis  Could you please check this right now?

It did not work:

Right now it looks like that:

Solved with:

[code]

[2017-03-27 15:13] vtermanis commented on #89
It works, thank you. :+1:

[2017-03-27 16:03] sobolevn commented on #89
Reopened, since I want to automate this API call.

[2017-03-27 19:15] #77 closed

[2017-03-27 19:15] #80 closed

[2017-03-27 19:15] #82 closed

[2017-03-27 19:15] #83 closed

[2017-03-27 19:15] #85 closed

[2017-03-27 19:15] #86 closed

[2017-03-27 19:15] #76 closed

[2017-03-27 19:15] #89 closed

[2017-04-05 18:41] liz-mars opened #93 "Documentation tweak regarding checked-in status of .gitsecrets"
Thanks so much for git secret. I love everything except one thing.

You stipulate that .git-secret should not be ignored, but it's not clear from the documentation if it should be checked in. I've checked it in in my repos, but that also means checking in a file containing a randseed, which makes me uncomfortable. Could you clarify this in the docs?

[2017-04-05 19:31] sobolevn commented on #93
Thanks for your feedback!

I have never thought about ignoring `randomseed`. Should it be secure?
I guess I have to google some material about it.

[2017-04-12 00:44] akonon commented on #14
I have the same issue. There's a repo on Ubuntu 16.04 and git secret works well there. When pulled the repo on CentOS7, whatever command I try, I keep getting:

[code]

This happens not only in my old repository. I can't initialize git secret in a new one as well (with the same error).

The package seems to be installed properly

[code]

[2017-04-12 00:45] sobolevn commented on #14
@akonon it is not the same issue as it seams to me.
Could you please open a new one?

Thanks!

[2017-04-12 21:44] akonon opened #94 "Doesn't work in CentOS7: error: unknown option `no-index', .gitsecret folder is ignored. abort."
I have a repo on Ubuntu 16.04 and git secret works well there. When installed it on CentOS7, whatever command I try, I keep getting:
[code]
I can't even `git secret init` in a new repo there. The same error occurs.

What versions of software are you using?
----------------------------------------
**Operating system:**
[code]
**`git-secret` path:**
[code]
**`git-secret` version:**
[code]
**Shell ty

[2017-04-16 08:55] sobolevn commented on #94
What's your `git` version, please?

[2017-04-16 08:56] sobolevn opened #95 "Add `git version` into issue template"
Right now it is missing, but it is very important.

[2017-04-16 22:43] akonon commented on #94
[code]

[2017-04-19 06:40] sobolevn commented on #94
Thanks. I have figured out, that `--no-index` is supported since `git 2.0`.

I guess, I should clarify the minimal supporting `git` version.
So, your version is not supported, sorry.

As a solution you can update your `git`.
Feel free to reopen if needed.

[2017-04-19 06:40] #94 closed

[2017-04-19 06:41] sobolevn opened #96 "Add minimal version requirements"
We need to provide minimal requirements for:

* gpg
* git
* bash

[2017-04-19 06:41] sobolevn commented on #94
Related https://github.com/sobolevn/git-secret/issues/96

[2017-04-19 19:13] akonon opened #97 "Doesn't finish the process of asking for a password to reveal"
Updated git as you advised in the other issue and now it works, almost)
[code]
And then there is no invitation like it's in Ubuntu: `Введите фразу-пароль: `
Any text I type in looks like regular visible text. Pressing Enter doesn't help.
Have to use Ctrl+C to stop it.

When I use `gpg -o file -d file.secret` to decrypt a file, `git secret reveal` works for a short time (maybe 15 mins) without aski

[2017-04-19 19:26] sobolevn commented on #97
Thanks for the report! Could you please try to encrypt and decrypt any file using raw `gpg`?
Will it even work?

[2017-04-19 20:07] akonon commented on #97
Yes, raw `gpg` encrypts and decrypts without any problems.

[2017-04-19 21:52] sobolevn commented on #97
Ok, I will dig into it.

[2017-04-19 22:15] akonon commented on #97
I've just noticed that every attempt to `git secret reveal` starts a process `/usr/bin/pinentry-curses`  which loads CPU on 100% until I kill it manually.

[2017-04-19 22:18] sobolevn commented on #97
`pinentry` is used by `gpg-agent`. Is it properly configured?

[2017-04-19 22:40] akonon commented on #97
I didn't configure it.. didn't know I have to.
After raw `gpg` decryption, while `gpg-agent` is still in the list of processes, `git secret reveal` works without generating pinentries. So it can reveal files after I used `gpg` first and for a limited period of time when my password is in memory.

[2017-04-20 11:54] sobolevn commented on #97
Could you please try this https://ask.fedoraproject.org/en/question/32052/gpg2-problem-with-the-agent-no-pinentry/

Will it help?

[2017-04-20 19:47] akonon commented on #97
Unfortunately none of the answers there helped. With `~/.gnupg/gpg-agent.conf` the behaviour is the same, my $DISPLAY is empty and I don't do it as sudo.
Don't know if it is helpful info, but I installed git from source and used `./configure --prefix=/usr --with-curl` not `--prefix=/usr/local` as it was in the tutorial (otherwise git commands didn't work).

[2017-04-20 19:55] sobolevn commented on #97
That's surely is an issue with `gpg` and `pinentry`. I guess it is not related to `git`.
I will try to create a `docker` image to reproduce this issue.

[2017-05-02 14:06] sobolevn commented on #60
Thanks @aymericbeaumet for joining!

[2017-05-03 14:30] avra911 commented on #97
Hello,

Same issue here in Mac OS and `gpg (GnuPG) 2.1.20`, `libgcrypt 1.7.6`.

[2017-05-03 14:43] sobolevn commented on #97
@avra911 do you have `gpg-agent` configured?

[2017-05-03 14:45] avra911 commented on #97
@sobolevn I am able to run `gpg -o file -d file.secret`. Is there any specific configuration?

[code]

[2017-05-04 16:34] beInDev commented on #40
I had no problem running the tests on cygwin.

Had bats installed and recognized in path.

`git secret` also seemed to work as expected (haven't tried extensively yet), only had to change [_git_secret_tools.sh](/sobolevn/git-secret/blob/master/src/_utils/_git_secret_tools.sh#46) and uncomment the windows os check case and made it so it would use the [_git_secret_tools_linux.sh](/sobolevn/git-secre

[2017-05-04 18:01] sobolevn commented on #40
@beInDev wow that's very cool!

What's you `gpg`, `bash` and `git` version?
Are you interested in making a PR with:

1. Your changes in code
2. Documentation (how to set the whole thing up)
3. CI for Windows, there were some choices in this thread

Thanks!

[2017-05-04 18:38] beInDev commented on #40
Sure :)

The packages were installed from the original cygwin setup program.
- **GnuPG (GPG) version:** 1.4.21
- **Bash version:** GNU bash, version 4.4.12(3)-release (x86_64-unknown-cygwin)
- **git**: 2.12.2

I'll do a PR ASAP

[2017-05-11 08:26] msilvestre opened #98 "question: When will 0.2.3 be released?"
Just to know, if you have any estimation on it.

Thank you

[2017-05-11 09:27] sobolevn commented on #98
Thanks for your interest! I am pretty busy with the offline work right now. This month is totally occupied.

I would highly appreciate any contributions resolving these issues: https://github.com/sobolevn/git-secret/milestone/4

Also @aymericbeaumet was ready to help.

[2017-05-16 05:39] sobolevn opened #99 "Add more gpg versions to the test matrix"
We need to test several `gpg` versions:

1. `gpg` version 1
2. `gpg` version 2
3. `gpg` latest release
4. `pgp` if available

[2017-06-01 06:08] mrmachine commented on #6
@sobolevn This appears to still be a problem. We upgraded a previously working Ubuntu 14.04 LTS Docker image to 16.04 LTS and that brought with it a new version of gnupg2. I've updated to git-secret 0.2.2, but I still get an error when I try `git secret tell ...`:

[code]

[2017-06-01 06:58] sobolevn commented on #6
Thanks for the report. Reopened.

[2017-06-01 07:35] sobolevn commented on #6
By default `Ubuntu 16.04` has `gpg 1.4.20`

And no `gpg2`:

After installing `gpg2`:

Now trying to generate a new key:

Now adding this user to the `git-secret`:

So, my guess that you are missing `SECRETS_GPG_COMMAND=gpg2`.

[2017-06-01 08:58] sobolevn commented on #93
Starting some test with ignoring `randomseed`: https://github.com/sobolevn/git-secret-test-randomseed

[2017-06-01 10:48] sobolevn commented on #93
Indeed, it it not required to be in the repository. So, I will point that out.

[2017-07-16 14:01] #60 closed

[2017-07-16 14:06] sobolevn opened #100 "Additional maintainer(s) wanted"
## Call for maintainers
Right now I don't have much time to support this project. Sorry.

But I do not want to leave it unmaintained, since it is working fine, but still needs some major improvements. And I love using it already.

I would love to contribute to this project in the future, but right now it requires someone to care for it. I would post some advertising around the web, so feel free to

[2017-07-18 10:36] barak opened #101 "Suggest comparison to git-crypt"
It would be nice if the README.md file mentioned [git-crypt](https://github.com/AGWA/git-crypt) as an alternative program with similar functionality, and maybe even either discussed the advantages/disadvantages/differences, or had a pointer to such a discussion.

[2017-07-18 12:28] sobolevn commented on #101
That's nice! Thanks for the idea.

But, I really don't have any experience in using this particular software. Do you have any thing to share?

[2017-07-18 23:48] barak commented on #101
Well, the base level functionality is pretty similar.
You can encrypt individual files, and the system maintains a list of PGP public keys whose corresponding private keys allow viewing of the encrypted files.
Beyond that, it's a bit hard for me to tell what are fundamental differences versus philosophical differences vs design choices that could be easily changed.

Here's a short description.

[c

[2017-07-19 08:09] sobolevn commented on #101
Thanks! I am actually planing to write an article about `git-secret`, so I guess I will mentions some alternatives.

Right now it seems that these two tools are quite similar, but `git-secret` seems to have more commands. I will dig into it!

[2017-08-07 21:01] sobolevn opened #102 "Add bats/assert helper"
I guess it could really simplify testing: https://github.com/ztombol/bats-assert

[2017-09-14 10:44] mashaklzo opened #104 ".gitsecret folder is ignored. abort."
What are the steps to reproduce this issue?
-------------------------------------------
Either in a new or existing repo run:
`$ git secret init`

What happens?
-------------

`$ .gitsecret folder is ignored. abort.`

Any logs, error output, etc?
----------------------------

No other error messages or logs

What versions of software are you using?
----------------------------------------
**Operat

[2017-09-14 10:57] sobolevn commented on #104
Could you please provide output of:
- `ls -alh` from your base project folder
- `cat .gitignore`

[2017-09-14 11:02] mashaklzo commented on #104
`$ mkdir test && cd test`
`$ git init`
`$ $ git secret init`
`.gitsecret folder is ignored. abort.`
`$ ls -alh`
`total 0`
`drwxr-xr-x  2 mashaklzo  staff    68B 14 Sep 12:47 .`
`drwxr-xr-x  4 mashaklzo  staff   136B 14 Sep 12:47 ..`

---

`$ cat .gitignore`
`cat: .gitignore: No such file or directory`

[2017-09-14 11:08] mashaklzo commented on #104
In an existing repo, same issue

[code]

---

[code]

[2017-09-14 11:09] sobolevn commented on #104
Do you have any global `.gitignore` settings?

[2017-09-14 11:11] mashaklzo commented on #104
Seems not, I have no results for

`$ git config --get core.excludesfile`

[2017-09-14 11:12] mashaklzo commented on #104
Although I get

[code]

[2017-09-14 11:55] sobolevn commented on #104
Sorry for the multiple questions, by what does `git check-ignore -v .gitsecret` return?

[2017-09-14 11:58] mashaklzo commented on #104
I get nothing back:

[code]

No problem on the multiple questions, happy to troubleshoot.

[2017-09-14 12:30] sobolevn commented on #104
This seems very strange. So, it says that `.gitsecret/` is ignored.
Here's where this check is done:
https://github.com/sobolevn/git-secret/blob/master/src/main.sh#L14

Then it executes this function:
https://github.com/sobolevn/git-secret/blob/c85d482ec6143b710511a7b081ddb77b8887d79f/src/_utils/_git_secret_tools.sh#L335

Maybe the reason it it checks for `_check_ignore "${_SECRETS_DIR}/"`?
There

[2017-09-14 12:48] mashaklzo commented on #104
Yes definitely strange - testing for an ignored file works as expected.

[code]

If I build a version for testing with `_secrets_dir_is_not_ignored` commented out will it have any repercussions?

[2017-09-14 12:52] mashaklzo commented on #104
Aha, #103 fixed it. I applied the changes in the commit and it's working now. Thanks!

[2017-09-14 12:52] #104 closed

[2017-09-18 17:01] TopherGopher commented on #14
I was able to replicate (and fix) by following @Clancey's comment https://github.com/sobolevn/git-secret/issues/14#issuecomment-218010655
You can have comments, but you cannot have empty lines.
On OSX using ZSH with a repo and a global gitignore file.

[2017-09-18 20:46] sobolevn commented on #14
@TopherGopher could you please provide an example?

[2017-09-19 16:14] TopherGopher commented on #14
This is...bizarre.
I reintroduced whitespace all over the place in both global and local .gitignore files, committed and then could not reproduce.
I have tried with fresh repos, clean branches, nothing.
I have the original error message from the repo

[code]

But since I cannot reproduce for you...feel free to re-close...
Just...huh.

[2017-09-19 16:15] #14 closed

[2017-09-19 16:16] sobolevn commented on #14
👻

Sounds strange, quite sure that is not `git-secret` issue.

[2017-09-19 16:17] TopherGopher commented on #14
It's just weird that changing the gitignore file worked for the fix, that's why I'm just so...confused.
Which is a normal state for me, so... :-)

[2017-09-22 15:44] rsguhr opened #105 "git-secret (rpm) - .gitsecret folder is ignored. abort."
What are the steps to reproduce this issue?
-------------------------------------------
1. dnf install git-secret
2. Setup git repo and git-secret
3. Create this .gitignore file:
[code]

What happens?
-------------
If you tries to encrypt your data with git-secret hide, it will produces this output:
`.gitsecret folder is ignored. abort.`

What were you expecting to happen?
------------------------

[2017-09-22 15:47] sobolevn commented on #105
Thanks! A pr maybe?

Would be so nice!

[2017-09-22 16:00] rsguhr commented on #105
@sobolevn with pleasure but I didn't found this code snippet here in this repo? :)

[2017-09-25 22:06] hurricanehrndz commented on #105
@rsguhr
What is the git version you are using. I tested your scenario and I don't not encounter the issue you specify. Additionally, the code snippet you blame is actually correct. Please read the following:
https://git-scm.com/docs/git-check-ignore

If you notice towards the bottom git check-ignore returns 1 when none of the paths provided are ignored. Meaning the git secret should abort when equ

[2017-09-25 22:14] hurricanehrndz commented on #38
@sobolevn,

I would close this. In order for CentOS to be supported appropriately it needs a git version that is newer than the one available. If you wish to have CentOS supported the `_check_ignore` function would need to be re-written as to not use features introduced in version 1.8.5/1.9. Current version is 1.8.3.

[2017-09-25 22:43] rsguhr commented on #105
Hi @hurricanehrndz,
yes you are right. The if condition is consistent from the exit codes from the man page. Which means `git check-igonres` doesn't work correctly.

[code]
In the last one, `git check-ignore` says the file is ignored but `git status` says it's not. :(

I found this StackOverflow thread about that topic: https://stackoverflow.com/questions/45210790/how-to-reliably-check-whether-a-f

[2017-09-25 22:50] hurricanehrndz commented on #105
@rsguhr

What version of git are you using?

[2017-09-25 22:52] rsguhr commented on #105
2.13.5

[2017-09-25 23:02] hurricanehrndz commented on #105
@rsguhr

`git status --ignored --porcelain`
Is one way of checking, the only problem is that before the check can actually be run the file/directory must exist. Another way is with the dry run. I already attempted this once, and the results were less than favorable, but I will see what I can do.

You can verify this by running the following:
[code]

[2017-09-26 00:25] hurricanehrndz commented on #105
@rsguhr,

Try this: https://github.com/hurricanehrndz/git-secret/tree/issue105
If it works, I will make a pull request. You will need gawk installed now. PS if this works, you have created a lot of work for me. I will need to refactor all the gawk scripts so that CentOS can be supported.

[2017-09-26 10:18] rsguhr commented on #105
@hurricanehrndz
Yes this solution is working for me (git-secret init / tell / add / hide) :+1:

[2017-09-26 19:04] #105 closed

[2017-09-26 19:04] sobolevn commented on #105
@hurricanehrndz @rsguhr thanks!

[2017-09-27 18:37] sobolevn opened #108 "Merge ci folders into one"
Can these folders be merged?

<img width="486" alt="2017-09-27 21 29 39" src="https://user-images.githubusercontent.com/4660275/30930711-2daf6aec-a3cb-11e7-90eb-551b1a319c12.png">

I guess existing `.ci/` folder is fine, isn't it?

[2017-09-27 18:38] sobolevn opened #109 "Ensure all new features are tested"
Is everything tested properly?

[2017-09-27 18:39] sobolevn opened #110 "Creating full changelog"
Here, take a look at the previous changelogs: https://github.com/sobolevn/git-secret/releases/tag/v0.2.2

[2017-09-27 18:41] sobolevn opened #111 "Make sure docs are up-to-date"
Is it outdated right now?

Feel free to ask for any help.

[2017-09-27 18:44] hurricanehrndz commented on #108
@sobolevn

I'm not familiar in regards to running macOS ci tests on mac, so I was not comfortable making any edits to that folder. Additionally, the original ci folder is no longer needed for any actual test on Linux. Do you actually use the after_deploy script? I can try and merge them together and see what happens. I think got the gist of it. The old .docker folder needs to be dropped, no longer

[2017-09-27 18:44] hurricanehrndz commented on #108
Sorry didn't mean to close.

[2017-09-27 19:05] sobolevn commented on #108
Sounds good to me, remove everything that is no longer needed.

[2017-09-27 22:11] hurricanehrndz commented on #108
What is the purpose of your dockerfiles?

[2017-09-27 23:16] hurricanehrndz commented on #111
Nope, I updated the man pages and documented the new "-m" option. I update the contribution file discussing on how to run local ci tests and a note that users should do so before submitting a pull request. I didn't go into to much detail about how changes tracked on plain files using their sha256 sums, so that they are not needlessly encrypted. Do you want me to add some details somewhere document

[2017-09-27 23:35] hurricanehrndz commented on #108
ci folders have been merged, the docker folder was deleted and additionally travis test for linux was moved to test kitchen please see [here](https://travis-ci.org/hurricanehrndz/git-secret/jobs/280652621).
Deployment has been broken, I believe they can be re-added to the matrix with the following code:

[code]

[2017-09-28 04:47] hurricanehrndz commented on #108
All test have fixed except macOS. Can you please look into this?

[2017-09-28 05:47] sobolevn commented on #108
@hurricanehrndz I guess it happens because of how `brew` works.

[code]

[2017-09-28 05:50] sobolevn commented on #111
Yes, that would be great!

[2017-09-28 16:44] hurricanehrndz commented on #108
@sobolevn

It seems the macos config has changed a little. Anyhow, I don't have access to a mac and going back and forth waiting for results from travis is time consuming. Can we drop the mac tests?

[2017-09-28 17:09] sobolevn commented on #108
Comment them for now if it bothers you, and assign a new task to me. I will have a look at it.

[2017-10-06 11:37] ViktorSoroka opened #112 ""git secret reveal" is not working on Mac."
I have existing project which use "git secret". I have my key added to it. When I try to decrypt cryptic files nothing happens. I have installed "git-secrets" via brew.

Steps to reproduce this issue?
1. Run "git secret reveal" on mac.

I have to do decryption manually with "gpg --decrypt" command which is ugly. While doing that I have the window for opening password like that (with abracadabra sy

[2017-10-06 17:31] sobolevn commented on #112
Yeap, thanks! That's a known issue.
https://github.com/sobolevn/git-secret/issues/46

This happens because `gpg` change its api.
As a workaround you can downgrade to version prior to `2.1`

[2017-10-11 08:49] #112 closed

[2017-10-11 08:51] sobolevn commented on #108
@hurricanehrndz how is this going? do you need any help?

[2017-10-11 20:34] hurricanehrndz commented on #108
I'm just finishing other things on my to do list and running the program
for myself. I have added Alpine to the test matrix, I will let you know if
I hit any walls

On Oct 11, 2017 2:52 AM, "Nikita Sobolev" <notifications@github.com> wrote:

[2017-10-25 16:24] hurricanehrndz commented on #108
@sobolevn,

I'd like to update you on the status of my progress. I'm not sure if github comments are the best, I do not have skype, I do have Telegram and I'm readily available on irc. Just as a small update. I'm hoping to have most things done by November 15. Hope that works for you. So far what is remaining is the bats test for the new option I added, and updating the readme.

[2017-10-25 16:24] #99 closed

[2017-10-25 16:27] hurricanehrndz commented on #93
@sobolevn and @liz-mars,

Randomseed is not automatically added to gitignore when git-secret is initialized. Documentation will be added to clarify workflow.

[2017-10-25 16:33] #46 closed

[2017-10-25 16:36] #91 closed

[2017-10-25 16:37] #95 closed

[2017-10-25 16:41] #6 closed

[2017-10-25 16:41] #92 closed

[2017-10-25 17:38] sobolevn commented on #108
Awesome job! I really appreciate it! 👍

Let's stick to github issues. So every piece of discussion will be preserved.

[2017-11-09 17:53] nictrix commented on #101
I've been evaluating both projects and have seen these differences/similarities so far:

git-crypt has an option to export a symmetric key instead of only individual gpg keys.

git-secret you can encrypt/decrypt files with gpg commands (that means I can use the gnupg vim plugin to edit the files directly without needing to use reveal/hide).
git-crypt you can encrypt/decrypt files, but its a bit mo

[2017-11-09 18:13] sobolevn commented on #101
@nictrix thanks for your awesome answer!

[2017-11-10 20:08] sobolevn opened #115 "Remove .docker folder"
As discussed in #114 there's no need in docker container for this script.

It was an experiment at first. For almost 2 years all containers were pulled for only 355 times.
There's no need in supporting this.

[2017-11-16 02:05] Vinlock commented on #112
When will this be supported correctly?

[2017-11-16 05:54] sobolevn commented on #112
@Vinlock when `0.2.3` will be released. It should happen soon.

[2017-11-24 18:01] joan38 commented on #112
How do you downgrade gpg on Mac? I installed it with brew and we all know brew is not a real package manager...

Is the release going forward?
Sounds like git secret is currently impossible to be used.

[2017-11-26 08:51] a3785lex opened #116 "Hide with -d argument does not clean up files in sub directories"
What are the steps to reproduce this issue?
-------------------------------------------
1. Create a testing folder `mkdir test` and `cd` into it
2. Init a git repo and git secret with `git init` and `git secret init`, create an empty .gitignore
3. Run `git secret tell` to add someone who can access the secrets
4. Create a file `file1` in the current folder
5. Create a sub directory inside the test

[2017-11-26 09:34] sobolevn commented on #116
That's a entry-level issue, I guess. @a3785lex do you want to take this over?

[2017-11-26 15:17] a3785lex commented on #116
Well, I surely can.
But I only know a little about shell script and -nix stuffs (mostly live on the Windows) so it may take some time.

[2017-11-26 16:29] a3785lex commented on #116
After playing with the test and source code for a while, I cannot find any tiny point that can be wrong.
Then I just `make build` and replace the one found in path with the freshly built one, problem solved.
I did not realize that this bug had been fixed by @ctavan quite a while ago until looking up for the git history.
Sorry for bothering with this dumb issue!

[2017-11-26 16:29] #116 closed

[2017-11-27 08:51] ctavan commented on #116
I agree though that it would be nice to release a new version that includes my fix ;). It's the only issue that I find current 0.2.2 version of git-secret.

What do you think @sobolevn ? Since there's rather little development activity here recently, how about at least releasing the latest master to the public?

[2017-11-27 09:41] sobolevn commented on #116
Ok, sure. That's not so much left to do, so guess I will manage to find some time this week.

[2017-11-27 10:15] ctavan commented on #116
That would be great @sobolevn. Let me know if I can help.

[2017-11-27 10:17] sobolevn commented on #116
@hurricanehrndz do you have uncommited changes that can help me? If case you do, could you please commit them?

@ctavan sure, thanks!

[2017-11-27 13:36] hurricanehrndz commented on #116
I will look into it.

On Nov 27, 2017 3:17 AM, "Nikita Sobolev" <notifications@github.com> wrote:

[2017-11-27 15:50] hurricanehrndz commented on #116
I will commit my change back into dev, sorry for the delay.I have been having troubles finalizing my new dev machine.

[2017-11-27 17:20] michaelt55 commented on #112
Not sure why this issue was closed? `git secret reveal` still doesn't work on macOS Sierra 10.12.6 using gpg 2.2.3 (it just silently fails).  "Just downgrade gpg" doesn't seem like a practical solution..  Guess it's time to consider alternatives.

[2017-11-27 19:41] sobolevn commented on #112
@michaelt55 @joan38 could you please try a `develop` branch? It should be fixed there.

[2017-11-27 19:58] joan38 commented on #112
I will try, but what’s blocking the release of the next version?

[2017-11-27 20:27] sobolevn commented on #112
Some minor bugs to fix and to stabilize release process.

[2017-11-28 03:44] #93 closed

[2017-11-28 03:44] #75 closed

[2017-11-28 05:36] #108 closed

[2017-11-28 05:58] #78 closed

[2017-11-28 05:58] #115 closed

[2017-11-28 06:09] #38 closed

[2017-11-28 06:18] hurricanehrndz commented on #116
@sobolevn,

My work has been merged into develop. I believe 2.3 is ready for release other than a guides section in the readme.

[2017-11-28 07:23] sobolevn commented on #116
@hurricanehrndz you are awesome. Let's do the release!

[2017-11-28 07:42] #111 closed

[2017-11-28 07:42] #96 closed

[2017-11-28 07:42] #109 closed

[2017-11-28 07:45] sobolevn opened #118 "Issues with macOs"
There are some issues with `mac`.

## Tests do not pass

[code]

## Running

While `hide` I can see a warning, while everything still works:

[code]

[2017-11-28 13:39] hurricanehrndz commented on #118
@sobolevn

Readme specifies the new requirements and the minimum version git-secret has been tested against, please see 329324adfa22aaa5e7459efef0380e732df8aa47

[2017-11-28 14:24] sobolevn commented on #118
Hm, that's a bug with `macos`. I had to run this fix: `ln -s /usr/local/bin/gsha256sum /usr/local/bin/sha256sum`

[2017-11-28 14:24] #118 closed

[2017-11-28 14:26] sobolevn commented on #118
I confirm, that it works now.

[code]

[2017-11-28 14:28] hurricanehrndz commented on #118
Nice. Glad to hear. I wish I could have done further testing on a Mac, but
unfortunately I don't have access to one. :)

On Nov 28, 2017 7:26 AM, "Nikita Sobolev" <notifications@github.com> wrote:

[2017-11-28 14:35] sobolevn opened #120 "Deploy step is ignored"
Right now deploy step is ignored. We used to rely on `$GITSECRET_DIST`:
- https://github.com/sobolevn/git-secret/blob/master/.travis.yml#L108
- https://github.com/sobolevn/git-secret/blob/master/.ci/before_deploy.sh#L5

New package is not uploaded:
- https://bintray.com/sobolevn/deb/git-secret/view
- https://bintray.com/sobolevn/rpm/git-secret

[2017-11-28 14:40] hurricanehrndz commented on #120
@sobolevn

What do you want to distribute on? Git-test or gnupg2 or gnupg1?

[2017-11-28 15:10] sobolevn commented on #120
I want to distribute `git-secret` as `rpm`, `deb`, and possible `apk` packages. Yeap, you nailed it in the last commit.

[2017-11-28 15:12] hurricanehrndz commented on #120
With apk, it really should get submitted into the the Alpine repos, no
reason it shouldn't be. I will submit into the openSUSE repos.

On Nov 28, 2017 8:10 AM, "Nikita Sobolev" <notifications@github.com> wrote:

[2017-12-03 09:07] pschoffer commented on #102
Is this still pending? There is already bats library in the tests and it seems to have pretty similar capabilities. How exactly do you think it would simplify testing? Meaning what should be done here?:)

[2017-12-03 09:28] sobolevn commented on #102
Closed.

[2017-12-03 09:28] #102 closed

[2017-12-03 09:37] pschoffer opened #122 "Enhancement: Password manager ?"
I was thinking about enhancing the functionality to be able to encrypt passwords and return them, not the whole files.

So that you would do something like
[code]
This would create a temporary file, hide it and remove it. Reveal would print the password on stdout (and rm the temp file again). Overall adds something like git-pass functionality.

What do you think?

PS: I would be happy to try to im

[2017-12-03 16:25] nictrix commented on #122
Sounds similar to this project also: https://github.com/justwatchcom/gopass

I think the functionality you describe (rm temporary non-encrypted file) should be the default workflow and you explicitly ask to create a non-encrypted file.

[2017-12-03 17:42] pschoffer commented on #122
@nictrix  thanks, this looks like exactly what I was looking for!

[2017-12-13 01:20] nictrix commented on #120
@hurricanehrndz @sobolevn Is there anything I can assist with or is 0.2.3 ready to be released just have to push the packages out?

[2017-12-13 06:37] sobolevn commented on #120
It is ready, we just need to push the packages.

@nictrix you can really help if you would fix the current release process. It used to be automated.

[2017-12-18 13:00] yadavnikhil commented on #40
For me, all commands works with just adding below lines in src/_utils/_git_secret_tools.sh for Git Bash (MINGW - Msys) on Windows 10:

MINGW*)
      "$1_linux" "${@:2}"
    ;;

GPG version: gpg (GnuPG) 1.4.21
git version 2.13.0.windows.1
GNU bash, version 4.4.12(1)-release (x86_64-pc-msys)
"uname.exe -s": MINGW64_NT-10.0

Will it possible a add above small change atleast to support Git Bash? Shall

[2017-12-18 13:13] sobolevn commented on #40
@yadavnikhil could you please make a pull request for this feature?

[2017-12-18 14:50] yadavnikhil commented on #40
@sobolevn OK, I'll open for this small change, but again challenge is to have automated testing for it.

[2017-12-18 15:01] sobolevn commented on #40
Let's leave automated tests for now. It may be a next step.

[2017-12-21 15:06] ilovezfs commented on #98
@sobolevn is 0.2.3 actually released now? I can't tell because

https://github.com/sobolevn/git-secret/releases

lists an 0.2.3 tag but

https://github.com/sobolevn/git-secret/releases/latest

still says 0.2.2.

[2017-12-21 15:31] sobolevn commented on #98
@ilovezfs yeap, feel free to use it.

[2017-12-21 15:32] ilovezfs commented on #98
@sobolevn excellent. Do you mind designating it as an actual release on https://github.com/sobolevn/git-secret/releases? I'd prefer not to have a discrepancy between the tag and the latest release in Homebrew.

[2017-12-24 20:16] nozzlegear commented on #40
Just wanted to chime in and confirm that this is working for me out-of-the-box using WSL on Windows, which (I think?) is no longer in beta. I followed the installation instructions for the `deb` package and got it running immediately. 🎉

[2017-12-24 21:24] sobolevn commented on #40
@nozzlegear could you please share your setup? What's your OS version? How is it all bound together? (Sorry, I have seen Windows for almost 10 years)

[2017-12-24 22:45] nozzlegear commented on #40
Sure! I'm running Windows 10 Fall Creator's Update, which is build 16299, the latest one available at the time I'm writing this unless you're in the Windows beta program.

My dev environment uses a real unix bash (actually zsh) thanks to the "Windows Subsystem for Linux". WSL has had a couple different names while it was in beta, but it seems like everyone has settled on calling it WSL or Windows

[2017-12-25 07:18] sobolevn commented on #40
@nozzlegear thank you!

I am going to close this, since we now support:
1. `bash` for Windows (thanks to @yadavnikhil via #123, it is now in `master`)
2. WSL (by its design)

If anyone would find any issues - feel free to open a new issue.

[2017-12-25 07:18] #40 closed

[2017-12-28 09:07] ilovezfs opened #124 "sha256sum command is "shasum -a256" on macOS"
What are the steps to reproduce this issue?
-------------------------------------------
1. `brew pull https://github.com/Homebrew/homebrew-core/pull/22177`
2. `brew install -s git-secret`
3. `brew test -v git-secret`

What happens?
-------------
[code]

What were you expecting to happen?
----------------------------------
The test to pass.

Any other comments?
-------------------
macOS has `shasum

[2017-12-30 06:32] sobolevn commented on #124
@ilovezfs hm, that seems like a we have to create a new function based on `uname`.
We already have a way to customize this command, but I guess it is not a user-friendly way.
https://github.com/sobolevn/git-secret/blob/master/src/_utils/_git_secret_tools.sh#L18

So, can you please make a PR for this?

Here' what we should do:
1. Wrap `shasum -a256` into the function and add it into https://github.

[2018-01-03 21:25] nozzlegear commented on #104
Just want to leave a solution here for those looking, I was getting this every time I tried to init git secret on a Windows machine (with WSL). The error was caused by my .gitignore file being in the wrong file format. I fixed it by using the dos2unix tool (`apt install dos2unix`) on my .gitignore file: `dos2unix .gitignore`. After that `git secret init` works fine.

[2018-01-03 21:26] nozzlegear commented on #105
I left a solution for this in #104, but just in case people are reading this thread in the future: I was getting this every time I tried to init git secret on a Windows machine (with WSL). The error was caused by my .gitignore file being in the wrong file format. I fixed it by using the dos2unix tool (`apt install dos2unix`) on my .gitignore file: `dos2unix .gitignore`. After that `git secret init

[2018-01-04 15:15] aymens commented on #50
Happened to me! And I think I figured out the reason:
the file I was adding is one that's already tracked, clear, and I wanted to encrypt afterwards.

**git-secret** as it is written now, knows only handle **_untracked_** files.

![git-secret](https://user-images.githubusercontent.com/631791/34568340-c2bfc66c-f165-11e7-90ed-8306bdb9103d.PNG)

1st 3 lines are echo message I've added to the git-secr

[2018-01-04 15:43] sobolevn commented on #50
Hm, we should 100% improve this. Could you please create a new issue?
Thanks!

[2018-01-04 16:09] aymens commented on #50
Sure I'll do it today.
Thank you!

[2018-01-04 17:07] aymens opened #126 "git secret adding a tracked file fails with ambiguous message "file_name is not a file. abort""
What are the steps to reproduce this issue?
-------------------------------------------
1. `git secret add -i already_tracked_filename`

What happens?
-------------
File not added, operation aborted.

What were you expecting to happen?
----------------------------------
- Option 1: File to be added to the "to encrypt" files list.
Or
- Option 2: See a meaningful message telling that tracked files c

[2018-01-04 17:25] sobolevn commented on #126
@aymens could you please try it with the latest version?

[2018-01-04 17:39] aymens commented on #101
BTW git-crypt is buggy.

Happened to me to corrupt the repo by issuing a **git-crypt lock** then a **git-crypt init** on an already git-crypt inited repo..

[2018-01-04 17:40] aymens commented on #126
I've been using master. That should be latest no?

[2018-01-12 13:22] ctavan commented on #98
@sobolevn thanks a lot for the release! Would you mind publishing a 0.2.3 debian package as well?

[2018-01-13 13:39] ilovezfs commented on #124
@sobolevn https://github.com/sobolevn/git-secret/pull/127

[2018-01-13 16:24] #124 closed

[2018-01-28 14:25] lukaszraczylo commented on #126
Same here
[code]

[2018-02-14 14:52] sandorgazdag commented on #126
Hi,

Is there a development in this regard. I would love to use this tool but so far I have the same issue.

[2018-02-16 14:16] aymens commented on #126
@sandorgazdag this is on my todo list, I'll do it as soon as I can.

In the meantime you can simply do `git rm --cached the_already_tracked_filename` before doing the `git secret add` for each tracked file you wan to encrypt.

[2018-02-22 09:19] simplenotezy opened #131 "git secret reveal: gpg: Sorry, no terminal at all requested - can't get input"
What are the steps to reproduce this issue?
-------------------------------------------
1. Install git secret
2. Go to your project
3. Run `git secret reveal`

What happens?
-------------
Error:

    gpg: Sorry, no terminal at all requested - can't get input

What were you expecting to happen?
----------------------------------

Reveal my secrets!

What versions of software are you using?
--------

[2018-02-22 09:52] sobolevn commented on #131
Thanks for the report. Could you please update to `0.2.3`?

[2018-02-22 10:10] simplenotezy commented on #131
Thanks for prompt reply.

     [admin:~]$ brew upgrade git-secret
     Error: git-secret 0.2.3 already installed
     [admin:~]$ git-secret --version
     0.2.2
     [admin:~]$ brew install git-secret
     Warning: git-secret 0.2.3 is already installed
     [admin:~]$ git-secret --version
     0.2.2

🤔

[2018-02-22 10:12] simplenotezy opened #132 "404 http://git-secret.io/tutorials"
On http://git-secret.io/ - clicking Tutorials, give a 404

[2018-02-22 10:41] simplenotezy commented on #131
Also tried to reinstall.

	[admin:~]$ git-secret --version
	0.2.2
	[admin:~]$ brew uninstall git-secret
	Uninstalling /usr/local/Cellar/git-secret/0.2.3... (19 files, 56.3KB)
	[admin:~]$ git-secret --version
	zsh: command not found: git-secret
	[admin:~]$ brew install git-secret
	Updating Homebrew...
	==> Downloading https://homebrew.bintray.com/bottles/git-secret-0.2.3.high_sierra.bottle.tar.gz

[2018-02-22 12:29] simplenotezy commented on #131
Running `brew doctor` prints:

	Warning: You have unlinked kegs in your Cellar
	Leaving kegs unlinked can lead to build-trouble and cause brews that depend on
	those kegs to fail to run properly once built. Run `brew link` on these:
	  gnupg
	[admin:~]$ brew link gnupg
	Linking /usr/local/Cellar/gnupg/2.2.4...
	Error: Could not symlink bin/gpg-agent
	Target /usr/local/bin/gpg-agent
	already exists

[2018-02-22 12:34] simplenotezy commented on #131
So following: https://lists.gnupg.org/pipermail/gnupg-users/2003-May/018492.html solved the issue.

I wonder why the `--no-tty` is there, if it breaks thinngs, and I also wonder why I don't seem to be able to upgrade to 0.2.3

[2018-02-22 13:07] sobolevn commented on #132
Yeap, that's true.
But it is a duplicate of https://github.com/sobolevn/git-secret/issues/65

[2018-03-13 00:38] notjames commented on #14
at first glance, this appears to be a bug in `git rev-parse` but I'm still verifying. What I have so far is:

from outside the script, running `strace`, `git rev-parse` is supposed to recursively backward check the path until it finds a directory called `.git`. For some reason, within the script, it checks PWD and then when it finds no `.git` it hard fails. I'm not using symlinks (hard or soft) so

[2018-03-13 00:58] notjames commented on #14
I just noticed that this issue is closed and it *may* not be related, though I have a sneaky suspicion it might be if not mildly. Let me know if you want me to create a new issue to track this. Meh, I might just anyway.

[2018-03-13 04:56] hurricanehrndz commented on #126
@sobolevn

Feel free to include me on some of the todo list. If you want to create one I will be more than happy to help.

@aymens,
We would only remove a cached file, if it has been committed before right? Otherwise it would expose secrets potentially to the public.

[2018-03-13 06:52] sobolevn commented on #14
@notjames yes, please. open a new one.

[2018-03-13 06:53] sobolevn commented on #126
@hurricanehrndz done!

[2018-03-13 07:28] notjames commented on #14
@sobolevn will do.

[2018-03-13 07:31] notjames opened #134 "custom githook error: fatal: Not a git repository: '.git' or repository is broken. try running 'git init' or 'git clone'. abort."
at first glance, this appears to be a bug in `git rev-parse --is-inside-work-tree` used by `git-secret` in function `_is_inside_git_tree` but I'm still verifying. What I have so far is:

from outside the script, running `strace`, `git rev-parse` is supposed to recursively backward check the path until it finds a directory called `.git`. For some reason, within the script, it checks PWD and then wh

[2018-03-14 14:54] MichaelPeter-Shockoe opened #135 "some commands fail when the current directory's path includes spaces"
Some commands, specifically at least `git secret init` and `git secret reveal`, encounter errors when the current directory's path contains any spaces. I personally avoid using spaces in directory names, but I am attempting to set up git-secret with our CI server and must work around the existing structure there.

What are the steps to reproduce this issue?
----------------------------------------

[2018-03-14 15:39] sobolevn commented on #135
@MichaelPeter-Shockoe Thanks for the detailed report.

Are you interested in providing a fix?

[2018-03-14 17:31] MichaelPeter-Shockoe commented on #135
No problem. Unfortunately I don't have the bandwidth to commit time towards a fix right now though

[2018-03-16 21:05] gthank opened #136 "GnuPG2 2.2 vs 2.1 conflicts in keybox format"
What are the steps to reproduce this issue?
-------------------------------------------

1. Initialize `git-secret` on a machine using `gnupg2` version 2.2
2. Use `git-secret` (`tell`, `add`, `hide`, etc.) and publish the changes
3. Clone your `git` repo onto a machine using `gnupg2` version 2.1 (w/ the proper keys imported)
4. `git secret reveal`

What happens?
-------------

[code]

And no secre

[2018-03-16 21:35] sobolevn commented on #136
@gthank thanks for the report. Could you please try the same with the version from `master`?

[2018-03-20 15:21] gthank commented on #136
I get the same behavior from `master` (on both the machine creating the keyring and on the machine reading it). I did a sanity check by having the older version of GPG do a `--list-keys` on the newer keybox version, and it *does* pull out the info, it just spews the warnings about the skipped packets. However, the secrets are still not actually revealed.

[2018-03-22 12:26] doomsower opened #137 "brew's git-secret --version reports 0.2.2, not 0.2.3"
What are the steps to reproduce this issue?
-------------------------------------------
[code]

What happens?
-------------
Brew says that it installed v0.2.3, but `git-secret --version` reports 0.2.2
When built from source, correctly reports 0.2.3

What were you expecting to happen?
----------------------------------
`git-secret --version` to report 0.2.3

Any logs, error output, etc?
-----------

[2018-03-22 16:25] jgeorgeson opened #138 "Feature request: Support automatic clean/smudge filters for automatic usage via gitattributes"
This is a really neat idea!

Reading over the usage it seems like a natural fit to have the hide/reveal scripts called automatically by clean/smudge during checkout and push, based on gitattributes. The LFS utility does this and I think that seamless automatic execution during checkout and push really helped it's adoption.

[2018-03-22 17:30] sobolevn commented on #138
Nice! Would you like to contribute?

[2018-03-22 23:19] jgeorgeson commented on #138
I'm not opposed to it but it's not something I could take on in the immediate future.

[2018-03-27 20:01] notjames opened #139 "Darwin usage differs greatly from Linux -- darwin has only one .gitsecret in repo, Linux requires .gitsecret in every directory where secrets used"
What are the steps to reproduce this issue?
-------------------------------------------
Linux:
[code]
\# "g" is aliased to "git"
1. `$ g init fake-repo && cd fake-repo`
2. `$ mkdir -p {foo,bar,baz}/{1,2,3}`
3. `$ cd foo/1 && echo "test foo" > fake-credentials.txt`
4. `$ cd ../../bar/2 && echo "test bar" > bar-creds.txt`
5. `$ cd ../../baz/3 && echo "last-test" > baz.txt`
6. `$ g secret init && g s

[2018-03-27 20:41] sobolevn commented on #139
@notjames thanks for the detailed report. Do you have an opportunity to test it with the latest version (`0.2.3`)?

[2018-03-27 23:06] notjames commented on #139
@sobolevn I do. Is that in releases? I'll check and report back.

[2018-03-27 23:13] notjames commented on #139
@sobolevn OK. So, I just did the following:

[code]

I got the following output:
[code]

So that's a problem it seems.
On line 91, you're using 'gawk', which is a Darwin thing. In linux, just use `awk`. Also, the version in line 4 has not been updated. I'm assuming this is the correct latest version.

[2018-03-27 23:37] notjames commented on #139
So it looks like you use gawk primarily in two different scripts: git_secret_hide.sh and _git_secret_tools.sh. I've forked this project. Let me roll through some ideas here and see if I can't give you a PR.

[2018-03-27 23:38] notjames commented on #139
btw, imho, the version should be tightly coupled with something like a git tag or something vs relying on manually updating it for every release. I am not familiar with the CI you use in this project, so I'm just leaving the version issue alone.

[2018-03-28 00:17] notjames commented on #139
@sobolevn ok! Besides the version thing, installing `gawk` and version 0.2.3 makes the Linux side of things happy, which makes me happy.

[2018-03-28 00:17] #139 closed

[2018-04-13 18:51] joshrabinowitz opened #141 "Feature request: decrypt single file to stdout; 'git secret cat filename.txt' ?"
I'd like to be able to decrypt the contents of a single file without decrypting the file(s) in place.

I'm imagining a 'git secret cat' command something like (assuming git secret is already set up):

   % git secret add config.init
   % git secret hide
   % git secret cat config.ini
   ( output of config.ini displays here)

This would be useful to fetch keys from inside programs without decryptin

[2018-04-13 20:28] sobolevn commented on #141
@joshrabinowitz that's a good one.
Currently I don't have much to spend on this project, so I encourage people to contribute!

Do you want to send a PR with this feature?

[2018-04-13 23:00] joshrabinowitz commented on #141
hm, I could give it a shot.
Could you provide tips on how it should work?

[2018-04-14 20:57] joshrabinowitz commented on #98
Looks like the 0.2.3 release happened, along with the debian package:

https://packages.debian.org/sid/git-secret

Should this get close?

[2018-04-14 20:58] joshrabinowitz commented on #137
I think this issue is fixed, note mention of 0.2.3 below:

% brew info git-secret
git-secret: stable 0.2.3 (bottled), HEAD
Bash-tool to store the private data inside a git repo
https://sobolevn.github.io/git-secret/
Not installed
From: https://github.com/Homebrew/homebrew-core/blob/master/Formula/git-secret.rb
==> Dependencies
Required: gawk ✔
Recommended: gnupg ✔
==> Options
--without-gnupg
	Buil

[2018-04-15 08:45] sobolevn commented on #137
@joshrabinowitz is right. Closing.

[2018-04-15 08:46] sobolevn commented on #98
Related #137
Released a long time ago.

[2018-04-15 08:46] #98 closed

[2018-04-15 08:49] sobolevn commented on #141
Closed via #142

[2018-04-15 08:49] #141 closed

[2018-04-15 11:38] joshrabinowitz opened #143 "release v0.2.4"
v0.2.4 has been merged but needs to be released. What needs to happen for the release?

Happy to help

[2018-04-15 11:44] sobolevn commented on #143
I guess we should fix CI before releasing the new version.
Right now it uses so many tools! `Docker`, `ansible`, `kitchen`, so it is almost impossible to maintain them together.

I think dropping everything right now is the only way to go.
So, we need to specify envs and `gnupg` versions we want to test.

I think, that we can test only two envs for now: `fedora` and `debian`.
And two `gnupg` versi

[2018-04-15 12:22] joshrabinowitz opened #144 "improve documentation about .gitsecret directory contents"
As of 0.2.4, the docs talk about the `.gitsecret` directory:

(See the end of:
https://github.com/sobolevn/git-secret/blob/master/man/man7/git-secret.7.ronn )

Can someone describe the contents of each file in a .gitsecret directory so I can write them up them in the docs?

Here's what I'm seeing in a .gitsecret directory, with a description of one file:

[code]

[2018-04-15 12:24] #131 closed

[2018-04-15 12:25] #122 closed

[2018-04-15 12:31] joshrabinowitz commented on #132
assigning to self, at least to fix the 404.
It looks like that html isn't in this repo. Can someone point me to where I should go to fix it?

[2018-04-15 12:32] sobolevn commented on #132
@joshrabinowitz you can create new `.md` file here: https://github.com/sobolevn/git-secret/tree/gh-pages

Just mention that tutorials are `WIP`.
Thanks!

[2018-04-15 12:42] joshrabinowitz commented on #132
Will do. Looking at https://github.com/sobolevn/git-secret/blob/master/CONTRIBUTING.md , it appears I should be starting my branch from 'develop' instead of from 'master'. My last merged branch was branched from master.

Should I continue on the master branch, or merge master into develop and create a branch off 'develop'?

[2018-04-15 12:51] sobolevn commented on #132
We can drop `develop` branch.
It was used previously to make sure `zsh` plugins work with the stable releases only.
But we do not support them any more.

But, when working with `gh-pages` make sure that this branch is orphaned. It is not related with any other branch.

[2018-04-15 13:51] joshrabinowitz commented on #126
is this completed? Shall we close?

[2018-04-15 13:51] joshrabinowitz commented on #110
is this complete?

[2018-04-15 13:53] joshrabinowitz commented on #43
I think this is outside the scope of what git-secret should do and that decrypted file contents 'should' be considered binary blobs.

Thoughts? If maintainers agree let's close.

[2018-04-15 13:58] joshrabinowitz commented on #137
Actually this bug is still correct. While `brew` reports that `0.2.3` is installed, the installed version self-reports `0.2.2`

[2018-04-15 14:02] joshrabinowitz commented on #137
% brew install git-secret
==> Downloading https://homebrew.bintray.com/bottles/git-secret-0.2.3.high_sierr
==> Pouring git-secret-0.2.3.high_sierra.bottle.tar.gz
🍺  /usr/local/Cellar/git-secret/0.2.3: 19 files, 56.3KB

% /usr/local/bin/git-secret --version
0.2.2

% grep VERSION /usr/local/bin/git-secret | head -1
GITSECRET_VERSION='0.2.2'

[2018-04-15 14:12] joshrabinowitz opened #146 "no_such_file test in test_cat.bats causes stall on OSX"
What are the steps to reproduce this issue?
-------------------------------------------
* checkout current master and run 'make clean build test' on OSX

What happens?
-------------
* On OSX, may stall waiting for password at:

[code]

[2018-04-15 15:02] joshrabinowitz commented on #146
See https://github.com/sobolevn/git-secret/pull/147/files

[2018-04-15 19:28] sobolevn commented on #137
That's strange. We should submit another build to the `homebrew`.

[2018-04-15 20:51] joshrabinowitz commented on #144
There are basic descriptions here:

    https://www.gnupg.org/documentation/manuals/gnupg/GPG-Configuration.html

There's special mention about random_seed specifically being in .gitignore, and in git-secret.7.ronn it says that .gitsecret folder 'should not be ignored'.

Should all files except random_seed be checked in? Let's give clear guidance.

[2018-04-15 21:17] sobolevn commented on #144
Yeap, all files except `random_seed` should be checked in.

[2018-04-16 20:55] joshrabinowitz commented on #146
can no longer reproduce in master branch

[2018-04-16 20:55] #146 closed

[2018-04-16 22:59] notjames commented on #137
It's not just home brew. This happens on Linux builds too.

[code]

But I installed 0.2.3 a little over a week ago.

[2018-04-16 22:59] notjames commented on #143
Did you fix the VERSION bug? Just curious.

[2018-04-17 01:00] joshrabinowitz commented on #143
I fixed it moving forward, but not retroactively for 0.2.3.

[2018-04-17 01:21] joshrabinowitz opened #150 "Feature request: Better error messages for directories without .gitsecret"
Currently if you run a git-secret command in an arbitrary directory, you get the error:

    % git secret list
    '/home/joshr/gitsrc/git-secret/.gitsecret' is ignored. abort.

It would be more user friendly to tell the user a nicer message.

[2018-04-17 03:02] joshrabinowitz commented on #150
See #151

[2018-04-17 03:13] joshrabinowitz opened #152 "Fix CI builds: lint errors, SSL certificate validation errors,"
Errors included

* Python 'InsecurePlatformWarning' / ' SNIMissingWarning' errors:
   https://travis-ci.org/sobolevn/git-secret/jobs/367208318

* "Failed to validate the SSL certificate for api.github.com:443."
   https://travis-ci.org/sobolevn/git-secret/jobs/367273796

* bash linter errors about 'which'

[2018-04-17 03:13] joshrabinowitz commented on #152
Fixed in https://github.com/sobolevn/git-secret/pull/148

[2018-04-17 03:13] #152 closed

[2018-04-17 07:53] sobolevn commented on #152
🎉

[2018-04-17 13:39] joshrabinowitz opened #153 "'git secret changes' does not work unless passed secret filenames"
Contrary to the docs, `git secret changes` does not work unless you pass it filenames of *.secret files.

In all cases with a git-secret repo, if you type

    `git secret changes`

You get no errors, but output like:

[code]

For the command to work it must be passed the secret filenames (config.ini.secret).

[2018-04-17 13:43] joshrabinowitz opened #154 "'git secret hide' without source files presents errors but reports success"
* Steps to replicate:

Set up a git-secret repo set up with a hidden `config.ini` (encrypted with `git secret add config.ini` and `git secret hide -d config.ini`)

[code]
and you type `git secret hide` (no filenames)

* Actual results: You get the output:
[code]

And the file is _not_ re-encrypted.

* Expected results:

A better error message (i.e. 'abort: source file not found: /full/path/config.

[2018-04-17 13:44] sobolevn commented on #153
That's a bug. It should not be this way.

`git secret changes` should by default output all changes.
And when some filenames are given - only limit this changes by these filenames.

[2018-04-17 13:47] sobolevn commented on #154
Sorry, I am missing one thing in your description: is this file `add`ed to our keychain?
Or it is just a random file with the `.secret` extension?

[2018-04-17 13:56] joshrabinowitz commented on #154
Assuming the file has been `add`ed to the keychain, and the source removed via `git secret hide -r`

[2018-04-17 13:56] #79 closed

[2018-04-17 13:56] #51 closed

[2018-04-17 13:57] sobolevn commented on #55
Sorry, this feature will never be implemented.

[2018-04-17 13:57] #55 closed

[2018-04-17 13:57] #53 closed

[2018-04-17 13:57] #87 closed

[2018-04-17 13:58] #101 closed

[2018-04-17 13:59] sobolevn commented on #135
@joshrabinowitz Could you please verify that this is still an issue?

[2018-04-17 13:59] #97 closed

[2018-04-17 14:00] sobolevn commented on #138
That's is very close to https://github.com/sobolevn/git-secret/issues/84 Which is on our roadmap.

Closing this one.

[2018-04-17 14:00] #138 closed

[2018-04-17 14:01] sobolevn commented on #134
@joshrabinowitz Could you please verify that this is still an issue?

[2018-04-17 14:03] sobolevn commented on #154
So, that a bug. 😞

[2018-04-17 15:32] joshrabinowitz commented on #134
@sobolevn @notjames Can you confirm this is the issue?

Given:

* a git-secret repo set up (say in /full/path/.gitsecret, with git information in /full/path.git), and you are
*  in a subdirectory /full/path/subdir, and
* use the shown commit hook

Expected result:
* git hook works as expected

Observed result
 *it gives an error instead of finding the .git and .gitsecret directories in the parent

[2018-04-17 15:43] joshrabinowitz commented on #150
This now reports:

if in a git repo without .gitsecret:

    git-secret: abort: directory '.gitsecret' does not exist. Use 'git secret init' to initialize git-secret

If in a non-git-repo directory:

    git-secret: abort: not in dir with git repo. Use 'git init' or 'git clone', then in repo use 'git secret init'

[2018-04-17 15:43] #150 closed

[2018-04-17 15:44] joshrabinowitz commented on #144
The docs have been clarified on this topic

[2018-04-17 15:44] #144 closed

[2018-04-17 15:48] joshrabinowitz commented on #126
I cannot reproduce, recommend closing:

Starting in a set up git-secret repo:

[code]

[2018-04-17 15:51] joshrabinowitz commented on #120
@nictrix @sobolevn @hurricanehrndz

can someone look at the current CI outputs and detail what is left to fix?

[2018-04-17 16:00] joshrabinowitz commented on #143
See also: #120

[2018-04-17 17:03] joshrabinowitz commented on #126
oh, I see, this is still an issue:
(in a git repo with git-secret set up)

[code]

[2018-04-17 17:42] sobolevn commented on #126
@joshrabinowitz I think that option 2 provided by @aymens is good enough:

[2018-04-18 13:25] #126 closed

[2018-04-18 13:55] joshrabinowitz opened #157 "Fix pip warnings related to incompatible pbr 5.1.1"
We are seeing these warnings (not errors) in the CI build logs (all platforms). For example see
https://travis-ci.org/sobolevn/git-secret/jobs/368148728

[code]

[2018-04-18 13:57] joshrabinowitz commented on #157
See same error in another project here:
https://wiki.onap.org/questions/28380651/answers/28381404/comments/28381510

[2018-04-18 14:01] joshrabinowitz commented on #137
I think the problem is that the 0.2.3 release didn't have the version bumped in src/version.sh , so all installs of the official '0.2.3' release have the wrong version in src/version.sh

Seems like we're moving towards a 0.2.4 release and this is a /wontfix/.

Anyone have pushback on this decision?

[2018-04-18 14:03] joshrabinowitz commented on #120
Related: I see this error at the end of
https://travis-ci.org/sobolevn/git-secret/jobs/368148728
    Skipping a deployment with the bintray provider because a custom condition was not met

[2018-04-18 15:17] sobolevn commented on #120
@joshrabinowitz yeap, you got it!

[2018-04-18 15:17] #137 closed

[2018-04-18 17:56] #154 closed

[2018-04-18 23:04] joshrabinowitz commented on #135
@sobolevn it is still an issue.

I see these issues so far:

* when we use gawk, spaces in the full path are confusing the shell, for example here:
    https://github.com/sobolevn/git-secret/blob/master/src/commands/git_secret_init.sh#L39

* There are also problems when invoking gpg as @MichaelPeter-Shockoe mentioned.

[2018-04-18 23:36] joshrabinowitz commented on #135
And here's the first error you'll encounter if you try to create a git-secret repo using a directory with spaces

[code]

[2018-04-19 11:37] joshrabinowitz commented on #135
Can anyone provide tips fixing these issues? Not a bash master here (yet)

[2018-04-19 13:48] joshrabinowitz commented on #135
Yeah, I've tried all sorts of quoting changes so far, I could use some specific guidance

[2018-04-20 12:52] joshrabinowitz commented on #120
Deploy is still not working but we get different errors now:
 - on all builds marked GITSECRET_DIST="deb" or GITSECRET_DIST="rpm"

[code]

[2018-04-20 13:02] joshrabinowitz commented on #120
@sobolevn guidance welcome

[2018-04-20 14:42] sobolevn commented on #120
I can see that deploy had been ignored before #161 was merged.

Link: https://travis-ci.org/sobolevn/git-secret/jobs/368148723

But now we face another issue: deploy script can not find `build/deb_descriptor.json`. This file is used to specify metadata for deploy. https://travis-ci.org/sobolevn/git-secret/jobs/368494269#L2439

It should be generated during `before_deploy` script. By `.ci/before_de

[2018-04-21 13:26] joshrabinowitz opened #163 ".ci/before_script.sh: virtualenv SNIMissingWarning and InsecurePlatformWarning"
the script `".ci/before_script.sh"` shows the following warning:

[code]

[2018-04-21 15:25] #153 closed

[2018-04-21 16:43] joshrabinowitz commented on #132
@sobolevn @simplenotezy I took a crack at making a guide but it wasn't easy to improve on the instructions at
https://github.com/sobolevn/git-secret/blob/master/man/man7/git-secret.7.ronn

I propose we remove the link for "Tutorials" at the top of http://git-secret.io/git-secret
and make the link to git-secret.7.ronn more prominent.

Thoughts?

[2018-04-21 16:47] sobolevn commented on #132
@joshrabinowitz yeap, let's do that!

[2018-04-21 17:17] joshrabinowitz commented on #136
@gthank I'd like to try to replicate this. What OS/distribution uses gpg 2.1?

[2018-04-22 11:36] joshrabinowitz commented on #136
I'm starting to think that incompatibilities between different versions of gpg are outside the scope of what git-secret should handle.

I think we should just document the possibility of problems interoperating between GPG versions and close this (unless it's specifically related to git-secret)

Thoughts @gthank @sobolevn ?

[2018-04-22 11:51] joshrabinowitz commented on #134
Is this a git-secret issue?

Bug is described as 'this appears to be a bug in git rev-parse --is-inside-work-tree'.

Is there something git-secret should do differently to fix this problem?

@sobolevn @notjames

[2018-04-22 11:55] joshrabinowitz commented on #132
All right!

The `git-secret.7.fann` documentation is already included in the homepage for `git-secret`.io so no changes were needed except removal of `/tutorials.html link`.

[2018-04-22 11:57] joshrabinowitz opened #165 "republish http://git-secret.io/"

[2018-04-22 12:27] joshrabinowitz commented on #131
Note: comments above also mention issue #137

[2018-04-22 13:01] #165 closed

[2018-04-23 06:01] notjames commented on #134
@sobolevn @joshrabinowitz We scrapped the commit hook in lieu of doing the work manually. We're considering re-using the commit hook to use `git secret hide -m` by default.

I will try and take a little time in the next day or two and see if there's a work around.

[2018-04-23 12:54] #132 closed

[2018-04-23 13:15] joshrabinowitz opened #168 "http://git-secret.io/ should have link to 'git-secret-cat' and git-secret tutorial video"
git-secret.io should have a link to the
`git-secret-cat docs` and to
https://asciinema.org/a/41811?autoplay=1

[2018-04-23 13:28] sobolevn commented on #168
Indeed! Thanks for the suggestion!

[2018-04-23 13:43] joshrabinowitz commented on #168
Can we stop adding extra tasks to the 0.2.4 milestone and assigning them to me?

[2018-04-23 15:01] sobolevn commented on #168
Sorry!

[2018-04-23 15:02] joshrabinowitz commented on #168
no problem... thank you!

[2018-04-23 16:41] gthank commented on #136
@joshrabinowitz That link is basically exactly what's going on.

Ubuntu 16.04 uses the 2.1 line of code (probably with some backports, given their Debian heritage), which is also how it's a problem on Windows: the WLS thing on Windows uses Ubuntu 16.04.

As for whether to even address this from `git-secret`: they're just warnings, so the underlying tool *does* work with different versions. I think

[2018-04-23 22:51] notjames opened #169 "set -e causes silent death in _user_required() when gpg has non-fatal error"
I use two different systems for this repo. One on Darwin; the other in Linux. This problem is happening on my Linux side, though admittedly, I have had to switch to using the Darwin side because sadly, the original git-secret worked on Mac and not Linux. Now I'm trying to transition to using my Linux repo as I prefer to stay as far away from Mac as possible.

What are the steps to reproduce this i

[2018-04-24 06:07] joshrabinowitz commented on #169
This is similar to #136. Is it possible the 'keybox' was created by a different version of gpg?
https://lists.gnupg.org/pipermail/gnupg-devel/2017-May/032846.html

[2018-04-24 06:46] notjames commented on #169
They are indeed different. Nevertheless, `git-secret` should be able to throw a meaningful error or something to give a hint to the problem. What happens instead is a silent abort.

[2018-04-24 11:50] joshrabinowitz commented on #169
@notjames I don't think two versions of GPG are mentioned in your bug report above, so the bug report might be a little misleading.

Not wanting a silent abort is reasonable, though.

[2018-04-24 12:25] joshrabinowitz commented on #136
@gthank I don't think the issue is the unexpected 'gpg: skipped packet of type 12 in keybox' warnings, but rather that gpg returns a non-0 exit code when it returns, which signals error.

[2018-04-24 12:44] joshrabinowitz commented on #136
This issue is described in reasonable detail here: https://github.com/keybase/client/issues/6923

[2018-04-24 13:05] joshrabinowitz commented on #136
#170 gives a more detailed error message if `gpg -n --list-keys` returns a non-zero exit code.

I'm not sure what is the ideal behavior in this case. Here are some possibilities:

1) Leave this PR as it is - if we see an exit code from `gpg -n --list-keys`, show an error and exit.

2) ignore exit codes from gpg -n --list-keys as long as it appeared to work

3) Something else

What's the ideal solu

[2018-04-24 13:25] gthank commented on #136
@joshrabinowitz @sobolevn @notjames From my perspective, there's not an ideal solution to this from the `git-secret` side of things: upstream broke something they shouldn't have. The least bad solution, imo, is to ignore the most specific error code you can ignore so long as the command seems to have worked, and then maybe issue a warning on `STDERR`. It's never fun to have workarounds in your cod

[2018-04-24 13:56] joshrabinowitz commented on #136
@gthank @sobolevn

So, is this the desired logic:
* capture the stderr and stdout of the `gpg -n --list-keys` command,
* if captured output consists just of lines like 'gpg: skipped packet of type 12 in keybox'
*  then output warning about the issue (without exiting)
* check that it looks like we got a list of keys as expected
* issue error and exit if we did not

[2018-04-24 13:59] gthank commented on #136
@joshrabinowitz @sobolevn I like that idea. Depending on whether `gpg -n --list-keys` returns a unique error code for this specific case, it may be possible to just check for that instead of parsing `stdout`/`stderr` (since parsing that kind of thing is always a hassle), but I have a suspicion it will need to be the `stdout`/`stderr` approach.

[2018-04-24 17:08] notjames commented on #169
@joshrabinowitz that's fair. To be honest, I just didn't think about it. I work between Darwin and my Linux VM. My VM is the machine I work on the most (I hate Darwin). Since we started using `git-secret` in 0.2.2, which didn't work properly in Linux (I opened a bug report about that weeks back), which caused me to move this particular repo to Mac, which uses a different version of gpg. Frankly, I

[2018-04-24 19:26] joshrabinowitz commented on #136
@gthank To follow up -- it does not return a unique exit code. I looked in the source, and as https://unix.stackexchange.com/questions/50541/what-does-gpg-error-code-2gpg-err-unknown-packet-mean explains,
[code]

[2018-04-24 22:10] joshrabinowitz commented on #136
Thanks for your detailed responses.

For the record, I just successfully tested git-secret inter-operation between
 * ubuntu 14 / gpg2 2.1.11,
 * OSX / gpg 2.2.6, and
 * centos7 / gpg 2.0.22.

I didn't do exhaustive testing, but I was unable to trigger any problems after several 'tell', 'killperson', 'reveal' and 'hide' operations between the machines (with git commits/pushes/pulls as appropriate)

[2018-04-24 22:40] joshrabinowitz commented on #169
@notjames see my latest comment on issue 136 - https://github.com/sobolevn/git-secret/issues/136#issuecomment-384096244

[2018-04-25 10:48] gthank commented on #136
@joshrabinowitz Can you walk me through how you did this? If you did the `git secret init` and `git secret tell` steps on the centos box (and possibly even the ubuntu box?) I'd expect the `git secret reveal` step to work on any of them. I can't seem to get rid of the type 12 packets if I do the initialization on the mac. I can try to test what happens if I initialize on Ubuntu 16.04 and then `git

[2018-04-25 11:28] joshrabinowitz commented on #136
@gthank when you say you're using 'gpg straight out of apt', you mean the apt included in windows10 WLS? If so, can the ubuntu subsytem be upgraded?

Also have you tried using gpg2  2.2.6 from OSX's 'brew'? That's what I tested with on the Mac.

Please let us know if you discover anything about the exact order  of init/tell/hide/reveal on the different systems/gpg versions to either trigger or avo

[2018-04-26 14:15] joshrabinowitz opened #171 "request: history / motivation behind git-secret for docs?"
@sobolevn

Talking about git-secret with some friends we found ourselves wondering about it's back-story.

Can you tell us a little about the history behind git-secret and what motivated you to write it the way you did?

I'm particularly interested in the decision to integrate it with git, but any other insight you can give into the hows and particularly whys of git-secret's inception would be wel

[2018-04-26 17:38] gthank opened #172 "Apply Unix permissions from `.secret` file to revealed file"
I noticed today that revealed files don't get the execute bit from the `.secret` version. I can work around this during my deploys by remembering to set the permissions explicitly, but it would be nice if `git-secret` automatically chmodded the revealed file to have the same perms as the encrypted original.

EDIT: On *nix machines, it should be essentially a one-liner:

[code]

after the [`_decryp

[2018-04-27 05:39] sobolevn commented on #172
@gthank nice one! do you want to elaborate on this?

[2018-04-27 12:09] joshrabinowitz commented on #172
Maybe this would make sense to be activated with a `-p` option, like `tar` and `cp` have.

[2018-04-27 13:05] gthank commented on #172
@sobolevn My use-case is that I am hiding a shell script that has some credentials in it. As it currently stands, I have to go back and chmod that plaintext file after I reveal it. I think it would be more convenient if `git-secret` did that for me. After all, `git` is already tracking the mode on the `.secret` file, so `git-secret` "knows" (or more realistically, can find out via the `stat` comma

[2018-04-27 13:30] joshrabinowitz commented on #169
I believe the latest git-secret will no longer cause a silent abort in this scenario (instead, it will give an error message).

#136 is still open and this issue is specifically about the 'silend abort'.
How about we close this issue?

[2018-04-27 13:50] gthank commented on #172
@joshrabinowitz I'd prefer if it were the default behavior, but having the option at all is a win.

[2018-04-28 13:46] alichtman opened #173 "Incorrect Graphic in README"
https://github.com/sobolevn/git-secret#contributors says "Become a Backer" when it should say "Become a Contributor"

[2018-05-02 12:54] #169 closed

[2018-05-02 20:37] sobolevn commented on #173
It should not be this way. @alichtman thanks for mentioning that.

@joshrabinowitz I think that it is OpenCollective's bug. Because all we have in our readme is `<a href="graphs/contributors"><img src="https://opencollective.com/git-secret/contributors.svg?width=890" /></a>`. Or maybe I misconfigured something in the admin panel...

BTW, we got our first backer!

[2018-05-08 19:27] CalebSchwartz opened #174 "git secret reveal not working or providing ouput"
What are the steps to reproduce this issue?
-------------------------------------------
1. Clone git repo onto server
2. navigate to repo on server and run 'git secret reveal'

What happens?
-------------
Nothing happens. There isn't any output and I cannot find a way to output some sort of debug steps .

What were you expecting to happen?
----------------------------------
I was expecting git sec

[2018-05-08 20:03] joshrabinowitz commented on #174
Hello @CalebSchwartz

Would it be possible to re-test your issue with the current master branch? There's been a decent amount of code changes related to error checking and error messages in the last month or so.

Also, if you run
[code]

it will show all the steps bash takes.

[2018-05-08 20:16] CalebSchwartz commented on #174
`bash -x git-secret reveal
+ GITSECRET_VERSION=0.2.2
+ WORKING_DIRECTORY=/file/path/to
+ SECRETS_DIR=.gitsecret
+ SECRETS_DIR_KEYS=.gitsecret/keys
+ SECRETS_DIR_PATHS=.gitsecret/paths
+ SECRETS_DIR_KEYS_MAPPING=.gitsecret/keys/mapping.cfg
+ SECRETS_DIR_KEYS_TRUSTDB=.gitsecret/keys/trustdb.gpg
+ SECRETS_DIR_PATHS_MAPPING=.gitsecret/paths/mapping.cfg
+ : .secret
+ : gpg
+ GPGLOCAL='gpg --homedir=.gi

[2018-05-08 22:10] CalebSchwartz commented on #174
@joshrabinowitz Whatever changes are in master seemed to work. I was able to successfully reveal my file. Thanks for the suggestion!

[2018-05-09 11:29] #174 closed

[2018-05-09 12:53] joshrabinowitz commented on #136
@sobolevn what do you think we should do about this?

[2018-05-09 13:03] sobolevn commented on #136
@joshrabinowitz I think we should not fix this issue from our side.

This comment says that reimporting works: https://github.com/keybase/client/issues/6923#issuecomment-321545035
So, a fix in the documentation should be fine, I guess.

Maybe we can even write some helper script to `import`/`export` these keys properly?

[2018-05-10 13:45] joshrabinowitz commented on #136
Also, in my testing, I _was_ able to replicate the `gpg: skipped packet of type 12 in keybox` error.

[2018-05-10 16:52] joshrabinowitz commented on #136
@gthank I just ran through the export/import process:

* backup your gpg configs (cp -rp ~/.gnupg ~/.gnupg-bak)

* export the config (gnupg --export EXPORT.gpg)

* re-import the config on that system (gnupg --import EXPORT.gpg)

If that doesn't might be necessary to do the export on one system (probably the one where everything works), copy the file to the other system, and do the import there.

[2018-05-10 19:03] sobolevn opened #176 "`git secret tell me` does import all keys in the keychain"
What are the steps to reproduce this issue?
-------------------------------------------
0. Add some keys to your main `gpg` key chain
1. Create clean repo: `git init` + `git secret init`
2. Run `git secret tell me`

What happens?
-------------

[code]

What were you expecting to happen?
----------------------------------

There should be an error, that this key does not exist.

What versions of so

[2018-05-10 19:04] sobolevn opened #177 "git version is included twice in an issue template"

[2018-05-10 19:05] #177 closed

[2018-05-10 19:15] joshrabinowitz commented on #176
Shoot, this seems like an issue related to gpg 2.2.3

In 2.2.6 with dff1a I get:

[code]

[2018-05-10 19:17] joshrabinowitz commented on #176
Assuming you're using gpg from brew, can you try upgrading to gpg 2.2.6?

[2018-05-13 15:36] joshrabinowitz commented on #135
https://gist.github.com/joshrabinowitz/df397ef108c3b16bd2ba331fea78e54a

[2018-05-14 23:26] joshrabinowitz opened #179 "travis-ci can't find man pages during tests on ubuntu-rolling and ubuntu-latest"
See
https://travis-ci.org/sobolevn/git-secret/jobs/378803909
and
https://travis-ci.org/sobolevn/git-secret/jobs/378803908

[code]

[2018-05-18 08:13] nikolaia commented on #14
I had this problem due to CLRF line endings, changing my `.gitignore`-file to have LF line endings made git-secret work as intended. CLRF line endings might be the case for many people working on a repo living on the Windows file system using _Bash for Windows_ or the WSL subsystem.

[2018-05-23 15:57] rjcoelho opened #182 "Git secret 0.2.1 reveal fails on a git secret hide 0.2.3"
If I add a new git secret file on 0.2.3, the git secret reveal fails because of the mapping, which apparently now includes

Did we change the format on 0.2.3 ? https://github.com/sobolevn/git-secret/commit/638b67e155e9f9fe436b40dd570fc872463b8d13#diff-b02a252754749c1e9180b731b39e9e3b

Can you confirm this ? and if do we have some breaking change notes ?

[2018-05-23 17:14] rjcoelho commented on #182
Unfortunately brew install git-secret@0.2.1 doesn't work. Do you know any wait to install an old version ? Thanks

[2018-05-23 17:21] sobolevn commented on #182
You can install it from here: https://github.com/sobolevn/git-secret/releases

Or you can fix your existing installation:
1. Backup your `.gitsecret/paths/mapping.cfg`
2. Empty the original file
3. Add all files to `gitsecret` once again

It should be fine afterwards. We have updated how path mappings work by adding hash.
This hash is used to determine which files we actually updated. And `gitsecr

[2018-05-23 17:21] #182 closed

[2018-05-24 09:33] rjcoelho commented on #182
Your solution doesnt work for me .. i need to git secret reveal on 0.2.1 hidden from the latest

[2018-05-25 21:32] rjcoelho commented on #182
Or honor old mapping file format if one already exists

I cannot ungrade .. it’s a Jenkins build host used to build other projects

[2018-05-29 01:14] jcrben commented on #136
Has anyone reported this upstream?

[2018-05-29 06:00] sobolevn commented on #136
@jcrben thanks for `gpgme`.
That's a totally a thing to try.

[2018-06-03 11:13] Gitcat711 commented on #100
So I have experience in some  -
Bash
git
Will I be able to help?

[2018-06-03 21:12] joshrabinowitz commented on #100
Hello @Gitcat711 ! The most pressing issues are
#120, regarding the deploy process, and
#135 , regarding spaces in pathnames

There are pretty extensive notes on each issue. Your input is welcome and appreciated! Feel free to ask any follow-up questions in the issues themselve.

[2018-06-05 10:34] joshrabinowitz commented on #100
@Gitcat711 also let me know if you need help getting your dev environment set up, or if you want to take on an easier issue than the ones above.

[2018-06-06 00:28] rakaw opened #183 "'git secret init' doesn't work on secondary internal drives (mac)"
What are the steps to reproduce this issue?
-------------------------------------------
1. cd /Volumes/SSHD/SSD\ Files/Documents/Documents\ myFolder/Code\ -\ Git/project
2. git secret init

What happens?
-------------
'/Volumes/SSHD/SSD Files/Documents/Documents myFolder/Code - Git/project/.gitsecret/' created.
gawk: cmd. line:3: fatal: cannot open file `/Volumes/SSHD/SSD' for reading (No such fil

[2018-06-06 00:36] rakaw commented on #183
Looks like it was just a problem with spaces in directory names

[2018-06-06 07:46] sobolevn commented on #183
Yeap, closing as duplicate of #135

[2018-06-06 07:46] #183 closed

[2018-06-06 16:48] simbo1905 commented on #143
Our team has spent a few hours with two macos and two ubuntu users working out compatibility issues. The macos version installed by homebrew says it's v0.2.2 when it is v0.2.3 and inserts colons that the ubuntu release does not recognize. We almost gave up. Releasing v0.2.4 would hopefully fix git secret for heterogeneous teams. Any chance of that happening soon? We can help test.

[2018-06-06 18:10] joshrabinowitz commented on #143
@simbo1905 thanks for your note.
The big blocker on getting 0.2.4 out are the issues in #120 .
We could use some help in getting a new release out.

[2018-06-07 15:57] simbo1905 commented on #120
I have setup a pull requestion to fix this which is https://github.com/sobolevn/git-secret/pull/184

[2018-06-07 19:29] joshrabinowitz commented on #100
It looks like https://github.com/sobolevn/git-secret/pull/184 fixes #120
It would be great if someone would fix https://github.com/sobolevn/git-secret/issues/179

[2018-06-08 11:37] joshrabinowitz commented on #179
Note: revert changes in https://github.com/sobolevn/git-secret/pull/181/commits/f2214bde6fc2fbf97b82b1e0a52ffd0d95d7bec5

[2018-06-08 11:47] joshrabinowitz opened #186 "blocker: yum-utils package has been 'deprecated' on fedora-latest"
What are the steps to reproduce this issue?
-------------------------------------------
1. create PR
2. look at travis CI build for 'gnupg-git-fedora-latest'
 For example, the second to last build here:
   https://travis-ci.org/sobolevn/git-secret/builds/389721094
(note also is likely the last issue to keep this build from passing)

What happens?
-------------
Travis Ci build fails and reports:
[c

[2018-06-08 12:40] joshrabinowitz commented on #186
https://fedoraproject.org/wiki/Yum_to_DNF_Cheatsheet

[2018-06-08 13:30] simbo1905 commented on #186
@joshrabinowitz busy testing a fix to #179 and another it uncovers. Changing other things with a broken release may continue the instability so I would like to see a 0.2.4 release before we change anything that's not a blocker.

[2018-06-08 13:33] simbo1905 commented on #100
I have got a fix for #179 that I am testing locally (the test ci suite takes a loooooong time locally).

@sobolevn @joshrabinowitz  Do you mind making me a collaborator so that I can label issues that are blocking the 0.2.4 release so that we can focus on that?

[2018-06-08 13:41] joshrabinowitz commented on #186
I _think_ this issue recently became a blocker:
  See the output for the second to last build, for 'gnupg-git-fedora-latest':
  https://travis-ci.org/sobolevn/git-secret/builds/389668862

[2018-06-08 15:08] simbo1905 commented on #179
Looking hard into this I cannot spot any difference with the built deb file and teh install commands so I asked on stackexchange: https://unix.stackexchange.com/questions/448659/manual-pages-of-built-deb-install-on-debian-but-not-ubuntu

[2018-06-08 15:45] simbo1905 commented on #179
Somone supplied the fix! Its probably going to a few hours before I can next run the test suite but it looks to be something like adding a check and remove of `/etc/dpkg/dpkg.cfg.d/excludes` such as:

[code]

[2018-06-08 15:50] joshrabinowitz commented on #179
Are there other paths listed in /etc/dpkg/dpkg.cfg.d/excludes ?

And perhaps we should do something less severe than just deleting that file?

[2018-06-08 15:58] simbo1905 commented on #179
It just blocks /usr/share/man/ and and /usr/share/doc/

If we are testing "do we build a valid deb" then the answer is "yes". If we are testing "do we know how users install into /usr/share/man when that is now blacklisted on ubuntu then the answer is "no". I think we should release the code and then figure out that as a separate issue.

Running one ubuntu ci test locally the fix works. About to s

[2018-06-08 16:02] simbo1905 commented on #179
Just to be clear I don't think my server change is about blatting anyone's machine. The change which I just sent over as a PR is run as root as ci test setup build the `.deb` to test it. So at that point, I remove the blacklist so that the `.deb` can be tested.

[2018-06-08 18:00] sobolevn commented on #100
I totally do not mind!
Welcome!

[2018-06-08 19:30] simbo1905 commented on #186
This is the only broken thing on the travice of my fork https://travis-ci.org/simbo1905/git-secret/builds/389789759 🚨

[2018-06-08 19:46] joshrabinowitz commented on #186
Same here: https://travis-ci.org/sobolevn/git-secret/builds/389721094

[2018-06-08 19:56] simbo1905 commented on #186
This fixes it running just that one locally the full suite is running now.

[2018-06-08 20:48] simbo1905 commented on #179
This is fixed on the latest PR build but much future at

https://travis-ci.org/sobolevn/git-secret/jobs/389884422#L3236

we get ` sudo: /usr/local/bin/rspec: command not found`

[2018-06-08 20:53] simbo1905 commented on #186
It now gets past this issue and fails much later with `sudo: /usr/local/bin/rspec: command not found` at https://travis-ci.org/sobolevn/git-secret/jobs/389884422#L3236

[2018-06-08 20:56] simbo1905 opened #189 "gnupg-git-fedora-latest gives `sudo: /usr/local/bin/rspec: command not found`"
After upgrading RedHat to use dnf to fix issue #186 we now hit a ruby issue `sudo: /usr/local/bin/rspec: command not found` as shown at.

https://travis-ci.org/sobolevn/git-secret/jobs/389884422#L3236

[2018-06-08 20:58] simbo1905 commented on #143
Fixing the other things uncovered #189

[2018-06-08 21:54] simbo1905 commented on #189
Okay this is the only blocker shown at

 https://travis-ci.org/sobolevn/git-secret/builds/389921524

Reading the code it isn't clear to me where `rspec` is being called and what should be installing that. If I `kitchen login` and `gem install rspec` till install to `/usr/bin/rspec`. So my next guess is that `gem install -n /usr/local/bin rspec` might fix this. Can anyone tell me what should be ins

[2018-06-08 22:04] joshrabinowitz commented on #189
I think rspec is being used by kitchen to run tests using the
.ci/integration/*/serverspec/default_spec.rb files

Also, looking at that output, I think the right location for rspec in that context might be  /home/travis/.rvm/gems/ruby-2.4.1/bin/rspec (I mentioned this in #188 too)

[2018-06-08 22:12] simbo1905 commented on #189
I don't know what is calling it to override its path. I just tried having ansible install it to the expected locations and it passed locally. I have pushed it which will update the PR. Its late in my timezone so that's me done for a while.

[2018-06-08 22:43] simbo1905 commented on #143
all fixed on my fork https://travis-ci.org/simbo1905/git-secret/builds/389940226

[2018-06-09 06:20] simbo1905 commented on #179
fixed in #188

[2018-06-09 06:20] #179 closed

[2018-06-09 06:20] simbo1905 commented on #189
fixed in #188

[2018-06-09 06:20] #189 closed

[2018-06-09 06:53] simbo1905 commented on #143
The deb package deployed! 🎉

https://bintray.com/sobolevn/deb/git-secret

The rpm didn't

https://travis-ci.org/sobolevn/git-secret

[2018-06-09 06:55] simbo1905 commented on #143
What are the steps to deploy to brew for MacOS?

[2018-06-09 11:30] #186 closed

[2018-06-09 12:56] simbo1905 commented on #143
RPM is deployed https://bintray.com/sobolevn/rpm/git-secret

So do we now need a brew release to close this?

[2018-06-09 13:56] joshrabinowitz commented on #143
@simbo1905

The page http://git-secret.io/installation mentions homebrew, deb, and rpm, so I'd say we do need a brew release to close this.

Do we want to update the CHANGELOG.md file more?

Also probably we should consider making the 'github release' a prereq to closing this issue.

@sobolevn anything else you want to see done as part of this issue?

[2018-06-09 18:03] sobolevn commented on #143
Yeap, `brew` is a manual process. But we can submit a patch to `homebrew` repo after the package is released.

Yes, github release and a few notes about the latest fixes to the `CHANGELOG.md` would be great.

[2018-06-09 21:53] simbo1905 commented on #143
@sobolevn When you do the manual `brew` release for 0.2.4 add the detailed commands to `CONTRIBUTING.md` and I will try to find some time to automate the process.

[2018-06-09 22:01] simbo1905 commented on #143
This ruby project generates a change log https://github.com/github-changelog-generator/github-changelog-generator perhaps we should be running that on the CI master?

[2018-06-09 22:13] simbo1905 opened #194 "automate the GitHub release"
Creating a release programmatically looks straightforward enough https://developer.github.com/v3/repos/releases/#create-a-release

Changelogs can be generated using something like [github-changelog-generator ]( https://github.com/github-changelog-generator/github-changelog-generator). Perhaps we can run a bot of some sort to run generate the changelog and commit it.

[2018-06-09 22:15] simbo1905 opened #195 "Automate the homebrew release for MacOS"
Publishing releases to `brew` is a manual process. This could be automated like the publication of the other releases.

[2018-06-09 22:16] simbo1905 commented on #195
Needs #194

[2018-06-10 00:19] joshrabinowitz commented on #143
I'd say for this release we should continue maintaining CHANGELOG.md manually.

[2018-06-10 19:02] simbo1905 commented on #120
This issue has been fixed with the deployment of 0.2.4

There is a note by @sobolevn deploying from tags that I will break out as a new ticket.

[2018-06-10 19:02] #120 closed

[2018-06-10 19:04] simbo1905 opened #197 "deploy from a git tag"
There was a note in #120 ”We need to run deploy on tags, right now we are using deploys on master branch”. This ticket is to track that build enhancement.

[2018-06-10 19:31] simbo1905 commented on #194
[Hub](https://hub.github.com/hub-release.1.html) has a wrapper command to create, update and delete releases documented at https://hub.github.com/hub-release.1.html

[2018-06-10 19:44] simbo1905 opened #198 "missing git tag for v0.2.4"
Looking at the tags on GitHub there isn't one for the v0.2.4

[2018-06-10 19:44] simbo1905 commented on #198
I pushed a tag for the latest merge to master which was the changelog update for v0.2.4

[2018-06-10 20:02] sobolevn commented on #197
This should be a really easy feature.

[2018-06-10 20:45] simbo1905 commented on #194
Here is an example of getting travis to use to do the release which requires a GitHub tag:

https://stackoverflow.com/a/28230711/329496

[2018-06-10 20:59] simbo1905 commented on #194
@sobolevn the [travis docs](https://docs.travis-ci.com/user/deployment/releases/) use a `api_key: "GITHUB OAUTH TOKEN"`. Can you create a token and add it as an environment variable  GITHUB_OAUTH_TOKEN  into the travis build to be able to automate releases as per that doc?

[2018-06-10 21:13] simbo1905 commented on #198
@joshrabinowitz @sobolevn I just noticed that there is logic to apply a tag in `utils/hooks/post-commit.sh` which is referenced in `Makefile` at https://github.com/sobolevn/git-secret/blob/dec31f016ed9cf4624aee4d3ef3ea29766e6bd17/Makefile#L77.

Is that functionality no longer in use?

[2018-06-10 22:04] sobolevn commented on #194
@simbo1905 will do tomorrow!

[2018-06-11 05:37] Gitcat711 commented on #100
Hello Josh,
I was burned up due to some other work. So how I can start from scratch and
contribute. I am sorry to let you down, but I ain't no ninja coder.  Let's
see how I can create impact. Any roadmap for environment setup?

On Tue, Jun 5, 2018 at 4:04 PM, Josh Rabinowitz <notifications@github.com>
wrote:

[2018-06-11 05:58] simbo1905 commented on #100
@Gitcat711 the ci build and release is now fixed so its easier to contribute bug fixes. there are also some documentation issues. take a look at the open issues and see if there are any you would like to spend some time on. take a read of contributing.md, fork, fix, send a PR, and watch the travis build to see if it passes and fix as needed 👍🏻

[2018-06-11 07:21] simbo1905 commented on #197
Approach:
1) fixes and/or features are merged to master
2) changelog is generated and manually updated as necessary
3) contributor applies a release tag vX.Y.Z
4) travis build runs for the new tag and the travis deploy steps check that the coding being built is a release tag. if so they run.

If there are transient errors some but not all release artifacts will deploy. We then need to kick-off the

[2018-06-11 07:36] sobolevn commented on #197
I usually reapply tags manually when something goes wrong on a release.
But, I do it for cases when I am 100% sure that release was not already published.

[2018-06-11 07:47] simbo1905 commented on #197
@joshrabinowitz do you have a preference?

[2018-06-11 11:45] joshrabinowitz commented on #197
For this release especially, I think @sobolevn's suggestion is good. Let's get this out the door expediently.
In the long run I agree releases should be immutable.

[2018-06-12 05:46] eburgueno opened #201 "Manual installation fails"
What are the steps to reproduce this issue?
-------------------------------------------
[code]

What happens?
-------------
Error as above

What were you expecting to happen?
----------------------------------
git-secret is installed in $PREFIX

What versions of software are you using?
----------------------------------------
**Operating system:** (`uname -a`)
Linux host.example.com 3.10.0-693.21.

[2018-06-12 10:17] rjcoelho opened #202 "Silent error on secret hide when GPG key expires"
When a GPG key expires we get no output when doing a "git secret hide". We should get a GPG key expired error message (if possible).

[2018-06-12 10:39] sobolevn commented on #202
Yeap, that's true. This check should also happens when we try to add (`git secret tell`) an expired key.

[2018-06-12 11:03] ilovezfs commented on #201
Seeing the same thing in Homebrew CI for 0.2.4 CC @sobolevn

[2018-06-12 15:06] rjcoelho commented on #202
Basically any call to gpg should check for error codes and report then to stderr (and stop the command). Again if this is possible.

[2018-06-12 15:49] joshrabinowitz opened #204 "feature: test interoperability of gpg on automated builds"
The idea is to test the interoperation of git-secret (and version of gpg used on that build) between some or all of the builds we use for automated builds/tests on travis-ci.

Could involve a second repository shared between builds which records which version of gpg, on which system type, did each operation on each file. Might have a separate sub-directory for each build type of buildtype to build

[2018-06-12 15:50] joshrabinowitz commented on #202
Could someone write a test in a PR to show the problem?

[2018-06-12 15:52] joshrabinowitz commented on #100
@Gitcat711 #https://github.com/sobolevn/git-secret/issues/202#issuecomment-396640027 (can someone write a PR to exhibit the problem?) would be a good place to start

[2018-06-12 18:07] sobolevn commented on #204
That would be awesome.

Related to #200

[2018-06-12 18:49] joshrabinowitz commented on #201
I think the recently-merged #203 fixes this

[2018-06-12 20:14] sobolevn commented on #201
@ilovezfs yeap, since `brew` uses the same install script as manual installation.

[2018-06-12 21:12] joshrabinowitz commented on #202
@rjcoelho I think this is what you're asking for: PR #205 'more careful error checking running gpg'

[2018-06-12 21:18] eburgueno commented on #201
#203 seems to have fixed it. Thank you.

[code]

[2018-06-13 01:49] ilovezfs commented on #198
@sobolevn it looks like the explicit GitHub release for 0.2.4 is missing.

https://github.com/sobolevn/git-secret/releases/latest is pointing at 0.2.3

[2018-06-13 02:41] joshrabinowitz commented on #198
0.2.4 has not been 'released' yet.

[2018-06-13 09:52] simbo1905 commented on #143
@sobolevn grepping the codebase I don't see any solid hits about how `brew` is done manually to install it. `make install` bombs on my macos. can you please give me some hints as to what you to do make a brew package?

[2018-06-13 09:58] sobolevn commented on #143
@simbo1905 this code is located in the `brew` repo: https://github.com/Homebrew/homebrew-core/blob/master/Formula/git-secret.rb

[code]

[2018-06-13 10:18] simbo1905 commented on #143
@sobolevn

[2018-06-13 12:40] joshrabinowitz commented on #202
I think we can close this, @rjcoelho please let us know if PR #205  fixes the issues you raise here.

[2018-06-13 13:45] rjcoelho commented on #202
@joshrabinowitz it solve my issue. Thanks for such a speedy solution.

[2018-06-13 14:55] joshrabinowitz commented on #201
thanks @eburgueno . @ilovezfs this is fixed.

[2018-06-13 15:51] #201 closed

[2018-06-13 16:11] sobolevn commented on #136
I like the idea of moving away from managing keyrings by ourself.
Currently I can not even see any disadvantages in this approach.

[2018-06-13 16:19] notjames commented on #136
I'm only unclear on one thing. What is used to store the privileged list of users for a given repo? IE Let's say we have the following users: Tom, Bill, and Suzy. The nice thing about having the keyring in the repo is that it was the authoritative keeper of authorized users for that repo. So when Bill is removed from authorization to unhide secrets in that repo, that authorization "list" followed

[2018-06-13 18:42] sobolevn commented on #136
@notjames as I understood @simbo1905's suggestion, we are not going to use the default keyring in `$HOME`. We are going to still use the same keyring location as we use now.

But, this keyring will be ignored by the `git`. This way we can recreate a keyring on every machine with just importing the public keys.

[2018-06-13 20:51] joshrabinowitz commented on #135
I think we should release 0.2.4 without this fix (since we don't have the fix yet).

[2018-06-13 20:54] joshrabinowitz commented on #143
@simbo1905 @sobolevn I think we should call 0.2.4 done and make a release.

I've set up a 'project' https://github.com/sobolevn/git-secret/projects/1 (release 0.2.4) for this purpose. Feel free to add/remove tasks from the project.

[2018-06-13 21:33] notjames commented on #136
OK. I think I'm able to work through in my head how this will work. The part that I was not thinking about is the actual encrypted files which have been encrypted by specific keys as being the so-called "access list" I was on about.

That said, why use the public keyring in the repo at all? Why not just use each user's `$HOME/.gnupg/pubring.kbx`? Why have a different keyring somewhere else at all?

[2018-06-13 21:40] sobolevn commented on #136
Because we do not want to pollute user's main keyring with our keys.
That was the main point for me in the past.

[2018-06-13 21:51] notjames commented on #136
An interesting thing to want to avoid since the keyring is "polluted" by public keys already anyway. My keyring has keys from me, co-workers, public keys from OS maintainers, etc. I don't and have never really cared about what's in there. I think it's good to be cognizant of good housekeeping, but I believe you cause potentially more issues by not keeping the keyring in a well-known backed up plac

[2018-06-13 21:59] joshrabinowitz commented on #136
I think what @simbo1905 is suggesting is that `.gitsecret/keys` contain a text file with the public keys of the users that can access the repo, and that this text file would get checked in to git.

This file of public keys would be portable across gpg versions.

The actual gpg keychains used on each given system  would be created on-demand from the public keys as needed. In this way we would remov

[2018-06-13 23:28] notjames commented on #136
@joshrabinowitz OK. I think I understand better by your description what @simbo1905's suggestion is. It all sounds OK, only maintaining the flat-file ascii-armored keys might become a pain in the butt...

[2018-06-14 06:35] simbo1905 commented on #136
At https://stackoverflow.com/a/22147722 it says:

Here are the docs of the format https://git.gnupg.org/cgi-bin/gitweb.cgi?p=gnupg.git;a=blob_plain;f=doc/DETAILS

Running it over my old key I see:

The first line has `B1973C29239EC912` which looks to be my public key ID.  So refining my sketch a little (still an approximation):

*  `git secret tell` will run export against the users personal keyri

[2018-06-14 08:09] simbo1905 commented on #136
For bonus marks I think we can make the new approach forwards compatible with the current approach. Let's say we version the new approach `0.3.0`. We want it to be forward compatible with the current `0.2.x`. It's likely that any team that stated on `0.2.x` will have one new team member join who first installs `0.3.0`:

1. The new version will look for `.gitsecret/cache` and if it doesn't exist te

[2018-06-14 10:04] sobolevn commented on #136
+1 for this roadmap. Thanks @simbo1905
@joshrabinowitz what's your opinion?

[2018-06-14 10:09] simbo1905 commented on #136
here is a first draft of the first part of the design as a PR

https://github.com/sobolevn/git-secret/pull/207

[2018-06-14 10:56] joshrabinowitz commented on #136
@simbo1905 @sobolevn I like the RFC, I think it's a big step forward. Would love to see 0.2.x released before this development starts though!

[2018-06-14 13:12] joshrabinowitz commented on #143
@simbo1905 can you tag and release 0.2.5 (with all the needed changes for .deb, .rpms, brew packages, etc?)
Let me know if you want me to update CHANGELOG.md and/or bump version numbers.

[2018-06-14 14:43] joshrabinowitz commented on #194
@sobolevn @simbo1905

Is adding the GITHUB_OAUTH_TOKEN environment variable into the travis build a blocker for getting out a new release?

[2018-06-14 15:01] simbo1905 commented on #194
No it isn't a blocker as @sobolevn has done the release so there is a binary at https://github.com/sobolevn/git-secret/archive/v0.2.4.tar.gz

So having read the manual it looks like I just need to raise a PR for the brew formula with the new version. I will try the hub.github.com advanced features for doing that tonight since it looks to like it optimised things like forking and raising a PR with

[2018-06-14 15:30] joshrabinowitz commented on #194
@simbo1905 yes please do raise the PR so we can release 0.2.5. The tagged 0.2.4 seems to have included #201 'manual installation fails'

[2018-06-14 16:06] simbo1905 commented on #194
I have a draft script https://github.com/simbo1905/git-secret/commit/9683f1b0868ace36db6f30e7ced8aea040b04585 that bumps the release number updates the sha265, and pushes to a repo, from which I can create a PR. The PR page told me to test it locally before I submit it which I will do tonight.

We will need a repo that is a clone of homebrew that we can commit onto in order to create a PR to the m

[2018-06-14 16:18] joshrabinowitz commented on #194
@simbo1905 on the other hand if we get the rpm and deb files out for 0.2.5, it looks like @ilovezfs can get the brew version published (See https://github.com/Homebrew/homebrew-core/pull/28891 )

[2018-06-14 19:38] ilovezfs commented on #194
You can use `brew bump-formula-pr` to automate opening the PR.

[2018-06-14 19:39] simbo1905 commented on #194
thanks yes. currently debugging why the tar.gz won't locally pass brew test.

[2018-06-14 19:42] ilovezfs commented on #194
[code]
HEAD @ b85cc04 passes for me.

[2018-06-14 19:45] simbo1905 commented on #194
you need to extract the release at https://github.com/sobolevn/git-secret/archive/v0.2.4.tar.gz and on my macos that dies at `cp -R "$BATS_ROOT"/bin/* "$PREFIX"/bin` with "utils/bin/*: No such file or directory"

[2018-06-14 19:47] ilovezfs commented on #194
That was fixed in HEAD.

[2018-06-14 19:47] ilovezfs commented on #194
See https://github.com/sobolevn/git-secret/issues/201#issuecomment-396551178

[2018-06-14 19:48] simbo1905 commented on #194
then it is not in the release so the release cannot be released 😀

[2018-06-14 19:48] simbo1905 commented on #194
i cannot modify the release as @sobolevn has the keys.

[2018-06-14 19:50] ilovezfs commented on #194
Shall we just skip 0.2.4 in brew then? Or I can backport the patch.

[2018-06-14 19:51] simbo1905 commented on #194
we are definitely wanting to ship this as we don't want to call this closed until we have a brew release.

great idea to patch! there was a patch in the formula for the last release.

[2018-06-14 19:54] simbo1905 commented on #194
this was in the last release:

[code]

So i will try adding a patch at that PR.

[2018-06-14 19:58] simbo1905 commented on #194
trying

[code]

[2018-06-14 20:00] simbo1905 commented on #194
that worked!

[2018-06-14 20:00] ilovezfs commented on #194
🎉

[2018-06-14 20:17] simbo1905 commented on #194
And here it is my first brew PR!

https://github.com/Homebrew/homebrew-core/pull/29051

[2018-06-14 20:36] simbo1905 commented on #194
@sobolevn can we get that GITHUB_OAUTH_TOKEN as an env var in travis to automate the github release?

[2018-06-15 06:01] simbo1905 commented on #198
@joshrabinowitz it seems we got the process a bit back-to-front this time around as the github release is referenced by the brew PR. the brew maintainer reviewing the brew PR will be checking to see whether it is using the new latest release on github. so when we automate this for next release we should sequence the brew release as running after the github release.

[2018-06-15 06:01] #198 closed

[2018-06-15 06:03] simbo1905 commented on #143
🎉🎉🎉🎉🎉🎉🎉

@ilovezfs has merged our brew PR! https://github.com/Homebrew/homebrew-core/commit/13e2ea914c0fbbc1a96df41bbf5bfabd7b35289b

@sobolevn we simply need you to update the latest release on github to be v0.2.4 to close this issue.

[2018-06-15 11:01] sobolevn commented on #143
@simbo1905 which commit should be the latest to be included in the release?

[2018-06-15 11:43] simbo1905 commented on #143
This one https://github.com/Homebrew/homebrew-core/blob/13e2ea914c0fbbc1a96df41bbf5bfabd7b35289b/Formula/git-secret.rb#L13

If we add it to the release that brew is now patching (as per that line there) would it be idempotent and not break brew that "live" brew formula? Let's ask our friendly brew maintainer!

hey @ilovezfs can you help us out on this brew question. I put that patch into the formu

[2018-06-15 12:27] simbo1905 opened #208 "RFC 0001 - A stable and forwards compatible public key storage format"
This ticket is to implement the RFC:

https://github.com/sobolevn/git-secret/blob/master/RFC/RFC001.md

Here is some awk to "[subtract one set from another](https://github.com/UniqKey/openshiftbot/blob/f6244fcb7049833e08fea7dd6f7bdc60cc1c51c3/bin/imagechecker.sh#L32)". That script uses that awk to figure out "what is upstream that isn't local". That logic should work for checking "which exported k

[2018-06-15 12:29] simbo1905 commented on #136
The ticket for the long-term fix is #208

[2018-06-15 13:54] joshrabinowitz commented on #202
re-opened until #205 is in the released code.

[2018-06-15 14:32] ilovezfs commented on #143
@simbo1905 that's no safe, no, as it will change the checksum of https://github.com/sobolevn/git-secret/archive/v0.2.4.tar.gz. What would be safe is releasing it as 0.2.4.1 or 0.2.5

[2018-06-15 15:02] sobolevn commented on #194
@simbo1905 I have added `GITHUB_OAUTH_TOKEN` to `travis` settings.
It should be now be available for you.

It currently has only `repo` scope, that should be enough.

[2018-06-19 13:10] simbo1905 opened #209 "bats build issues on master branch"
A rebuild of the last successful Travis master build (I cancelled the rpm and deb deploy jobs) gives broken jobs use to a bats install error:

[code]

See https://travis-ci.org/sobolevn/git-secret

This is blocking testing any improvements to the build/release/deploy system and probably any future PR.

[2018-06-19 13:19] joshrabinowitz commented on #209
I presume it's an upstream change in bats-core, this test passed 5 days ago. Will investigate

[2018-06-19 13:31] joshrabinowitz commented on #209
I think this is the change in bats-core that caused the build breakage.
https://github.com/bats-core/bats-core/commit/e8a2774534c070990b4b13818ac8ddacae6009c5

[2018-06-19 13:44] joshrabinowitz opened #211 "feature: migrate from bats to bats-core"
The original 'bats' project <https://github.com/sstephenson/bats> , which git-secret depends on, hasn't been updated in 3 years.

bats-core <https://github.com/bats-core/bats-core> has continued maintenance and development, and in particular, lets you run just one test file instead of only all of them.

git-secret should consider migrating to bats-core.

[2018-06-19 15:31] #209 closed

[2018-06-19 22:04] #202 closed

[2018-06-20 13:11] joshrabinowitz opened #215 "git-secret 0.2.4 release page doesn't show changelog"
At https://github.com/sobolevn/git-secret/releases , the v0.2.4 release doesn't show information about the release like the other ones. Can this be fixed (if not for 0.2.4 then for 0.2.5)

It would be good for https://github.com/sobolevn/git-secret/releases to have a complete changelog.

[2018-06-20 13:20] joshrabinowitz commented on #143
Do we consider 0.2.4 'released'?
Since it's not safe to try to fix 0.2.4, should we go for 0.2.5?

[2018-06-21 14:35] joshrabinowitz commented on #211
Closing, performed in #216

[2018-06-21 14:35] #211 closed

[2018-06-21 21:51] simbo1905 commented on #143
0.2.4 is released. I feel any actual code fixes should go out as 0.2.5. Any trivial doc or installation changes could go out as 0.2.4.1. I will close this issue and let's raise a new one for whatever comes next.

[2018-06-21 21:51] #143 closed

[2018-06-22 05:23] ieugen opened #219 "How can you be productive with git-secret - how to manage gitignore?"
Hi,

I'm finding it very dificul to use this program with managing .gitignore and not ignoring *.secret files?
I have a deep structure and in the leaf directory lots of files if I ignore all files but not ignore .secret files.

How do you do it sanely? I did not expect to be required to add .secret files to git and when I cloned the repo it failed. Why not move the secret files under .gitsecret or

[2018-06-22 05:41] ieugen commented on #219
I figured it out. It seems git ignore and globs need to be explicit

.gitignore
[code]

[2018-06-26 13:16] joshrabinowitz commented on #219
@ieugen - this seems like a .gitignore issue, not a git-secret issue, and you've gotten it worked out. .OK if I close this issue?

[2018-06-27 05:16] eduncan911 opened #220 "Add File does not add to GitIgnore (per docs)"
What are the steps to reproduce this issue?
-------------------------------------------
1.  create a secret file
2. git secret add <filename>

What happens?
-------------
[code]

What were you expecting to happen?
----------------------------------
It would be automagically added to .gitignore, as per the docs.

The docs say:

[code]

It says:

Any logs, error output, etc?
------------------------

[2018-06-27 05:18] eduncan911 commented on #219
Came here to file an issue and saw this, and i have to say yes it is very disrupted to step out of `git secret add` to go edit a `.gitignore`.

Opened issue #220 about it should be auto-added per the docs

[2018-06-27 11:40] joshrabinowitz commented on #220
Hello, @eduncan911

To auto-add the filename to .gitignore, you have to use the `-i` flag for `git secret add filename`, as documented at http://git-secret.io/git-secret-add

I just tested it and it seems to work for me. Sounds like this is a documentation issue?

How about we change the text in the `git-secret --help` output to read:
 ` add [filename.txt] - adds file to be hidden. Also add this f

[2018-06-27 12:42] ieugen commented on #219
Hi @eduncan911 , I did not know the behavior was to add files to .gitigore.
@joshrabinowitz : From my point of view, this issue should be closed as #220 is the main cause.

[2018-06-27 12:42] #219 closed

[2018-06-28 12:32] ieugen opened #221 "git secret + commit hook fails with git gui. Overrides pinentry"
What are the steps to reproduce this issue?
-------------------------------------------
1. Add a pre commit hook as per documentation:

.git/hooks/pre-commit
[code]
I'm hiding secrets only if there are changes.
2. Open git gui and commit https://git-scm.com/docs/git-gui

What happens?
-------------

Git gui hangs - because the gpg pass phrase is presented on standard input and I can't access that.

[2018-06-28 16:58] joshrabinowitz commented on #221
@ieugen thank you for this report.

Can you please try again with the most recent release of git-secret, 0.2.4?

Also, if you know what code change is required to fix this issue, please let us know or open a PR.

[2018-06-28 17:56] ieugen commented on #221
Thanks. I will give it a try. Unfortunatelly I don't know the fix but I will give it a try. Gpg is not the friendliest of softwares.

[2018-06-29 18:22] eduncan911 commented on #220
ah, i never saw the `-i` listed anywhere.  never knew this existed!

how about this:
[code]

[2018-06-29 18:22] eduncan911 commented on #220
however, i think for newcomers, defaulting to `-i` makes this much easier?

[2018-06-29 18:41] sobolevn commented on #220
Yeap, that should be a default behavior starting from `v0.3`.

[2018-06-30 15:39] joshrabinowitz commented on #220
This is fixed in PR #222

Should we start a list somewhere of changes that we're scheduling for v0.3.0?

[2018-06-30 15:58] sobolevn commented on #220
We can create a milestone for this version and add related issues.
Or a project if you prefer agile-like boards.

[2018-07-01 00:50] joshrabinowitz opened #225 "v0.3.0 interface change: -i to be default for 'git secret add'"
See #220

eduncan911:
-- however, i think for newcomers, defaulting to -i makes this much easier?

sobolevn:
-- Yeap, that should be a default behavior starting from v0.3.

[2018-07-01 12:18] #220 closed

[2018-07-02 19:48] eduncan911 commented on #220
is it just me, or is there no link to this hidden page on the website?

http://git-secret.io/git-secret-add (as linked to above)

[2018-07-02 19:57] sobolevn commented on #220
@eduncan911 are you talking about this link?

<img width="636" alt="2018-07-02 22 56 58" src="https://user-images.githubusercontent.com/4660275/42183647-57e6c8c2-7e4b-11e8-9f14-abd0e9f60037.png">

[2018-07-03 12:03] joshrabinowitz commented on #135
This is fixed by PR #224, which should be in the next release

[2018-07-03 12:12] sobolevn commented on #135
@joshrabinowitz thank you for your hard work! I know this was a challenging one.
Awesome, that we got this fixed!

[2018-07-03 12:49] joshrabinowitz commented on #135
@sobolevn you're quite welcome! Thanks for all your time and work writing and supporting git-secret.

[2018-07-03 12:52] joshrabinowitz opened #226 "some commands fail when there is a space in the filename"
Try manipulating a file like `file with spaces.txt` with git-secret.

See branch displaying problems here:
https://github.com/joshrabinowitz/git-secret/pull/1

-- Problems are in 'changes', 'hide', and 'remove' commands.

Discovered after fixing #135, "some commands fail when the current directory's path includes spaces"

[2018-07-03 13:04] joshrabinowitz commented on #226
Here are the particular test failures:

[code]

[code]

[code]

[2018-07-12 12:33] brontolinux opened #227 "keys with no info but the email address not recognized by whoknows"
What are the steps to reproduce this issue?
-------------------------------------------
1. have a key in the keyring with no info but the email address: gpg will show the email address without the angle brackets; let's say john.smith@example.com
2. do `git secret tell john.smith@example.com`: the key will be correctly added to the keyring
3. do `git secret whoknows`: the key just added with `tell`

[2018-07-12 12:40] brontolinux opened #228 "Fix git-secret problems when using different versions of gpg (was: Wrong dependencies in documentation?)"
What are the steps to reproduce this issue?
-------------------------------------------
1. try using git-secret with a gpg version earlier than 2.1

What happens?
-------------
It doesn't work. It appears that the regexps in the script are designed to match the output of gpg v2.1 or later.

What were you expecting to happen?
----------------------------------
Either git-secret to work with gpg 1.4

[2018-07-12 12:44] brontolinux opened #229 "Suggestion for OSs with both gpg v1 and v2 installed"
What are the steps to reproduce this issue?
-------------------------------------------
N/A

What happens?
-------------
N/A

What were you expecting to happen?
----------------------------------
N/A

Any logs, error output, etc?
----------------------------
N/A

Any other comments?
-------------------
Just a suggestion for the docs. In OSs where both v1 and v2 of gpg are installed you may suggest

[2018-07-12 12:48] brontolinux opened #230 "git secret hide malfunctions if not run at the root of the repository"
What are the steps to reproduce this issue?
-------------------------------------------
1. have a repository with encrypted files inside a subdirectory, e.g. `my/secrets`
2. `cd` into `my/secrets`
3. run `git secret hide`

What happens?
-------------
git-secret aborts with a file not found error

What were you expecting to happen?
----------------------------------
all mapped files are encrypted a

[2018-07-12 14:14] joshrabinowitz commented on #228
Hello, @brontolinux ,

What kinds of errors are you experiencing?

git-secret is tested to work with at least gpg 2.0.22 (which is shipped on centos 7), and with gpg 1.4.22 (from the package 'gpg1' on debian-latest), and with gnupg (2.2.4 from the package gpg2 on ubuntu-rolling) -- You can see the tests and version in the details of the travis-ci test builds.

(There are known issues with interope

[2018-07-12 14:45] joshrabinowitz opened #232 "build issue on alpine-latest: tasks 'Create git-secret apk package' and 'Create git-secret apk location'"
builds are failing only on alpine-latest because of error(s) with
[run-tests.yml](.ci/integration/tasks/run-tests.yml)

For exact error messages, please see the 'alpine-latest' jobs here:
https://travis-ci.org/sobolevn/git-secret/builds/403141496
or below

[2018-07-12 14:47] brontolinux commented on #228
Hi @joshrabinowitz

Then it could be an interoperability issue. On the laptop I have 2.1.8, as you can see, and I tested together with a colleague who was using gpg 1.4.20 on a Ubuntu 16.04, and gpg 1.4.22 from a Fedora 27.

We had the problem a couple of days ago and I didn't save the output; what I remember was that we got inconsistencies. E.g. One could do `git secret tell` on one version and `

[2018-07-12 14:56] joshrabinowitz commented on #232
Error message:

TASK [Create git-secret apk package] *******************************************

fatal: [localhost]: FAILED! => {"changed": false, "cmd": ["bash", "-lc", "cd /tmp/git-secret && make build-apk"], "delta": "0:00:00.826604", "end": "2018-07-12 14:30:15.027166", "msg": "non-zero return code", "rc": 2, "start": "2018-07-12 14:30:14.200562", "stderr": "/usr/lib/ruby/2.5.0/rubygems/core_

[2018-07-12 20:28] joshrabinowitz commented on #228
@brontolinux , There's a discussion of this general issue at #136

Our recommendation for the present time is that "it is best to use
git-secret with the same version of gpg being used by all users.
This can be forced using SECRETS_GPG_COMMAND environment variable."

(This text is from PR #200 which is not in the released version of git-secret yet).
You can migrate between versions of GPG by using

[2018-07-12 20:37] joshrabinowitz opened #233 "update installation docs to mention interop issues and SECRETS_GPG_COMMAND environment variable"
make mention of SECRETS_GPG_COMMAND and possibly gpg interop issues at http://git-secret.io/installation

As per #228

[2018-07-12 20:38] joshrabinowitz commented on #229
We have some of this language added to the docs in PR #200 (which was committed after the 0.2.4 release).

 I'm planning to close this as a dup of #228 see also the discussion there

[2018-07-12 20:40] joshrabinowitz commented on #230
@brontolinux I've worked up a fix for this issue at #231

[2018-07-12 20:45] joshrabinowitz opened #234 "website says "You can check the full list here", should say "You can see the list of regularly tested platforms and gpg versions here""
http://git-secret.io/installation says:

git-secret works with Mac OS X >= 10.9, Ubuntu >= 14.04, Debian >= 8.3, and Fedora. You can check the full list here (links to travis-ci). You can add your platform to this list, if all the tests pass for you.

Perhaps should say:

You can see the list of regularly tested platforms and gpg versions here (links to travis-ci).

[2018-07-12 20:47] joshrabinowitz commented on #232
@sobolevn @simbo1905 any ideas?

[2018-07-13 05:41] simbo1905 commented on #232
This looks to be "apline-latest" changes that make building the `apk` package fail. I am coming to believe that building packages on the very distros for every PR is not a good idea. We can expect that installing packages is stable (you can build on a stable major release distro and expect the package to install on the latest version) but that building packages on the very latest can and will rand

[2018-07-13 07:34] sobolevn commented on #232
@simbo1905 absolutely agree.

[2018-07-13 07:42] brontolinux commented on #228
When you say the same version, to which level do you consider it to be the "same"? The major version (e.g.: 2.x.x)? The minor (e.g. 2.1.x)? The full version (e.g. 2.1.8)? Depending on how deep in the version number you go, this could be a very hard requirement to fulfill.

[2018-07-13 07:45] brontolinux commented on #230
Great, thanks!

[2018-07-13 08:10] simbo1905 opened #235 "PR CI builds shouldn’t be vulnerable to “latest” distro instability"
We have seen a number of CI builds fail while packaging on `*-latest` distros. This leads to a situation where the logic in a PR is good, passes on stable versions of each distro family we test on (Fedora, Debian, Alpine), but is broken on a “*-latest”.

This is a problem as it makes it harder to get working contributions onto master. Yet we can expect that the majority of our users are on stable

[2018-07-13 08:13] simbo1905 commented on #232
I have added #235 about relaxing PR builds.

Team, if you happy to agree an approach for #235 I will take a look at implementing it to unblock Josh’s latest. Then I will take a look at Alpine which I have no experience with.

[2018-07-13 11:42] joshrabinowitz commented on #235
I'm disabling tests on alpine-latest for now, so we can merge the #230 PR if we want, see
https://github.com/sobolevn/git-secret/pull/231/commits/142944c575eec4358a61cf2260f590a799ddb39e

I don't care too much about this issue, as @simbo1905 points out there are pros and cons to both approaches. Dealing with broken builds at random moments during PR develop,ent does get old, though.

[2018-07-13 11:46] #229 closed

[2018-07-13 11:59] joshrabinowitz commented on #228
That's a fair point @brontolinux.

I'm not an expert on gpg version interoperability but I'd suggest using gpg versions that are at least of the same major version, and probably on the same minor version too for sanity. [Then do interoperability testing to make sure everything works between the versions you've chosen.] The GPG release notes at https://www.gnupg.org/download/release_notes.html can

[2018-07-13 13:03] brontolinux commented on #228
I believe that any requirement beyond having the same major version would be unreasonably hard.

Running on the same major version should definitely be possible, but running on the same major.minor is already problematic. Think of an environment where different distributions of Linux are used (like, in our case, Debian and Fedora), and you already have a difference (2.1 vs 2.2); then throw MacOS i

[2018-07-13 13:08] brontolinux commented on #228
And, one more question: what happens when one upgrades the OS and steps from, say, 2.0 to 2.2? What needs to be done to ensure that the person who upgrades can still access the repository after the upgrade? And what needs to be done to ensure that this person doesn't trash the repo for everyone else when he starts using their shiny new gpg?

[2018-07-13 13:43] joshrabinowitz opened #236 "release v0.2.5"
There are some changes in git-secret since 0.2.4 that I think deserve a new release.

* we can fix the release to make sure there's one version of 0.2.4

* we now support directory names with spaces, which has been a long-standing issue people run into.

* the documentation surrounding gpg interoperability (an issue people seem to have problems with) has been improved, and we can improve it more.

[2018-07-13 14:01] joshrabinowitz commented on #228
In the medium term, git-secret has a plan (from @simbo1905) to largely remove dependence on the particular version of gpg installed. A solution like this one is definitely the way forward for this problem.  See: https://github.com/sobolevn/git-secret/blob/master/RFC/RFC001.md
The summary: "git-secret will move away from using the keyring format as shared storage of public keys. Instead, it will st

[2018-07-13 14:33] #230 closed

[2018-07-13 14:42] joshrabinowitz commented on #100
It would also be great if someone would implement https://github.com/sobolevn/git-secret/blob/master/RFC/RFC001.md which would fix interoperation issues between versions of GPG

[2018-07-13 16:50] joshrabinowitz opened #237 "debug code in git-secret remove"
If you remove a file with git-secret remove, it outputs what seems to be a debug line with the code:

echo "$item -> $normalized_path -> $path"

See https://github.com/sobolevn/git-secret/blob/master/src/commands/git_secret_remove.sh#L36

[2018-07-13 17:00] sobolevn commented on #237
Yeap, that should be removed.

[2018-07-14 12:52] joshrabinowitz commented on #221
Hello, @ieugen, @simbo1905 , @sobolevn :

What's the right way to handle this?

Should we be reading ~/.gpg/gpg-agent.conf to find the correct 'pinentry-program' value?

[2018-07-14 14:08] sobolevn commented on #221
I guess we can just have a configuration option. Reading this file will be almost impossible to implement correctly including all location/format/permission/versions stuff.

[2018-07-14 16:18] JulianStier opened #238 "Git secret ignoring gpg issues with expired public key"
Hey,
it makes sense if git-secret would provide a warning if gpg can not be used for encryption. This happens e.g. if the public key expired. Git secret then creates an entry in the mapping configuration for the file intended for encryption, but is not able to create a file with the _.secret_ extension. This leads to an error when performing _git secret reveal_ on another repository instance.

Wha

[2018-07-14 16:47] joshrabinowitz commented on #221
@sobolevn so are you envisioning a  `-nop` option for `git-secret reveal` and `hide` to disable use of gpg's `--pinentry loopback` option? How would you see this looking in practice?

[2018-07-14 16:49] joshrabinowitz commented on #238
Hm, I looked at this briefly and it doesn't seem easy to even detect the expiration date/time of a particular key, which seems like it'd be a pre-requisite for this feature.

@JulianStier any tips on how we'd detect _when_ keys expire?

[2018-07-14 19:00] joshrabinowitz commented on #226
The only issues remaining are regarding `git-secret remove`. I have fixes worked up for the `hide` and `changes` issues.

[2018-07-14 19:37] joshrabinowitz commented on #226
These issues are all resolved in #239

[2018-07-14 19:40] joshrabinowitz commented on #237
resolved in #239

[2018-07-15 12:03] ieugen commented on #221
@joshrabinowitz :+1:

Not sure if we need to read it. I believe it has a command that can give us the value.

I think gpgconf should be ok. However, on my system it shows the wrong version of pinentry so I guess it does not read gpg-agent.conf . It is either a bug or I am doing something wrong.

[code]

[1] https://www.gnupg.org/documentation/manuals/gnupg/gpgconf.html

[2018-07-15 16:03] joshrabinowitz opened #241 "Test that version of gpg used by kitchen matches test name (gnupg1/gnupg2)"
gnupg1-ubuntu-latest and gnupg1-ubuntu-rolling builds actually test with gpg2, not gpg1.

The evidence: search for 'against gpg' in the outputs of the builds at (for example)
https://travis-ci.org/sobolevn/git-secret/builds/404141903?utm_source=github_status&utm_medium=notification .

gnupg1-ubuntu-latest and gnupg1-ubuntu-rolling builds show 'Running test against gpg (GnuPG) 2.2.4.'

gnupg1-debia

[2018-07-16 15:24] joshrabinowitz commented on #227
Hello, @brontolinux.  I've worked up a fix for this.

Would it be possible for you to test this issue with PR #240 and let me know if it fixes it for you?

[2018-07-16 17:54] #226 closed

[2018-07-16 17:54] #237 closed

[2018-07-17 16:01] #227 closed

[2018-07-17 20:38] joshrabinowitz commented on #176
So, the bug here is that `git secret tell substr` will add all keys with a uid that contain substr _anywhere in the uid_.

[2018-07-19 12:28] joshrabinowitz opened #244 "tests fail on FreeBSD"
We should have some tests of git-secret on some flavor(s) of *BSD.

Can we do this with travis-ci?

[2018-07-19 12:30] joshrabinowitz commented on #235
@simbo1905 any more thoughts on this? I'm thinking we should move towards a 0.2.5 release not that we have fixes for spaces in filenames and paths, and a fix for 'running git-secret in a subdirectory'

[also @sobolevn ]

[2018-07-21 13:45] joshrabinowitz commented on #244
Steps to reproduce:
* Install FreeBSD (I used 11.2 RELEASE on VirtualBox)
* install gpg, gawk, bash, gmake from pkg repos ('make' doesn't work at all)
* fetch git-secret source from github
* cd git-secret
* gmake clean build test

What happens?
-------------
* all tests fail

What were you expecting to happen?
----------------------------------
* tests pass

Any logs, error output, etc?
----------

[2018-07-22 14:09] joshrabinowitz commented on #172
I'm planning to add this feature in the near future.

[2018-07-22 21:33] simbo1905 commented on #232
I have created PR #246 for the fix.

[2018-07-22 21:53] simbo1905 commented on #235
It looks like the PR to fix Alpine latest builds has worked [406921657](https://travis-ci.org/sobolevn/git-secret/jobs/406921657) [406921662](https://travis-ci.org/sobolevn/git-secret/jobs/406921662). Looking on hub.docker.com the [alpine latest tag](https://hub.docker.com/_/alpine/) is applied to Alpine 3.8.

I suggest that for PR/master builds we test on specific versions of alpine, docker, ubun

[2018-07-23 07:59] simbo1905 commented on #241
This ticket as it may cause confusion if someone tries to fix this issue in isolation of #235.

I agree that we should test against gpg2.

I don’t think we should test against `rolling`. Looking at hub.docker.com currently `rolling` and `latest` are currently the same image. Reading what is stated at about rolling it reads that we can expect it to be stable than latest. I don’t think it’s really i

[2018-07-23 08:02] simbo1905 commented on #235
This is unblocked now that alpine latest works which is also alpine current. It should also look to fix #241 which I closed so that it won’t clash with this and so that we can make one set of changes to the ci bulld to cut a new release.

[2018-07-23 08:05] simbo1905 commented on #235
I suggest we retire the `rolling` Ubuntu build. That will be less stable than `latest`. With all distros (included centos) we should test against a stable `latest` when we release and against a named version for PRs and master.

[2018-07-24 17:07] simbo1905 commented on #235
Looking at the current [test suites](https://github.com/sobolevn/git-secret/blob/b504facc5d2fa7d2c7e8c8abdee86cff5835e6f8/.kitchen.yml#L120) it seems to do the `gnupg-git` suite on 3 out of 6 distros. It's not clear to me why it might exclude `ubuntu-latest` but not `ubuntu-rolling`. @sobolevn is there a particular design as to which platforms the `gnupg-git` suite runs?

[2018-07-24 21:06] sobolevn commented on #235
It is better to ask @hurricanehrndz about it.

[2018-08-09 14:09] brontolinux commented on #227
@joshrabinowitz I was on vacation. Planning to check on this fix ASAP. Thanks!

[2018-08-17 11:34] simbo1905 opened #249 "change to master branch development model"
CONTRIBUTING.md says to send PRs against `develop` branch. I hadn't really internalised that so advised the person contributing #247 to send a PR against master as develop was broken with the problem was fixed on master.

IMHO the move to releasing from `/v.*/` tags seems like an opportunity to simplify things. People can send PRs against `master` and we can release a particular sha of master anyt

[2018-08-17 11:35] simbo1905 commented on #249
@sobolevn @joshrabinowitz ?

[2018-08-17 12:04] sobolevn commented on #249
@simbo1905 totally agree. This three branches thing did not work well at all.

I can delete `develop` if there's nothing useful in it.

[2018-08-17 13:53] joshrabinowitz commented on #249
I go along with the buildmasters. Sounds fine.

[2018-08-18 13:48] joshrabinowitz commented on #241
I confirmed that only the `gnupg1-ubuntu-*` builds are using the wrong version of GnuPG:

[code]

[2018-08-18 14:38] joshrabinowitz commented on #232
Closing

[2018-08-18 14:38] #232 closed

[2018-08-18 14:52] joshrabinowitz commented on #235
@simbo1905 I assumed the logic was to use the `gnupg-git` suite on one the most recent version of each of distro tested on (debian/ubunto/fedora).

I presumed
 * fedora was seen as representative of centos (maybe not valid),  and
 * since we don't test on 'rolling' versions of debian, `latest` is used for that `gnupg-git` test.

I figured he was just trying to keep the overall build times down sin

[2018-08-18 15:28] joshrabinowitz opened #250 "Document and test using SECRETS_DIR environment variable"
For #247 , which supports changing the name of the .gitsecret directory via the SECRETS_DIR env var.

@lrascao said:

[2018-08-18 15:46] joshrabinowitz commented on #250
Some ideas on how to test this feature:

Automate the test run to run every test twice, once with SECRETS_DIR set, and once without.
*  Pros: Comprehensive.
*  Cons: Doubles testing time.

OR

Always set the SECRETS_DIR env var in the test setup code and assume that the default .gitsecret works.
* Pros: Simple to implement. This is probably the right thing to do first.
* Cons: We're assuming it wo

[2018-08-26 17:14] #172 closed

[2018-08-31 08:28] fede91it opened #252 "How to install on Windows?"
Hi

How I should install git-secret on Windows OS?

[2018-08-31 10:14] sobolevn commented on #252
Hi, @fede91it! Thanks for bringing this up.

I am not a windows user, but there were reports about `git-secret` working on windows some time ago:
- https://github.com/sobolevn/git-secret/issues/40
- https://github.com/sobolevn/git-secret/issues?utf8=%E2%9C%93&q=is%3Aissue+windows

I am pretty sure that `git-secret` will work on ubuntu sub-system.
I would also recommend to try the "Manual" installa

[2018-09-03 11:33] sobolevn commented on #100
@apallennz welcome!

I am pretty sure there are some things you can help us with.
I would suggest to start from the documentation updates:

- just read through the existing docs and point out parts that are not easily understandable for you
- create new issues with "documentation" badge
- together we will try to fix the bad parts

You can start from `CONTRIBUTING.md` and `README.md` moving to the

[2018-09-03 12:28] apallennz commented on #100
Sounds good, thanks for responding

On 3/09/2018 11:33 PM, "Nikita Sobolev" <notifications@github.com> wrote:

[2018-09-05 05:42] dave-pollock opened #253 "Cannot encrypt new files unless all files are decrypted first"
I was surprised to hit this issue when trying out git-secret for the first time. I'm hoping I'm just doing something dumb. Basically I cannot encrypt new files added to git-secret unless all other files in the mapping.cfg file exist. In my case they may not exist as not all contributors will be given access to private keys, but I still want them to be able to encrypt new files.

What are the steps

[2018-09-05 16:05] joshrabinowitz commented on #250
#251 adds the test "Always set the SECRETS_DIR env var in the test setup code and assume that the default .gitsecret works" described above. It also documents use of the SECRETS_DIR env var.

git-secret.io still should probably be updated to reflect SECRETS_DIR changes

[2018-09-05 16:06] joshrabinowitz commented on #253
Hm, I can see some logic why git-secret wouldn't only encrypt some of the files: The keychain might have changed since the last encryption, and if we don't re-encrypt all of the files, some files may require different keys than others to decrypt.

@sobolevn @simbo1905 any thoughts?

[2018-09-05 16:16] joshrabinowitz commented on #252
@fede91it: as @sobolevn says, we've had reports about git-secret working well with windows 10 using the "Windows Subsystem for Linux" and Ubuntu <https://docs.microsoft.com/en-us/windows/wsl/install-win10>.

If you detail here how git-secret does/doesn't work for you on windows I'll add documentation about it to git-secret (unless you beat me to it!). Thanks for filing this issue.

[2018-09-05 16:58] joshrabinowitz opened #254 "update CONTRIBUTING.md to reflect current development and git-secret.io processes and branches"
We need to update CONTRIBUTING.md
* we don't use 'develop' branch any more
* we should document how the git-secret.io website is updated

[2018-09-05 18:13] joshrabinowitz commented on #252
I was just able to get git-secret's self-tests to pass after cloning the git-secret repo on the Ubuntu system on Windoes 10.

[2018-09-06 07:10] fede91it commented on #252
Thank you!

[2018-09-06 09:13] #252 closed

[2018-09-07 21:08] joshrabinowitz commented on #250
#255 updates the gh-pages branch for <http://git-secret.io>

[2018-09-08 15:45] joshrabinowitz commented on #238
The code should use `gpg --list-keys --with-colons` for this feature.

[2018-09-12 09:01] joaquin386 opened #259 "RPM package signing"
What are the steps to reproduce this issue?
-------------------------------------------
1. Using Spacewalk to install RPMs
2. Install git-secret (yum install git-secret)
3. Ask for gpg sign
Error: Package git-secret-0.2.4-1.noarch.rpm is not signed

What happens?
-------------
 RPM is not install

What were you expecting to happen?
----------------------------------
Sign the RPM and provide a GPG

[2018-09-12 22:47] adamgotterer commented on #238
Ran into a related problem today where someones key in the ring was expired. Spent over an hour trying to debug what happened before realizing it was an expired key. Basically hide was just exiting without any output. It would be great to know that a key was expired and that it couldn't en/decrypt.

[2018-09-16 06:53] apallennz commented on #100
so, question
what private data would you be wanting to store inside a git repo?

[2018-09-17 14:54] joshrabinowitz commented on #100
@apallennz some examples of secrets you might want to store in a git-secret repo include "This includes SSH keys, SSL private keys, API keys, passwords, and client secrets." <https://embeddedartistry.com/blog/2018/3/15/safely-storing-secrets-in-git>

[2018-09-18 12:44] joshrabinowitz commented on #238
@adamgotterer @JulianStier @sobolevn @simbo1905 I started working up a fix for this here:
https://github.com/sobolevn/git-secret/compare/master...joshrabinowitz:expired-keys

Feel free to comment or contribute

[2018-09-18 14:46] joshrabinowitz commented on #253
I'm planning to have git-secret issue a more explanatory error message.

[2018-09-18 21:53] dave-pollock commented on #253
I think the use case where a collaborator needs to add an encrypted secret but does not have access to the private key to decrypt the existing secrets is really useful, and just improving the error message doesn't help this use case.

Perhaps a warning instead of an error, but with an improved message? Something like:
`warning: file not found: secret/file1.txt. Any changes to the keychain since th

[2018-09-18 22:05] joshrabinowitz commented on #253
It would be good to have @sobolevn to chime in here.

I can see it from both sides, but I think a situation where a user thinks they can decrypt all the files but cannot is pretty bad.

Maybe this should remain a hard error, but the user can `-f` force it to succeed anyway?

[2018-09-19 05:34] simbo1905 commented on #253
I have run into this when renaming secrets. I have also often run into cases where I only want to encrypt a single file and have ended up with many files encrypted even when using the `-m` flag. The suggestion of being able to pass the file to encrypt to just encrypt a single file would appear to solve both cases.

[2018-09-20 20:13] joshrabinowitz commented on #244
See  #260

[2018-09-22 20:09] sobolevn commented on #244
Merged #260

[2018-09-22 22:40] #244 closed

[2018-09-23 14:03] joshrabinowitz commented on #238
Also @JulianStier and @adamgotterer , I realize this issue is fixed in the current development version of git-secret.  git-secret will now issue an error to let you know that the file could not be decrypted.

[2018-09-24 09:01] dave-pollock commented on #253
Hey guys,

I've had a crack at adding a -f flag to `hide` - see https://github.com/sobolevn/git-secret/pull/265. Any feedback appreciated.

Cheers.

[2018-09-24 12:21] joshrabinowitz commented on #253
@dave-pollock I also took a crack at this and went a different way: #263 (there's a broken test, but otherwise it looks good and has been approved for merge).

I think the way I did it is preferable (because of the explanation worked up with @sobolevn in https://github.com/sobolevn/git-secret/blob/82ef82a272560a0812d367ca564eddb6f381f4f1/man/man1/git-secret-hide.1.ronn ).  It's not safe to allow u

[2018-09-24 17:14] joshrabinowitz commented on #176
@sobolevn can you confirm that #243 this fixes this issue?

[2018-09-24 20:50] gitmalet opened #266 "Add per repository config option for SECRET_EXTENSION"
It would be great to have an option in some config file (preferably a tracked file inside `.gitsecrets`) to set the `SECRET_EXTENSION` for this repository.

What were you expecting to happen?
----------------------------------
The extension for git-secret managed files is set to the configured extension for the specific repository, overriding the environment variable.

[2018-09-24 21:59] sobolevn commented on #266
@archmalet that's an interesting idea indeed!

For example, for the next project I have decided to use custom secret files' extension.
So, now all other developers should also specify this variable somewhere in the code/docs/build tools. Keeping inside our own `.gitsecrets/` directory might help.

[2018-09-24 22:05] sobolevn commented on #176
@joshrabinowitz still happens to me with the `master` branch (`commit 6251fae396da5dc181f5a015b2cb5654616475dc (HEAD -> master, origin/master, origin/HEAD)`):

[code]

[2018-09-24 22:58] joshrabinowitz commented on #176
The underlying issue is that if you issue `gpg --export --armor substr`, it will export a text key for all the keys matching substr.

For example:

[code]

[2018-09-25 00:48] dave-pollock commented on #253
@joshrabinowitz fine with me as long as my use case is possible :)

I'll kill my PR.

[2018-09-25 21:09] sobolevn commented on #176
Closed via https://github.com/sobolevn/git-secret/pull/267

[2018-09-25 21:09] #176 closed

[2018-09-25 23:03] joshrabinowitz opened #268 "git secret tell/whoknows will match emails that are strict substrings"
As mentioned in #267:

if
-    you are using keys where one's email address is a substring of another's (for example bob@github.com and joebob@example.com),

then
-   using git secret tell/killperson bob@github.com will add/remove keys for both users and not just the one you probably meant.

[2018-09-26 15:30] joshrabinowitz commented on #268
update:
* https://www.gnupg.org/documentation/manuals/gnupg/Specify-a-User-ID.html says to use `<user@example.com'> (ie, with <>'s to select keys)
* but this doesn't work with keys generated with `'gpg --list-keys "<user@example.com>"`, because the email with those keys is stored without '<>'s (and gpg doesn't compensate for this).

[2018-09-26 20:54] joshrabinowitz commented on #268
There is apparently a fix for this in recent versions of GnuPG,
see https://dev.gnupg.org/T1927 from 2015.
It is not likely to be backported to 2.0 because GnuPG 2.0 is EOL

[2018-09-27 22:47] robinleander commented on #266
Interesting proposal! I've went ahead and implemented a possible solution for this!

Please tell me what you think!

[2018-09-28 14:19] joshrabinowitz commented on #254
@sobolevn I think you covered them all.

[2018-09-28 14:19] #254 closed

[2018-10-11 06:28] simbo1905 opened #271 "Git secret hide could check whether files are encrypted with latest keys"
There is a note in the git-secret-hide docs that all the files should be hidden all the time to prevent the committed keys having changed but the files not having been encrypted with the latest keys. If git secret kept a record of which files were encrypted with which keys it wouldn’t be necessary to encrypt all the files all the time. That would make a commit history less noisy under the common c

[2018-10-11 06:29] simbo1905 commented on #271
See #263 for the latest state in hide logic.

[2018-10-11 13:01] joshrabinowitz commented on #271
Maybe we could use the `mtime`s of the .secret files and the keychain to detect when the keychain has changed since the last encryption.
I don't _love_ the idea of keeping more records about secrets and keys. More complexity, more to get out of sync.

[2018-10-11 19:07] mi-mazouz opened #272 "git secret reveal - How to reveal files in no-tty mode"
Hello!!

I'm trying to reveal encrypted files from circleCi and I'm blocked when I want to reveal files without using a prompt passphrase. Here what I'm doing in my bash script at the moment:

[code]

It fails with the following error:

![screen shot 2018-10-11 at 21 02 52](https://user-images.githubusercontent.com/24244248/46827522-0f965180-cd99-11e8-9e95-cfbd766cf838.png)

I think I have a probl

[2018-10-12 07:31] #272 closed

[2018-10-12 17:01] joshrabinowitz commented on #253
Closed, -F 'force mode' implemented in #263

[2018-10-12 17:01] #253 closed

[2018-10-12 17:02] joshrabinowitz commented on #249
Shall we close this, @simbo1905 @sobolevn ?

[2018-10-12 17:12] simbo1905 commented on #249
Closing after checking the docs are now talking about master development.

[2018-10-12 17:12] #249 closed

[2018-10-28 10:19] jvassev opened #274 "git-secret doesn't work with gpg 2.0.x"
It looks like git-secret cannot decrypt a repo when it's encrypted with gpg 2.0.x.
This has to do with the removal of the secring.gpg: https://www.gnupg.org/faq/whats-new-in-2.1.html

I have "fixed" git-secret locally by just commenting these 3 lines:
https://github.com/sobolevn/git-secret/blob/7dd6177e28500fa643d3a4607d444b7b54e33182/src/_utils/_git_secret_tools.sh#L585-L587

It would be nice if

[2018-10-28 12:43] joshrabinowitz commented on #274
Hello @jvassev,
Thanks for this issue report.

Is this issue complete and correct? We perform automated tests with gpg 2.0.22.
(Here's an example: https://travis-ci.org/sobolevn/git-secret/jobs/446983235)
IE, Is this reproducible using only gpg 2.0.X (I ask because you link to changes in 2.1)

Might this issue actually have to do with inter-operation between different versions of gnupg?
(See: #204

[2018-10-28 12:58] jvassev commented on #274
I think my problem has to do with encrypting using gpg 2.1.0 and then failing to decrypt using 2.0.x.

The exact version which fails to decrypt is (ubuntu xenial):
gpg 2.0.22
libcrypt 1.5.3

I am encrypting with (centos 7):
gpg 2.1.15
libcrypt 1.7.8

[2018-11-03 13:19] snoopdouglas commented on #105
For any other future googlers: this error can also occur if you don't have read permissions on some of git-secret's files. Fix by doing `chown -R "$USER:$USER" .`.

[2018-11-03 13:57] joshrabinowitz opened #275 "make git-secret discern between ignored files and other .gitsecret/* issues"
As @nozzlegear and @snoopdouglas refer to in comments from Jan 3 2018 and Nov 3 2018 in #105 , git-secret can report the error `.gitsecret folder is ignored. abort`, when that is not the actual error.

To reproduce:
* install git-secret
* setup a new repo with git-secret
* remove read permissions from the files in .gitsecret: `chmod 000 .gitsecret/pubring.kbx`
* run `git-secret whoknows`.

What ha

[2018-11-20 05:40] ncpierson commented on #136
**For anyone else arriving here**, I created a Docker image that contains git-secret and gpg 2.2 to solve this problem for me. The repo (with usage documentation) is here: https://github.com/ncpierson/git-secret

I hope the maintainers don't mind me posting this.

[2018-11-20 09:16] sobolevn commented on #136
@ncpierson awesome! Thanks!

[2018-11-23 18:45] Benjamin-Dobell opened #276 "You did not specify a user ID"
What are the steps to reproduce this issue?
-------------------------------------------
1. Execute `git secret hide`

What happens?
-------------
I receive the prompt:

[code]

once for every file that is to be encrypted. i.e. `git-secret` is not setting the recipients, instead I have to do it manually.

What were you expecting to happen?
----------------------------------
git-secret to automatica

[2018-11-27 03:52] joshrabinowitz commented on #276
@Benjamin-Dobell Can you retest with the current development version of git-secret and let us know the results?

Also if you could provide all the git-secret commands needed to reproduce the issue that would be very helpful.

[2018-11-27 04:02] Benjamin-Dobell commented on #276
@joshrabinowitz It was when I reached step 5 of the official [usage instructions](http://git-secret.io/) that I ran into this, after adding 7 files.

*However*, after testing `master` it's all good:

[code]

My apologies for not testing `master` already. I'm just a little bit weary to use pre-release software for encryption/decryption purposes, in case of data loss. However, it seems to be working

[2018-11-27 04:02] #276 closed

[2018-11-27 14:05] joshrabinowitz commented on #276
Thank you for looking into that @Benjamin-Dobell , we really appreciate it.

@simbo1905 @sobolevn what do you guys think about releasing a new version of git-secret?

[2018-11-27 14:07] joshrabinowitz commented on #276
Also I suspect this issue may have been caused by #227 (keys with no info but the email address not recognized) which is fixed by #240 (fix for keys with only emails, and no usernames)

[2018-11-27 14:13] joshrabinowitz commented on #236
Releasing master as 0.2.5 will fix several problems people were having with 0.2.4 including:

#253 (Cannot encrypt new files unless all files are decrypted first),
#244 (freebsd support),
#230 (git secret hide malfunctions if not run at the root of the repository),
#226 (some commands fail when there is a space in the filename),
#254 (CONTRIBUTING.md and doc updates)

[2018-11-27 14:23] Benjamin-Dobell commented on #276
@joshrabinowitz That seems about right to me, my uid for my secret is simply an email address i.e.

[code]

Honestly, I probably ought to fix that!

[2018-11-27 14:32] simbo1905 commented on #276
+1 on releasing fixed master

[2018-11-27 14:44] joshrabinowitz commented on #276
@Benjamin-Dobell technically (according to gpg) that is an acceptable uid for the key.

So I think it's important that git-secret accept that as a UID, because it's very unlikely gpg is going to change.

[2018-11-27 14:45] joshrabinowitz commented on #236
@simbo1905 @sobolevn do you guys want me to work up a PR for 0.2.5?
In particular I think we need to update CHANGELOG.mg

[2018-11-27 16:38] sobolevn commented on #236
It would be awesome! @joshrabinowitz

What help do you need in releasing it?

[2018-11-27 17:10] joshrabinowitz commented on #236
@sobolevn I can prep the branch and the CHANGELOG.md but I'm not clear on the process required to actually make the release (correctly, with tags, releases for brew and apt, yum, dnf, etc).

I'll start the PR for 0.2.5 shortly.

[2018-11-27 17:43] sobolevn commented on #236
Hm, I should write the docs for this. Since the releases are managed in different ways on different platforms.

[2018-11-27 17:45] joshrabinowitz opened #277 "Add docs to git-secret.io after 0.2.5 release (SECRETS_DIR, more?)"
git-secret.io still should be updated to mention use of  SECRETS_DIR after 0.2.5 is released

~~See also: #236 , "release 0.2.5"~~ #236 closed

[2018-11-27 17:47] simbo1905 commented on #236
I thought i understood the release process until I read contributing.md and saw some things that weren't familiar. We should definitely patch the docs this time.

[2018-11-27 17:47] joshrabinowitz commented on #250
Since git-secret.io doc item moved to #250, this is complete

[2018-11-27 17:47] #250 closed

[2018-11-27 18:12] joshrabinowitz commented on #236
@simbo1905 @sobolevn can one of you patch the contributing.md docs in another PR?
Alternately you can tell me what to change in comments here and I'll apply them to this PR.

[2018-11-27 18:19] sobolevn commented on #236
I can do it on friday / weekend.

[2018-11-27 18:38] simbo1905 commented on #236
I have found that squash-and-merge of PRs creates a clean git log on the master branch while keeping the original commits on the incoming branch. If we standardised on squash-and-merge for future PRs and used the PR number in the squash then it will be way easier to see what is in each new release.

[2018-11-28 06:27] Benjamin-Dobell opened #279 "git-secret.io SSL"
What are the steps to reproduce this issue?
-------------------------------------------
1. Visit https://git-secret.io

What happens?
-------------
Browser displays an invalid certificate error.

What were you expecting to happen?
----------------------------------
The git-secret homepage to load via SSL.

Obviously given it's a static website this isn't the end of the Earth. Basically I just acci

[2018-11-28 06:30] sobolevn commented on #279
@Benjamin-Dobell thanks! I will have a look at it on weekend.

[2018-11-28 21:25] pgporada opened #280 "Issue encrypting a file when some uids are revoked"
Thanks a lot for this project! I am having a time because past me decided to revoke some uids on a key.

What are the steps to reproduce this issue?
-------------------------------------------
1. `git secret hide`

What happens?
-------------
I try to encrypt a file, but encounter a gpg error due to having revoked uids on my key. Addtionally, the encrypted file does not get created.
[code]

What w

[2018-11-29 15:32] joshrabinowitz commented on #280
Hello, @pgporada

1) Thank you for the detailed issue report!

2) It looks like you're testing with the master version of git-secret from git, which is helpful because that is the current dev version. (I'm pretty sure the behavior would be a little different with the released version 0.2.4, which also doesn't have the -F option. We won't discuss the released version of 0.2.4 here any more.).

3) I

[2018-11-29 15:48] joshrabinowitz opened #281 "Add tests to test behavior with 'expired' keys"
git-secret is not well very tested or documented with regards to what happens if keys in the keychain or expired or revoked.

See:

I suggest that we add tests specifically for ~~these two edge error cases~~ the expired key edge case (and ~~probably~~ maybe others) and document what users should expect from git-secret when using expired ~~/revoked/otherwise unusual~~ keys.

There's lots of error c

[2018-11-29 15:52] joshrabinowitz commented on #238
@sobolevn @simbo1905 @adamgotterer @JulianStier

I think we should close this issue as the current version of git-secret gives an error message in this case like:

It would be nice to directly detect the expired key, but that's not particularly trivial (See currently unfinished PR #262, "code to check expiration of keys")

Let me know if anyone has any additional input about this issue. If not, I'

[2018-11-29 18:03] pgporada commented on #280
@joshrabinowitz
1) Nice template for us reporters :)
2) That is correct, I used the latest commit (at the time) from the git repo when I installed git-secret yesterday.
3) Yes, I have pporada@greenlancer.com as a revuid on my personal GPG key. Those commands look familiar which means I probably ran something like that. I do have my main email address as unrevoked and I use it to sign my git commit

[2018-11-29 20:10] joshrabinowitz commented on #280
You wrote:

Git secret specifies gpg keys by email address.
The problem is that git-secret is referring to your key by the email address that it _was_ associated with it, and after you `revuid`that email address from the key, git-secret can no longer find that key in your gpg keyring.
I haven't tested it but I believe a solution would be to use `adduid` to add back the association between the emai

[2018-11-30 21:55] joshrabinowitz commented on #280
Closing as it seems this issue is understood and handled in the current code.

[2018-11-30 21:55] #280 closed

[2018-11-30 23:03] joshrabinowitz opened #283 "Feature request: better messaging about expired keys"
If gpg encounters an expired key while being used in git-secret, it can issue confusing error messages.

It would be nice to directly detect expired keys.

People have also requested features to show and maybe even warn users about keys and their expiration dates.

(_Edit: all above issues also apply to revoked keys_ EditToTheEdit: Except key revocation requires network access and so should be han

[2018-11-30 23:04] joshrabinowitz commented on #281
PR #262 tests behavior with expired keys.

[2018-11-30 23:17] joshrabinowitz commented on #281
On second thought, I don't think we should bother testing 'revuid'ed keys.

[2018-12-01 08:53] sobolevn opened #284 "Sustainability"
This is a discussion place about how to make this project sustainable for a long period of time.
Collaborators and people with experience in marketing / sustaining open-source projects are welcomed to the discussion.

I believe that every job should be fairly paid. And maintainers do a great job supporting and improving this package. Since, this project is fully open-source and does not generate p

[2018-12-01 08:55] sobolevn opened #285 "Create a list of 3rd party tutorials"
There are great articles on the internet about `git-secret`!

I guess, it would be awesome to list them somewhere in the docs or in wiki pages:
- https://medium.com/@GeorgiosGoniotakis/how-to-keep-your-repositorys-sensitive-data-secure-using-git-secret-c1ddc28cb985
-

[2018-12-01 09:02] sobolevn opened #286 "Add python wrapper notice to the docs"
We use wiki to store different projects that are somehow related with `gitsecret`. Today I have found this project: https://pypi.org/project/gitsecret/

It should be added to the docs as well.

Thanks @ivanklee86 for building it!